<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>
    <body>
        <%- include('./partials/header') %>

        <div class="parallax-window" data-parallax="scroll" data-image-src="img/bg.png">
            <div class="parallax-content container">
                <h2 style="color:whitesmoke;">1 поверх</h2>
            </div>
        </div>

<div class="plan">
	<?xml version="1.0" encoding="utf-8"?>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 2002.2 730.2" style="enable-background:new 0 0 2002.2 590.2;" xml:space="preserve">
	<style type="text/css">
		.st0{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-miterlimit:10;}
		.st1{fill:#E5E5E5;stroke:#000000;stroke-miterlimit:10;}
		.st2{opacity:0.67;fill:none;stroke:#1D1D1B;stroke-width:0.75;stroke-miterlimit:10;}
		.st3{fill: black; font-size:14px; font-family:'FranklinGothic-Medium';}
		.st4{fill: black; font-size:15px; font-family:'Lemon/Milk(RUS BY LYAJKA) Regular';}
		.st5{fill:#1D1D1B; font-size:15px;font-weight:700;}
		.st6{opacity: 0.3;fill:white;stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
        .st6:hover {fill:rgb(10, 20, 77);} 
		.st7{fill:#FFFFFF;stroke:#1D1D1B;stroke-miterlimit:10;}
		.stv{fill:#f03434; opacity:0.7;}
	</style>
	<g id="Слой_1">
        <g>
            <polyline class="st0" points="1563.9,406.6 1552.4,379.8 1540,379.8 1540,555.3 1610.4,555.3 1610.4,379.8 1598.4,379.8 
                1586.9,406.6 		"></polyline>
            <line class="st0" x1="1554.6" y1="421.9" x2="1595.8" y2="421.9"></line>
            <line class="st0" x1="1554.6" y1="434.5" x2="1595.8" y2="434.5"></line>
            <line class="st0" x1="1554.6" y1="447.1" x2="1595.8" y2="447.1"></line>
            <line class="st0" x1="1554.6" y1="459.7" x2="1595.8" y2="459.7"></line>
            <line class="st0" x1="1554.6" y1="472.3" x2="1595.8" y2="472.3"></line>
            <line class="st0" x1="1554.6" y1="484.9" x2="1595.8" y2="484.9"></line>
            <line class="st0" x1="1554.6" y1="497.5" x2="1595.8" y2="497.5"></line>
            <line class="st0" x1="1554.6" y1="510.1" x2="1595.8" y2="510.1"></line>
            <line class="st0" x1="1554.6" y1="522.7" x2="1595.8" y2="522.7"></line>
            <line class="st0" x1="1554.6" y1="535.3" x2="1595.8" y2="535.3"></line>
        </g>
        <g>
            <polyline class="st0" points="510.5,173.5 522,200.3 534.4,200.3 534.4,80.5 464,80.5 464,200.3 476,200.3 487.5,173.5 		"></polyline>
            <line class="st0" x1="477.7" y1="92.2" x2="518.9" y2="92.2"></line>
            <line class="st0" x1="477.7" y1="102.8" x2="518.9" y2="102.8"></line>
            <line class="st0" x1="477.7" y1="113.3" x2="518.9" y2="113.3"></line>
            <line class="st0" x1="477.7" y1="123.9" x2="518.9" y2="123.9"></line>
            <line class="st0" x1="477.7" y1="134.4" x2="518.9" y2="134.4"></line>
            <line class="st0" x1="477.7" y1="145" x2="518.9" y2="145"></line>
            <line class="st0" x1="477.7" y1="155.5" x2="518.9" y2="155.5"></line>
        </g>
		<polyline class="st0" points="1898.2,228.7 1908.8,200.3 1957.8,200.3 1957.8,379.8 1888.3,379.8 1878.1,352.6 	"></polyline>
		<polyline class="st0" points="1698.5,379.5 1667.4,379.5 1656.3,353.7 	"></polyline>
		<polyline class="st0" points="1638.3,379.5 1434.8,379.5 1423.3,353 	"></polyline>
		<polyline class="st0" points="1279.1,379.6 1207.4,379.6 1196.5,352.9 	"></polyline>
		<polyline class="st0" points="1410.5,379.6 1297.9,379.6 1287,352.9 	"></polyline>
		<polyline class="st0" points="1188.3,379.6 1119.4,379.6 1108.5,352.9 	"></polyline>
		<polyline class="st0" points="1100.7,379.6 1039.3,379.6 1028.5,352.7 	"></polyline>
		<polyline class="st0" points="1019.9,379.7 933.6,379.7 922.9,352.8 	"></polyline>
		<polyline class="st0" points="902.7,379.7 749,379.7 738.3,352.8 	"></polyline>
		<polyline class="st0" points="725.9,379.7 686.1,379.7 675.4,352.8 	"></polyline>
		<polyline class="st0" points="653.8,379.7 639.3,379.7 640.9,555.3 366.3,555.3 366.3,379.8 	"></polyline>
		<polyline class="st0" points="366.3,379.8 293.9,379.8 282.9,353 	"></polyline>
		<polyline class="st0" points="132.5,379.8 77.9,379.8 66.9,353 	"></polyline>
		<polyline class="st0" points="266.4,379.8 157.2,379.8 146.3,353 	"></polyline>
		<polyline class="st0" points="72.4,200.3 38.1,200.3 38.1,379.8 54.9,379.8 	"></polyline>
		<polyline class="st0" points="321.9,200.3 96.6,200.3 85.5,227.1 	"></polyline>
		<polyline class="st0" points="476,200.3 351.7,200.3 340.5,227.1 	"></polyline>
		<line class="st0" x1="712.5" y1="200.3" x2="522" y2="200.3"></line>
		<polyline class="st0" points="914.7,200.3 884.1,200.3 872.3,227.1 	"></polyline>
		<polyline class="st0" points="1081.9,200.3 955,200.3 939.5,226.4 	"></polyline>
		<polyline class="st0" points="1432,200.3 1325.6,200.3 1314.1,227.1 	"></polyline>
		<polyline class="st0" points="1537.8,200.3 1462.9,200.3 1451.3,227.1 	"></polyline>
		<polyline class="st0" points="1724.3,200.3 1559.2,200.3 1548.3,227.1 	"></polyline>
		<polyline class="st0" points="1879.3,200.3 1762.9,200.3 1751.6,227.1 	"></polyline>
		<path class="st0" d="M366.3,379.8"></path>
		<rect x="360.5" y="402.9" class="st1" width="10.9" height="64"></rect>
		<rect x="360.5" y="473.2" class="st1" width="10.9" height="64"></rect>
		<rect x="38.1" y="25.1" class="st0" width="1919.6" height="530.2"></rect>
		<path class="st2" d="M1777.9,200.3"></path>
		<path class="st2" d="M1847.1,200.3"></path>
		<g>
			<rect x="1533.9" y="25.1" class="st6" width="106" height="175.2" id="d14"></rect>
			<text transform="matrix(1 0 0 1 1541.8639 190.2587)" class="st4 ">114</text>
		</g>
		<g>
			<rect x="1392.5" y="25.1" class="st6 stv" width="141.4" height="175.2" id="d12"></rect>
			<text transform="matrix(1 0 0 1 1431.9509 190.2583)" class="st4">112</text>
		</g>
		<g>
			<rect x="1131.5" y="25.1" class="st6 stv" width="261.7" height="175.2" id="d10"></rect>
			<text transform="matrix(1 0 0 1 1298.3203 190.2587)" class="st4">110</text>
		</g>
		<rect x="1075.4" y="25.1" class="st6" width="56" height="175.2"></rect>
		<g>
			<rect x="898.1" y="25.1" class="st6 stv" width="177.3" height="175.2" id="d6"></rect>
			<text transform="matrix(1 0 0 1 919.6819 190.2587)" class="st4">106</text>
			<text transform="matrix(1 0 0 1 1010.7032 190.2587)" class="st4 ">108</text>
		</g>
		<g>
			<rect x="756.2" y="25.1" class="st6 stv" width="142" height="175.2" id="d4"></rect>
			<text transform="matrix(1 0 0 1 854.8511 190.2587)" class="st4 ">104 </text>
		</g>
		<g>
			<rect x="634.1" y="25.1" class="st6" width="122" height="175.2" id="d2"></rect>
			<text transform="matrix(1 0 0 1 712.4681 190.2587)" class="st4 ">102</text>
		</g>
		<g>
			<rect x="639.3" y="379.7" class="st6" width="60.3" height="175.6" id="dwc"></rect>
			<text transform="matrix(1 0 0 1 659.586 398.7562)" class="st4 ">WC</text>
		</g>
		<g>
			<rect x="699.5" y="379.7" class="st6" width="84.2" height="175.6" id="d3"></rect>
			<text transform="matrix(1.0715 0 0 1 727.8199 399.4054)" class="st4 ">103</text>
		</g>
		<g>
			<rect x="984" y="379.7" class="st6 stv" width="93" height="175.6" id="d9"></rect>
			<text transform="matrix(1 0 0 1 1018.7291 398.8384)" class="st4 ">109</text>
		</g>
		<g>
			<rect x="1147.8" y="379.7" class="st6 stv" width="97.4" height="175.6" id="d11"></rect>
			<text transform="matrix(1 0 0 1 1188.2854 398.7562)" class="st4 ">111</text>
		</g>
		<g>
			<rect x="1245.3" y="379.5" class="st6 stv" width="89.2" height="175.8" id="d13"></rect>
			<text transform="matrix(1 0 0 1 1279.0718 399.107)" class="st4 ">113</text>
		</g>
		<g>
			<rect x="1610.4" y="379.8" class="st6" width="70.5" height="175.5" id="dwc"></rect>
			<text transform="matrix(1 0 0 1 1638.3417 398.7562)" class="st4 ">WC</text>
		</g>
		<g>
			<rect x="1680.8" y="379.8" class="st6" width="78.8" height="175.5" id="dsh"></rect>
			<text transform="matrix(1 0 0 1 1687.4836 398.812)" class="st4 ">Щитова</text>
		</g>
		<g>
			<rect x="1334.7" y="379.8" class="st6 stv" width="205.3" height="175.5" id="d15"></rect>
			<text transform="matrix(1 0 0 1 1409.483 398.7562)" class="st4 ">115</text>
		</g>
		<g>
			<rect x="1839.5" y="379.5" class="st6" width="118.3" height="175.8" id="d21"></rect>
			<text transform="matrix(1 0 0 1 1869.4052 398.812)" class="st4 ">121</text>
		</g>
		<g>
			<rect x="38.1" y="379.6" class="st6" width="64.4" height="175.7" id="dwc"></rect>
			<text transform="matrix(1 0 0 1 58.2995 397.108)" class="st4 ">WC</text>
		</g>
		<g>
			<rect x="102.6" y="379.6" class="st6" width="113.8" height="175.7" id="d1"></rect>
			<text transform="matrix(1 0 0 1 134.5071 399.4054)" class="st4 ">101</text>
		</g>
		<g>
			<rect x="216.4" y="379.6" class="st6" width="149.5" height="175.7" id="d1"></rect>
			<text transform="matrix(1 0 0 1 266.4478 399.4054)" class="st4 ">101</text>
		</g>
		<g>
			<rect x="289.9" y="25.1" class="st6" width="76.4" height="175.2" id="dwc"></rect>
			<text transform="matrix(1 0 0 1 323.1908 190.16)" class="st4 ">WC</text>
		</g>
		<g>
			<rect x="38.1" y="25.1" class="st6" width="251.8" height="175.2" id="d0"></rect>
			<text transform="matrix(1 0 0 1 73.6842 189.9037)" class="st4 ">100</text>
		</g>
		<g>
			<rect x="1639.9" y="25.1" class="st6" width="195.7" height="175.2" id="d20"></rect>
			<text transform="matrix(1 0 0 1 1732.1356 190.2585)" class="st4 ">120</text>
		</g>
		<g>
			<rect x="1835.6" y="25.1" class="st6" width="122.1" height="175.2" id="d22"></rect>
			<text transform="matrix(1 0 0 1 1887.9764 190.2587)" class="st4 ">122</text>
		</g>
		<polyline class="st0" points="1759.6,379.1 1725.7,379.2 1714.6,353.3 	"></polyline>
		<polyline class="st0" points="854.9,200.3 737.7,200.3 723.2,227.1 	"></polyline>
		<g>
			<rect x="1077.1" y="379.8" class="st6 stv" width="70.7" height="175.5" id="d9a"></rect>
			<text transform="matrix(1 0 0 1 1100.6956 398.7562)" class="st4 ">109A</text>
		</g>
		<line class="st0" x1="1839.5" y1="379.5" x2="1867.8" y2="379.5"></line>
		<line class="st0" x1="1123.8" y1="200.3" x2="1297.9" y2="200.3"></line>
		<polyline class="st7" points="117.6,379.6 117.6,296.1 132.5,281.5 	"></polyline>
		<line class="st7" x1="117.6" y1="200.3" x2="117.6" y2="273"></line>
		<rect x="783.7" y="379.7" class="st6" width="70.7" height="175.6"></rect>
		<g>
			<rect x="854.2" y="379.7" class="st6" width="129.7" height="175.6" id="d5"></rect>
			<text transform="matrix(1.0715 0 0 1 906.5123 399.4054)" class="st4 ">105</text>
		</g>
	</g>
	<g id="Слой_2">
		<text transform="matrix(1 0 0 1 142.887 41.8483)" class="st3">78.7</text>
		<text transform="matrix(1 0 0 1 142.887 540.9622)" class="st3">23.7</text>
		<text transform="matrix(1 0 0 1 279.4615 540.9622)" class="st3">30.5</text>
		<text transform="matrix(1 0 0 1 58.244 540.9622)" class="st3">7.4</text>
		<text transform="matrix(1 0 0 1 658.4971 540.9622)" class="st3">7.4</text>
		<text transform="matrix(1 0 0 1 1710.3273 540.9622)" class="st3">15.7</text>
		<text transform="matrix(1 0 0 1 1638.2843 540.9622)" class="st3">7.7</text>
		<text transform="matrix(1 0 0 1 1427.6135 540.9622)" class="st3">65.4</text>
		<text transform="matrix(1 0 0 1 1279.472 540.9622)" class="st3">32.0</text>
		<text transform="matrix(1 0 0 1 1178.7833 540.9622)" class="st3">32.9</text>
		<text transform="matrix(1 0 0 1 1098.0149 540.9622)" class="st3">16.2</text>
		<text transform="matrix(1 0 0 1 1020.0375 540.9622)" class="st3">32.7</text>
		<text transform="matrix(1 0 0 1 908.6206 540.9622)" class="st3">45.4</text>
		<text transform="matrix(1 0 0 1 803.8759 540.9622)" class="st3">14.7</text>
		<text transform="matrix(1 0 0 1 732.2997 540.9622)" class="st3">15.3</text>
		<text transform="matrix(1 0 0 1 1883.168 540.9622)" class="st3">34.7</text>
		<text transform="matrix(1 0 0 1 317.5041 41.8483)" class="st3">11.4</text>
		<text transform="matrix(1 0 0 1 681.3115 41.8483)" class="st3">30.4</text>
		<text transform="matrix(1 0 0 1 812.0574 41.8483)" class="st3">48.3</text>
		<text transform="matrix(1 0 0 1 976.2963 41.8483)" class="st3">51.5</text>
		<text transform="matrix(1 0 0 1 1248.0343 41.8483)" class="st3">80.5</text>
		<text transform="matrix(1 0 0 1 1456.7552 41.8483)" class="st3">48.0</text>
		<text transform="matrix(1 0 0 1 1576.4424 41.8483)" class="st3">32.3</text>
		<text transform="matrix(1 0 0 1 1726.0997 41.8483)" class="st3">49.2</text>
		<text transform="matrix(1 0 0 1 1886.2317 41.8483)" class="st3">34.5</text>
		<line class="st0" x1="1680.8" y1="379.8" x2="1680.8" y2="200.3"></line>
	</g>
	<g id="Слой_6">
		<polyline class="st0" points="52.9,602.9 56.6,611.4 60.5,611.4 60.5,573.3 38.1,573.3 38.1,611.4 41.9,611.4 45.6,602.9 		"></polyline>
		<rect x="38.1" y="621.1" class="st1" width="11" height="44.9"></rect>
		<text transform="matrix(1 0 0 1 68.8309 595.8264)" style="font-size: 15px; font-weight:500;" class="st5">Сходи</text>
		<text transform="matrix(1 0 0 1 68.8309 647.1559)" style="font-size: 15px; font-weight:500;" class="st5">Ліфт</text>
		<rect x="38.1" y="676.7" class="stv" width="19.7" height="46"></rect>
		<text transform="matrix(1 0 0 1 68.8309 705.2941)" style="font-size: 15px; font-weight:500;" class="st5">Відділ</text>
	</g>
	</svg>
</div>         

<div class="ui-60" style="	background: rgb(40, 72, 214);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="margin-top: 50px;">
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-blue4 circle">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    
                    <div class="ui-plan">
                        <h4>1 поверх</h4>
                        <p>Загальна площа - 1152.75 м²</p>
                        <p>Загальна кількість кабінетів - 19</p>
                    </div>
                
                </div>
                <div class="ui-item clearfix">
                                    
                    <div>
                        <div class="row">
        
                            <div class="col-md-6">
                                <h4>Чадний газ</h4>
                            </div>
                            <div class="col-md-6">
                                <p id="co2"></p>
                            </div>
                        </div>

                        <div class="row">
        
                            <div class="col-md-4">
                                <div class="ui-price bg-greenco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                <h6 style="font-weight: 100; margin-top: 2px;">  &lt; 1000 ppm</h6>
                           </div>
                      
        
                            <div class="col-md-4">
                                <div class="ui-price bg-yellowco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                <h6 style="font-weight: 100; margin-top: 2px;"> 1000 - 5000 ppm</h6>
                            </div>
                       
        
                            <div class="col-md-4">
                                <div class="ui-price bg-redco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                <h6 style="font-weight: 100; margin-top: 2px;"> &gt; 5000 ppm</h6>
                            </div>
                        </div>

                        <div class="row">
        
                            <div class="col-md-7">
                                <h4>Якість повітря (AQI)</h4>
                            </div>
                            <div class="col-md-5">
                                <p id="tvoc"></p> 
                            </div>
                        </div>

                        <div class="row">
        
                            <div class="col-md-4">
                                <div class="ui-price bg-greenco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                <h6 style="font-weight: 100; margin-top: 2px;">  0 - 220 </h6>
                           </div>
                      
        
                            <div class="col-md-4">
                                <div class="ui-price bg-yellowco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                <h6 style="font-weight: 100; margin-top: 2px;"> 220 - 2200</h6>
                            </div>
                       
        
                            <div class="col-md-4">
                                <div class="ui-price bg-redco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                <h6 style="font-weight: 100; margin-top: 2px;"> 2200 - 5500 </h6>
                            </div>
                        </div>

                </div>
            </div> 
            </div> 
            </div>

            <div class="col-md-6">
                <div class="zoomA">
                    <?xml version="1.0" encoding="utf-8"?>
                    <svg version="1.1" id="_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 161.6 161.6" style="enable-background:new 0 0 161.6 161.6;" xml:space="preserve" width="450px" height="550px">
                    <style type="text/css">
                        .st0t{fill:#C9CACB;stroke:#66676A;stroke-width:0.5;stroke-miterlimit:10;}
                        .st1t{fill:#EFEFEF;}
                        .st2t{fill:#d3d3d0;stroke:#515152;stroke-width:0.4;}
                        .st3t{fill:#E1E1E2;}
                        .st4t{fill:#66A1D7;}
                        .st5t{font-size:5px; font-weight: 600;}
                        .st6t{font-size:4px;font-family:'MyriadPro-Regular';}
                        .st8t{fill:#981715;}
                        .st9t{fill:none;stroke:#981715;stroke-width:2;stroke-miterlimit:10;}
                        .st10t{opacity:0.29;fill:#FFFFFF;}
                        .zoomA { height: auto;transition: transform ease-in-out 0.3s; }
                        .zoomA:hover { transform: scale(1.5); }
                    </style>
                    <g>
                        <path class="st0t" d="M90.9,139.7H70.7c-3.8,0-6.9-3.2-6.9-7.1V24.7c0-3.9,3.1-7.1,6.9-7.1h20.2c3.8,0,6.9,3.2,6.9,7.1v107.8
                            C97.7,136.5,94.7,139.7,90.9,139.7z"></path>
                        <path class="st1t" d="M90.3,138.8H71.3c-3.6,0-6.5-3.2-6.5-7V25.3c0-3.9,2.9-7,6.5-7h19.1c3.6,0,6.5,3.2,6.5,7v106.4
                            C96.8,135.6,93.9,138.8,90.3,138.8z"></path>
                    </g>
                    <g>
                        <rect x="68.6" y="46" width="24.4" height="0.3"></rect>
                        <rect x="75.6" y="47.4" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="48.8" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="50.2" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="51.7" width="10.3" height="0.3"></rect>
                        <rect x="74" y="53.1" width="13.6" height="0.3"></rect>
                        <rect x="75.6" y="54.5" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="55.9" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="57.3" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="58.7" width="10.3" height="0.3"></rect>
                        <rect x="68.6" y="60.1" width="24.4" height="0.3"></rect>
                        <rect x="75.6" y="61.5" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="63" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="64.4" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="65.8" width="10.3" height="0.3"></rect>
                        <rect x="74" y="67.2" width="13.6" height="0.3"></rect>
                        <rect x="75.6" y="68.6" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="70" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="71.4" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="72.8" width="10.3" height="0.3"></rect>
                        <rect x="68.6" y="74.3" width="24.4" height="0.3"></rect>
                        <rect x="75.6" y="75.7" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="77.1" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="78.5" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="79.9" width="10.3" height="0.3"></rect>
                        <rect x="74" y="81.3" width="13.6" height="0.3"></rect>
                        <rect x="75.6" y="82.7" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="84.1" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="85.6" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="87" width="10.3" height="0.3"></rect>
                        <rect x="68.6" y="88.4" width="24.4" height="0.3"></rect>
                        <rect x="75.6" y="89.8" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="91.2" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="92.6" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="94" width="10.3" height="0.3"></rect>
                        <rect x="74" y="95.4" width="13.6" height="0.3"></rect>
                        <rect x="75.6" y="96.9" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="98.3" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="99.7" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="101.1" width="10.3" height="0.3"></rect>
                        <rect x="68.6" y="102.5" width="24.4" height="0.3"></rect>
                        <rect x="75.6" y="103.9" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="105.3" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="106.7" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="108.2" width="10.3" height="0.3"></rect>
                        <rect x="74" y="109.6" width="13.6" height="0.3"></rect>
                        <rect x="75.6" y="111" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="112.4" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="113.8" width="10.3" height="0.3"></rect>
                        <rect x="75.6" y="115.2" width="10.3" height="0.3"></rect>
                        <rect x="68.6" y="116.6" width="24.4" height="0.3"></rect>
                        <g>
                            <path d="M89.5,116H89v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V116z"></path>
                            <path d="M93,113.7c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V113.7z M92.5,112.8
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V112.8z"></path>
                        </g>
                        <g>
                            <path d="M70.3,116h-0.5v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V116z"></path>
                            <path d="M73.9,113.7c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V113.7z M73.4,112.8
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V112.8z"></path>
                        </g>
                        <g>
                            <path d="M93,99.6c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V99.6z M92.5,98.6
                                c0-0.6,0-1-0.1-1.2C92.3,97.1,92.2,97,92,97c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V98.6z"></path>
                        </g>
                        <g>
                            <path d="M70.7,43.6h0.4v0.6h-0.4v1.2h-0.5v-1.2h-1.5v-0.4l1.5-3.7h0.5V43.6z M69.3,43.6h1V41L69.3,43.6z"></path>
                            <path d="M73.9,43.1c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V43.1z M73.4,42.2
                                c0-0.6,0-1-0.1-1.2s-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V42.2z"></path>
                        </g>
                        <g>
                            <path d="M69.5,56.5h0.3c0.2,0,0.4-0.1,0.5-0.2c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-0.9-0.5-0.9c-0.2,0-0.3,0.1-0.4,0.3
                                c-0.1,0.2-0.1,0.4-0.1,0.7h-0.5c0-0.4,0.1-0.8,0.3-1.1c0.2-0.3,0.4-0.4,0.8-0.4c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1.1
                                c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.2,0.4-0.4,0.5c0.4,0.2,0.6,0.6,0.6,1.3c0,0.5-0.1,0.9-0.3,1.1c-0.2,0.3-0.5,0.4-0.8,0.4
                                c-0.3,0-0.6-0.1-0.8-0.4c-0.2-0.3-0.3-0.6-0.3-1.1h0.5c0,0.3,0.1,0.5,0.2,0.7c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0,0.3-0.1,0.4-0.2
                                c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-1-0.7-1h-0.3V56.5z"></path>
                            <path d="M73.9,57.2c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V57.2z M73.4,56.3
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V56.3z"></path>
                        </g>
                        <g>
                            <path d="M71.1,73.6h-2.3v-0.5l1.2-2c0.2-0.3,0.3-0.6,0.4-0.8c0.1-0.2,0.1-0.4,0.1-0.6c0-0.3,0-0.5-0.1-0.7
                                c-0.1-0.2-0.2-0.3-0.4-0.3c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.2-0.2,0.5-0.2,0.8h-0.5c0-0.5,0.1-0.9,0.3-1.2c0.2-0.3,0.5-0.5,0.8-0.5
                                c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1c0,0.5-0.2,1.2-0.6,1.9l-0.9,1.6h1.7V73.6z"></path>
                            <path d="M73.9,71.3c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V71.3z M73.4,70.4
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V70.4z"></path>
                        </g>
                        <g>
                            <path d="M70.3,87.7h-0.5v-4.5L69,83.7v-0.6l1.3-0.7h0.1V87.7z"></path>
                            <path d="M73.9,85.4c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V85.4z M73.4,84.5
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V84.5z"></path>
                        </g>
                        <g>
                            <path d="M89.9,43.6h0.4v0.6h-0.4v1.2h-0.5v-1.2h-1.5v-0.4l1.5-3.7h0.5V43.6z M88.5,43.6h1V41L88.5,43.6z"></path>
                            <path d="M93,43.1c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V43.1z M92.5,42.2
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V42.2z"></path>
                        </g>
                        <g>
                            <path d="M88.7,56.5H89c0.2,0,0.4-0.1,0.5-0.2c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-0.9-0.5-0.9c-0.2,0-0.3,0.1-0.4,0.3
                                c-0.1,0.2-0.1,0.4-0.1,0.7H88c0-0.4,0.1-0.8,0.3-1.1c0.2-0.3,0.4-0.4,0.8-0.4c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1.1
                                c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.2,0.4-0.4,0.5c0.4,0.2,0.6,0.6,0.6,1.3c0,0.5-0.1,0.9-0.3,1.1c-0.2,0.3-0.5,0.4-0.8,0.4
                                c-0.3,0-0.6-0.1-0.8-0.4c-0.2-0.3-0.3-0.6-0.3-1.1h0.5c0,0.3,0.1,0.5,0.2,0.7c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0,0.3-0.1,0.4-0.2
                                c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-1-0.7-1h-0.3V56.5z"></path>
                            <path d="M93,57.2c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V57.2z M92.5,56.3
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4s0.1-0.7,0.1-1.2V56.3z"></path>
                        </g>
                        <g>
                            <path d="M90.3,73.6h-2.3v-0.5l1.2-2c0.2-0.3,0.3-0.6,0.4-0.8c0.1-0.2,0.1-0.4,0.1-0.6c0-0.3,0-0.5-0.1-0.7
                                c-0.1-0.2-0.2-0.3-0.4-0.3c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.2-0.2,0.5-0.2,0.8H88c0-0.5,0.1-0.9,0.3-1.2c0.2-0.3,0.5-0.5,0.8-0.5
                                c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1c0,0.5-0.2,1.2-0.6,1.9l-0.9,1.6h1.7V73.6z"></path>
                            <path d="M93,71.3c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V71.3z M92.5,70.4
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V70.4z"></path>
                        </g>
                        <g>
                            <path d="M89.5,87.7H89v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V87.7z"></path>
                            <path d="M93,85.4c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V85.4z M92.5,84.5
                                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V84.5z"></path>
                        </g>
                        <g>
                            <path d="M71,99.6c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V99.6z M70.6,98.6
                                c0-0.6,0-1-0.1-1.2C70.3,97.1,70.2,97,70,97c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V98.6z"></path>
                        </g>
                        <g>
                            <path d="M85.5,35.1c0-0.2,0-0.4,0.1-0.5c0.1-0.1,0.2-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.3,0.1,0.5v0.1
                                c0,0.2,0,0.4-0.1,0.5C86.3,35.9,86.2,36,86,36c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.1-0.3-0.1-0.5V35.1z M85.7,35.3
                                c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2-0.1c0-0.1,0.1-0.2,0.1-0.3v-0.2c0-0.1,0-0.2-0.1-0.3
                                c0-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2,0.1c0,0.1-0.1,0.2-0.1,0.3V35.3z"></path>
                            <path d="M88.7,36.5c0,0.3-0.1,0.6-0.2,0.7c-0.1,0.2-0.3,0.2-0.6,0.2c-0.3,0-0.5-0.1-0.6-0.3C87,36.9,87,36.6,87,36.2v-0.5
                                c0-0.4,0.1-0.7,0.2-0.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.6,0.3c0.1,0.2,0.2,0.4,0.2,0.7h-0.3c0-0.2-0.1-0.4-0.1-0.5
                                c-0.1-0.1-0.2-0.2-0.3-0.2c-0.2,0-0.3,0.1-0.4,0.2c-0.1,0.2-0.1,0.4-0.1,0.7v0.5c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.2,0.4,0.2
                                c0.2,0,0.3,0,0.4-0.1c0.1-0.1,0.1-0.3,0.1-0.5H88.7z"></path>
                        </g>
                    </g>
                    <g>
                        <path class="st2t" d="M92.3,31h-23c-1.2,0-2.1-1-2.1-2.1V23c0-1.2,1-2.1,2.1-2.1h23c1.2,0,2.1,1,2.1,2.1v5.9
                            C94.4,30,93.5,31,92.3,31z"></path>
                        <path class="st3t" d="M91.9,30.9H69.6c-1.2,0-2.1-1-2.1-2.1v-5.6c0-1.2,1-2.1,2.1-2.1h22.3c1.2,0,2.1,1,2.1,2.1v5.6
                            C94.1,29.9,93.1,30.9,91.9,30.9z"></path>
                        <path class="st4t" d="M92.9,26.5c0,2.4-1.4,3.3-3.2,3.3c-1.8,0-3.2-1-3.2-3.3c0-1.9,2-4,2.8-4.9c0.2-0.2,0.5-0.2,0.7,0
                            C90.9,22.5,92.9,24.7,92.9,26.5z"></path>
                            <text id="hmdt" transform="matrix(1 0 0 1 70.5903 27.5953)" class="st5t"></text>
                        <text transform="matrix(1 0 0 1 88.5903 27.5953)" class="st6t">%</text>
                    </g>
                    <ellipse class="st8t" id="ball" cx="80.8" cy="130.7" rx="2.2" ry="1.9"></ellipse>
                    <line class="st9t" id="bar" x1="80.8" y1="130" x2="80.8" y2="69.9"></line>
                    <path class="st10t" d="M80,33c0.4-0.1,0.8-0.2,1.3-0.2c0.8,0.1,1.4,0.8,1.4,1.6l-0.3,93.5c0,0,1,0.7,1.3,1.9c0.3,1.6-0.8,3.1-2.4,3.4
                        c-0.9,0.2-2.2,0-2.9-0.7c-1.3-1.3-1.1-3.4,0-4.5c0,0,0.6-84.5,0.6-93.7C79.1,33.8,79.4,33.2,80,33z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>


        <%- include('./partials/footer') %>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>
        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>

        <script src="js/getDataFromJson.js"> </script>
        <script src="js/register_tippy.js">  </script> 
		<script src="js/temperature.js"></script>
        <script> registerTippiesForBuildingAndFloor(1, 1); </script>
        
        </body>
        </html>