<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>

<!-- <head>
    <meta charset="utf-8">
    <title>1 корпус 1 поверх</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script href="script.js"></script>
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head> -->

    <body>
        <%- include('./partials/header') %>

        <div class="parallax-window" data-parallax="scroll" data-image-src="img/ped.png">
            <div class="parallax-content container">
                <h2 style="color:whitesmoke;">Педагогічний факультет</h2>
                <h3 style="color:whitesmoke;">2 поверх</h3>
            </div>
        </div>

        <div class="plan">

            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 2002.2 670.2" style="enable-background:new 0 0 2002.2 590.2;" xml:space="preserve">
            <style type="text/css">
                .st1{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-miterlimit:10;}
                .st2{fill:#E5E5E5;stroke:#000000;stroke-miterlimit:10;}
                .st3{fill:#1D1D1B; font-size:12px;font-weight:700;}
                .st5{fill: black; font-size:15px; font-family:'Lemon/Milk(RUS BY LYAJKA) Regular';}
                .st6{fill: black; font-size:14px; font-family:'FranklinGothic-Medium';}
                .st7{opacity: 0.3;fill:white;stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
                .st7:hover {fill:rgb(255, 238, 0);                }
                .st8{opacity: 0.7;fill:rgb(19, 214, 221);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
                .st8:hover { fill:rgb(0, 247, 255)  }
                .st9{opacity: 0.7;fill:rgb(12, 155, 180);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
                .st9:hover { fill:rgb(2, 193, 226)  }
                .st9{opacity: 0.7;fill:rgb(12, 155, 180);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
                .st9:hover { fill:rgb(2, 193, 226)  }
                .st10{opacity: 0.7;fill:rgb(65, 136, 230);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
                .st10:hover { fill:rgb(110, 171, 250) }
            </style>
            <g id="Слой_1">
                <g>
                    <polyline class="st1" points="1563.9,406.6 1552.4,379.8 1540,379.8 1540,555.3 1610.4,555.3 1610.4,379.8 1598.4,379.8 
                        1586.9,406.6 		"></polyline>
                    <line class="st1" x1="1554.6" y1="421.9" x2="1595.8" y2="421.9"></line>
                    <line class="st1" x1="1554.6" y1="434.5" x2="1595.8" y2="434.5"></line>
                    <line class="st1" x1="1554.6" y1="447.1" x2="1595.8" y2="447.1"></line>
                    <line class="st1" x1="1554.6" y1="459.7" x2="1595.8" y2="459.7"></line>
                    <line class="st1" x1="1554.6" y1="472.3" x2="1595.8" y2="472.3"></line>
                    <line class="st1" x1="1554.6" y1="484.9" x2="1595.8" y2="484.9"></line>
                    <line class="st1" x1="1554.6" y1="497.5" x2="1595.8" y2="497.5"></line>
                    <line class="st1" x1="1554.6" y1="510.1" x2="1595.8" y2="510.1"></line>
                    <line class="st1" x1="1554.6" y1="522.7" x2="1595.8" y2="522.7"></line>
                    <line class="st1" x1="1554.6" y1="535.3" x2="1595.8" y2="535.3"></line>
                </g>
                <g>
                    <polyline class="st1" points="510.5,173.5 522,200.3 534.4,200.3 534.4,80.5 464,80.5 464,200.3 476,200.3 487.5,173.5 		"></polyline>
                    <line class="st1" x1="477.7" y1="92.2" x2="518.9" y2="92.2"></line>
                    <line class="st1" x1="477.7" y1="102.8" x2="518.9" y2="102.8"></line>
                    <line class="st1" x1="477.7" y1="113.3" x2="518.9" y2="113.3"></line>
                    <line class="st1" x1="477.7" y1="123.9" x2="518.9" y2="123.9"></line>
                    <line class="st1" x1="477.7" y1="134.4" x2="518.9" y2="134.4"></line>
                    <line class="st1" x1="477.7" y1="145" x2="518.9" y2="145"></line>
                    <line class="st1" x1="477.7" y1="155.5" x2="518.9" y2="155.5"></line>
                </g>
                <polyline class="st1" points="1540,379.8 1450.1,379.5 1438.7,353 	"></polyline>
                <polyline class="st1" points="1421.2,379.6 1277,379.6 1266,352.9 	"></polyline>
                <polyline class="st1" points="1244,379.6 1168.4,379.6 1157.4,352.9 	"></polyline>
                <polyline class="st1" points="1149.3,379.6 1061.5,379.6 1050.7,352.7 	"></polyline>
                <polyline class="st1" points="1040.8,379.6 981.6,379.6 971,352.7 	"></polyline>
                <polyline class="st1" points="961.7,379.7 844.2,379.7 833.5,352.8 	"></polyline>
                <polyline class="st1" points="823.2,379.7 765.8,379.7 755.1,352.8 	"></polyline>
                <polyline class="st1" points="746.7,379.7 676.7,379.7 666,352.8 	"></polyline>
                <polyline class="st1" points="653.8,379.7 639.3,379.7 640.9,555.3 366.3,555.3 366.3,379.8 	"></polyline>
                <polyline class="st1" points="366.3,379.8 343.3,379.8 332.3,353 	"></polyline>
                <polyline class="st1" points="205.2,379.8 130.6,379.8 119.6,353 	"></polyline>
                <polyline class="st1" points="316.4,379.8 227.9,379.8 216.9,353 	"></polyline>
                <polyline class="st1" points="208.4,200.3 38.1,200.3 38.1,379.8 111.4,379.8 	"></polyline>
                <polyline class="st1" points="318.3,200.3 242.2,200.3 231.3,226.4 	"></polyline>
                <polyline class="st1" points="476,200.3 351.7,200.3 340.5,227.1 	"></polyline>
                <line class="st1" x1="699.6" y1="200.3" x2="522" y2="200.3"></line>
                <polyline class="st1" points="909.6,200.3 836.6,200.3 822,227.1 	"></polyline>
                <polyline class="st1" points="1050.2,200.3 930.4,200.3 918.6,227.1 	"></polyline>
                <polyline class="st1" points="1144.2,200.3 1075.4,200.3 1059.9,226.4 	"></polyline>
                <polyline class="st1" points="1219.8,200.3 1179.7,200.3 1168.5,226.4 	"></polyline>
                <polyline class="st1" points="1389.1,200.3 1248.1,200.3 1236.6,227.1 	"></polyline>
                <polyline class="st1" points="1536.9,200.3 1409.3,200.7 1398.3,226.7 	"></polyline>
                <polyline class="st1" points="1643.7,200.3 1563.8,200.3 1552.1,227.1 	"></polyline>
                <polyline class="st1" points="1885.6,200.3 1675.6,200.3 1664.7,227.1 	"></polyline>
                <path class="st1" d="M366.3,379.8"></path>
                <rect x="360.5" y="402.9" class="st2" width="10.9" height="64"></rect>
                <rect x="360.5" y="473.2" class="st2" width="10.9" height="64"></rect>
                <rect x="38.1" y="25.1" class="st1" width="1919.6" height="530.2"></rect>
                <path class="st1" d="M1777.9,200.3"></path>
                <path class="st1" d="M1847.1,200.3"></path>
                <g>
                    <rect x="639.3" y="379.7" class="st7" width="93" height="175.6" id="dwc"></rect>
                    <text transform="matrix(1 0 0 1 659.586 398.7562)" class="st5 ">WC</text>
                </g>
                <g>
                    <rect x="732.3" y="379.7" class="st8" width="76.2" height="175.6" id="d5"></rect>
                    <text transform="matrix(1 0 0 1 744.8059 399.4054)" class="st5 ">205</text>
                </g>
                <g>
                    <rect x="808.5" y="379.7" class="st8" width="136.5" height="175.6" id="d7"></rect>
                    <text transform="matrix(1 0 0 1 823.2468 398.8375)" class="st5 ">207 </text>
                </g>
                <g>
                    <rect x="944.7" y="379.7" class="st8" width="84.1" height="175.6" id="d9"></rect>
                    <text transform="matrix(1 0 0 1 961.6738 398.9286)" class="st5 ">209</text>
                </g>
                <g>
                    <rect x="281.3" y="380.1" class="st7" width="84.6" height="175.5" id="d3a"></rect>
                    <text transform="matrix(1 0 0 1 316.3938 399.4054)" class="st5 ">203A</text>
                </g>
                <g>
                    <rect x="38.1" y="379.6" class="st7" width="132.8" height="175.7" id="d1"></rect>
                    <text transform="matrix(1 0 0 1 111.4054 397.107)" class="st5 ">201</text>
                </g>
                <g>
                    <rect x="171" y="379.6" class="st10" width="110.3" height="175.7" id="d3"></rect>
                    <text transform="matrix(1 0 0 1 205.1926 399.4054)" class="st5 ">203</text>
                </g>
                <g>
                    <rect x="262.5" y="25.1" class="st7" width="103.8" height="175.2" id="d4"></rect>
                    <text transform="matrix(1 0 0 1 323.1908 190.16)" class="st5">204</text>
                </g>
                <g>
                    <rect x="38.1" y="25.1" class="st8" width="224.4" height="175.2" id="d2"></rect>
                    <text transform="matrix(1 0 0 1 211.4778 190.16)" class="st5">202</text>
                </g>
                <polyline class="st1" points="817.8,200.3 721.1,200.3 706.5,227.1 	"></polyline>
                <line class="st1" x1="1610.4" y1="379.8" x2="1639.6" y2="379.8"></line>
            </g>
            <g id="Слой_4">
                <text transform="matrix(1 0 0 1 86.5458 548.9386)" class="st6">33.4</text>
                <text transform="matrix(1 0 0 1 218.2065 548.9386)" class="st6">31.4</text>
                <text transform="matrix(1 0 0 1 321.0995 548.9386)" class="st6">15.7</text>
                <text transform="matrix(1 0 0 1 660.8553 548.9386)" class="st6">17.9</text>
                <text transform="matrix(1 0 0 1 757.5482 548.9386)" class="st6">15.9</text>
                <text transform="matrix(1 0 0 1 870.2776 548.9386)" class="st6">52.0</text>
                <text transform="matrix(1 0 0 1 976.2859 548.9386)" class="st6">30.4</text>
                <g>
                    <rect x="1028.8" y="379.7" class="st8" width="89.4" height="175.6" id="d11"></rect>
                    <text transform="matrix(1 0 0 1 1038.9659 398.7562)" class="st5">211</text>
                    <text transform="matrix(1 0 0 1 1063.0969 548.9376)" class="st6">32.4</text>
                </g>
                <g>
                    <rect x="1118.4" y="379.7" class="st8" width="89" height="175.6" id="d13"></rect>
                    <text transform="matrix(1 0 0 1 1149.292 398.7562)" class="st5">213</text>
                    <text transform="matrix(1 0 0 1 1150.561 548.9386)" class="st6">32.0</text>
                </g>
                <g>
                    <rect x="1207.4" y="379.5" class="st8" width="180.3" height="175.8" id="d15"></rect>
                    <text transform="matrix(1 0 0 1 1245.6395 399.108)" class="st5">215</text>
                    <text transform="matrix(1 0 0 1 1281.0861 548.9376)" class="st6">66.3</text>
                </g>
                <g>
                    <rect x="1387.6" y="379.8" class="st8" width="152.3" height="175.5" id="d17"></rect>
                    <text transform="matrix(1 0 0 1 1429.9666 398.7562)" class="st5">217</text>
                    <text transform="matrix(1 0 0 1 1452.6825 548.9386)" class="st6">51.7</text>
                </g>
                <g>
                    <rect x="1610.4" y="379.8" class="st7" width="69.2" height="175.5" id="dwc"></rect>
                    <text transform="matrix(1 0 0 1 1638.3417 398.7562)" class="st5">WC</text>
                    <text transform="matrix(1 0 0 1 1642.2369 548.9376)" class="st6">7.9</text>
                </g>
                <text transform="matrix(1 0 0 1 139.8437 40.1944)" class="st6">68.3</text>
                <text transform="matrix(1 0 0 1 299.3691 40.1944)" class="st6">30.7</text>
                <g>
                    <rect x="634.1" y="25.1" class="st7" width="101.6" height="175.2" id="d6"></rect>
                    <text transform="matrix(1 0 0 1 700.6641 190.2587)" class="st5">206</text>
                    <text transform="matrix(1 0 0 1 681.1362 40.1944)" class="st6">31.6</text>
                </g>
                <g>
                    <rect x="735.7" y="25.1" class="st7" width="108.9" height="175.2" id="d8"></rect>
                    <text transform="matrix(1 0 0 1 810.6608 190.2587)" class="st5">208</text>
                    <text transform="matrix(1 0 0 1 782.2273 40.1944)" class="st6">32.3</text>
                </g>
                <g>
                    <rect x="844.4" y="25.1" class="st8" width="130.3" height="175.2" id="d10"></rect>
                    <text transform="matrix(1 0 0 1 908.7232 190.2587)" class="st5">210</text>
                    <text transform="matrix(1 0 0 1 898.2476 40.1944)" class="st6">49.3</text>
                </g>
                <g>
                    <rect x="974.1" y="25.1" class="st7" width="124.7" height="175.2" id="d12"></rect>
                    <text transform="matrix(1 0 0 1 1050.16 190.2587)" class="st5">212</text>
                    <text transform="matrix(1 0 0 1 1022.0532 40.1944)" class="st6">49.0</text>
                </g>
                <g>
                    <rect x="1098.8" y="25.1" class="st7" width="110.3" height="175.2" id="d14"></rect>
                    <text transform="matrix(1 0 0 1 1144.235 190.2583)" class="st5">214</text>
                    <text transform="matrix(1 0 0 1 1149.1195 40.1944)" class="st6">33.7</text>
                </g>
                <g>
                    <rect x="1209.1" y="25.1" class="st8" width="100.3" height="175.2" id="d16"></rect>
                    <text transform="matrix(1 0 0 1 1226.735 190.2583)" class="st5">216</text>
                    <text transform="matrix(1 0 0 1 1248.7808 40.1944)" class="st6">31.8</text>
                </g>
                <g>
                    <rect x="1517" y="25.1" class="st8" width="101.1" height="175.2" id="d18a"></rect>
                    <text transform="matrix(1 0 0 1 1538.418 190.2583)" class="st5">218A</text>
                    <text transform="matrix(1 0 0 1 1547.3383 40.1944)" class="st6">16.9</text>
                </g>
                <g>
                    <rect x="1309.4" y="25.1" class="st9" width="207.6" height="175.2" id="d18"></rect>
                    <text transform="matrix(1 0 0 1 1389.0745 190.2587)" class="st5">218</text>
                    <text transform="matrix(1 0 0 1 1405.7395 40.1944)" class="st6">67.0</text>
                </g>
                <g>
                    <rect x="1618.1" y="25.1" class="st9" width="339.7" height="175.2" id="d20"></rect>
                    <text transform="matrix(1 0 0 1 1652.0389 190.2587)" class="st5">220</text>
                    <text transform="matrix(1 0 0 1 1890.8279 190.2587)" class="st5">220</text>
                    <text transform="matrix(1 0 0 1 1771.7783 40.1944)" class="st6">85.2</text>
                </g>
            </g>

            <line class="st1" x1="1872.6" y1="300.6" x2="1872.6" y2="379.1"></line>
	<polyline class="st1" points="1872.6,200.3 1872.6,279.8 1857.4,296.8 	"></polyline>
    <g>
    <rect x="1872.1" y="200.5" class="st8" width="85.7" height="179.3" id="d19"></rect>
	<text transform="matrix(1 0 0 1 1878.1729 292.7411)" class="st5">219</text>
    <text transform="matrix(1 0 0 1 1919.9802  284.8265)" class="st6">14.2</text>
    </g>
	<polyline class="st1" points="1957.8,200.3 1675.6,200.3 1664.7,227.1 	"></polyline>
	<rect x="1679.6" y="379.8" class="st7" width="53.2" height="175.5"></rect>
	<polyline class="st1" points="1698.8,379.5 1657.8,379.5 1646.7,353.7 	"></polyline>
	<polyline class="st1" points="1956.4,379.5 1714.4,379.5 1703.3,353.7 	"></polyline>

    <g id="Слой_5">
        <text transform="matrix(1 0 0 1 199.0436 469.4742)" class="st3">Комп. ауд.</text>
        <text transform="matrix(1 0 0 1 290.2554 111.6415)" class="st3">КППДПО</text>
        <text transform="matrix(1 0 0 1 660.2554 111.6415)" class="st3">КППДПО</text>
        <text transform="matrix(1 0 0 1 765.2554 111.6415)" class="st3">КТМДПО</text>
        <text transform="matrix(1 0 0 1 1130.2554 111.6415)" class="st3">КТМДПО</text>
        <text transform="matrix(1 0 0 1 123.2554 111.6415)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 882.5618 111.6415)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 1234.3916 111.6415)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 1387.2871 111.6415)" class="st3">Лекц. ауд.</text>
        <text transform="matrix(1 0 0 1 1543.1814 111.6415)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 1764.389 111.6415)" class="st3">Лекц. ауд.</text>
        <text transform="matrix(1 0 0 1 1887.389 320.6415)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 743.3284 469.4742)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 849.5275 469.4742)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 961.674 469.4742)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 1046.4598 469.4742)" class="st3">Навч. ауд.</text>>
        <text transform="matrix(1 0 0 1 1135.8215 469.4742)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 1269.3534 469.4742)" class="st3">Навч. ауд.</text>
        <text transform="matrix(1 0 0 1 1439.9006 469.4742)" class="st3">Навч. ауд.</text>
        
    </g>
    <g id="Слой_6">
		<polyline class="st1" points="52.9,602.9 56.6,611.4 60.5,611.4 60.5,573.3 38.1,573.3 38.1,611.4 41.9,611.4 45.6,602.9 		"></polyline>
		<rect x="38.1" y="621.1" class="st2" width="11" height="44.9"></rect>
		<text transform="matrix(1 0 0 1 68.8309 595.8264)" style="font-size: 15px; font-weight:500;" class="st3">Сходи</text>
		<text transform="matrix(1 0 0 1 68.8309 647.1559)" style="font-size: 15px; font-weight:500;" class="st3">Ліфт</text>
	</g>
    </svg>          
        </div>         

<div class="ui-60" style="	background: rgb(57, 130, 179);">
		
    <div class="container">
        <div class="row">
        
            <div class="col-md-4">
                <div style="margin-top: 50px;">
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-blue1 circle">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    
                    <div class="ui-plan">
                        <h4>Педагогічний факультет</h4>
                        <p>Загальна площа на поверсі - 903.2 м²</p>
                        <p>Загальна кількість посадкових місць - 450</p>
                        <p>Загальна кількість аудиторій - 15</p>
                        <br>
                        <p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
                        <p>Бакалавр (денна/заочна): 427/287</p>
                        <p>Магістр (денна/заочна): 57/81</p>
                        <p>PhD (денна/заочна): 8/5</p>
                        <p>Докторантура (денна/заочна): 3/0</p>
                    </div>
                
                </div>
                
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-blue2 circle">
                        <i class="far fa-handshake"></i>
                    </div>
                    <div class="ui-plan">
                        <h4>Кафедра педагогіки та психології дошкільної та початкової освіти</h4>
                        <p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
                        <p>Бакалавр (денна/заочна): 323/215</p>
                        <p>Магістр (денна/заочна): 40/51</p>
                    </div>
                
                </div>

                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-blue3 circle">
                        <i class="fas fa-user-edit"></i>
                    </div>
                    <div class="ui-plan">
                        <h4>Кафедра спеціальної освіти</h4>
                        <p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
                        <p>Бакалавр (денна/заочна): 104/72</p>
                        <p>Магістр (денна/заочна): 17/30</p>
                    </div>
                
                </div>

            </div> 
            </div>
            <div class="col-md-4">
                <div style="margin-top: 50px;">
                    <div class="ui-item clearfix">
                                    
                        <div>
                            <div class="row">
            
                                <div class="col-md-6">
                                    <h4>Чадний газ</h4>
                                </div>
                                <div class="col-md-6">
                                    <p id="co2"></p>
                                </div>
                            </div>
    
                            <div class="row">
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-greenco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;">  &lt; 1000 ppm</h6>
                               </div>
                          
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-yellowco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;"> 1000 - 5000 ppm</h6>
                                </div>
                           
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-redco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;"> &gt; 5000 ppm</h6>
                                </div>
                            </div>
    
                            <div class="row">
            
                                <div class="col-md-7">
                                    <h4>Якість повітря (AQI)</h4>
                                </div>
                                <div class="col-md-5">
                                    <p id="tvoc"></p> 
                                </div>
                            </div>
    
                            <div class="row">
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-greenco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;">  0 - 220 </h6>
                               </div>
                          
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-yellowco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;"> 220 - 2200</h6>
                                </div>
                           
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-redco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;"> 2200 - 5500 </h6>
                                </div>
                            </div>
    
                    </div>
                </div>           
            </div> 
            </div>
            <div class="col-md-4">
  
                <div class="zoomA">
    <?xml version="1.0" encoding="utf-8"?>
    <svg version="1.1" id="_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 161.6 161.6" style="enable-background:new 0 0 161.6 161.6;" xml:space="preserve" width="450px" height="550px">
    <style type="text/css">
        .st0t{fill:#C9CACB;stroke:#66676A;stroke-width:0.5;stroke-miterlimit:10;}
        .st1t{fill:#EFEFEF;}
        .st2t{fill:#d3d3d0;stroke:#515152;stroke-width:0.4;}
        .st3t{fill:#E1E1E2;}
        .st4t{fill:#66A1D7;}
        .st5t{font-size:5px; font-weight: 600;}
        .st6t{font-size:4px;font-family:'MyriadPro-Regular';}
        .st8t{fill:#981715;}
        .st9t{fill:none;stroke:#981715;stroke-width:2;stroke-miterlimit:10;}
        .st10t{opacity:0.29;fill:#FFFFFF;}    
        .zoomA {height: auto;  transition: transform ease-in-out 0.3s; }
        .zoomA:hover { transform: scale(1.5); }
    </style>
    <g>
        <path class="st0t" d="M90.9,139.7H70.7c-3.8,0-6.9-3.2-6.9-7.1V24.7c0-3.9,3.1-7.1,6.9-7.1h20.2c3.8,0,6.9,3.2,6.9,7.1v107.8
            C97.7,136.5,94.7,139.7,90.9,139.7z"></path>
        <path class="st1t" d="M90.3,138.8H71.3c-3.6,0-6.5-3.2-6.5-7V25.3c0-3.9,2.9-7,6.5-7h19.1c3.6,0,6.5,3.2,6.5,7v106.4
            C96.8,135.6,93.9,138.8,90.3,138.8z"></path>
    </g>
    <g>
        <rect x="68.6" y="46" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="47.4" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="48.8" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="50.2" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="51.7" width="10.3" height="0.3"></rect>
        <rect x="74" y="53.1" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="54.5" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="55.9" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="57.3" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="58.7" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="60.1" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="61.5" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="63" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="64.4" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="65.8" width="10.3" height="0.3"></rect>
        <rect x="74" y="67.2" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="68.6" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="70" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="71.4" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="72.8" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="74.3" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="75.7" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="77.1" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="78.5" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="79.9" width="10.3" height="0.3"></rect>
        <rect x="74" y="81.3" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="82.7" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="84.1" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="85.6" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="87" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="88.4" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="89.8" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="91.2" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="92.6" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="94" width="10.3" height="0.3"></rect>
        <rect x="74" y="95.4" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="96.9" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="98.3" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="99.7" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="101.1" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="102.5" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="103.9" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="105.3" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="106.7" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="108.2" width="10.3" height="0.3"></rect>
        <rect x="74" y="109.6" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="111" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="112.4" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="113.8" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="115.2" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="116.6" width="24.4" height="0.3"></rect>
        <g>
            <path d="M89.5,116H89v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V116z"></path>
            <path d="M93,113.7c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V113.7z M92.5,112.8
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V112.8z"></path>
        </g>
        <g>
            <path d="M70.3,116h-0.5v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V116z"></path>
            <path d="M73.9,113.7c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V113.7z M73.4,112.8
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V112.8z"></path>
        </g>
        <g>
            <path d="M93,99.6c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V99.6z M92.5,98.6
                c0-0.6,0-1-0.1-1.2C92.3,97.1,92.2,97,92,97c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V98.6z"></path>
        </g>
        <g>
            <path d="M70.7,43.6h0.4v0.6h-0.4v1.2h-0.5v-1.2h-1.5v-0.4l1.5-3.7h0.5V43.6z M69.3,43.6h1V41L69.3,43.6z"></path>
            <path d="M73.9,43.1c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V43.1z M73.4,42.2
                c0-0.6,0-1-0.1-1.2s-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V42.2z"></path>
        </g>
        <g>
            <path d="M69.5,56.5h0.3c0.2,0,0.4-0.1,0.5-0.2c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-0.9-0.5-0.9c-0.2,0-0.3,0.1-0.4,0.3
                c-0.1,0.2-0.1,0.4-0.1,0.7h-0.5c0-0.4,0.1-0.8,0.3-1.1c0.2-0.3,0.4-0.4,0.8-0.4c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1.1
                c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.2,0.4-0.4,0.5c0.4,0.2,0.6,0.6,0.6,1.3c0,0.5-0.1,0.9-0.3,1.1c-0.2,0.3-0.5,0.4-0.8,0.4
                c-0.3,0-0.6-0.1-0.8-0.4c-0.2-0.3-0.3-0.6-0.3-1.1h0.5c0,0.3,0.1,0.5,0.2,0.7c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0,0.3-0.1,0.4-0.2
                c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-1-0.7-1h-0.3V56.5z"></path>
            <path d="M73.9,57.2c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V57.2z M73.4,56.3
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V56.3z"></path>
        </g>
        <g>
            <path d="M71.1,73.6h-2.3v-0.5l1.2-2c0.2-0.3,0.3-0.6,0.4-0.8c0.1-0.2,0.1-0.4,0.1-0.6c0-0.3,0-0.5-0.1-0.7
                c-0.1-0.2-0.2-0.3-0.4-0.3c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.2-0.2,0.5-0.2,0.8h-0.5c0-0.5,0.1-0.9,0.3-1.2c0.2-0.3,0.5-0.5,0.8-0.5
                c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1c0,0.5-0.2,1.2-0.6,1.9l-0.9,1.6h1.7V73.6z"></path>
            <path d="M73.9,71.3c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V71.3z M73.4,70.4
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V70.4z"></path>
        </g>
        <g>
            <path d="M70.3,87.7h-0.5v-4.5L69,83.7v-0.6l1.3-0.7h0.1V87.7z"></path>
            <path d="M73.9,85.4c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V85.4z M73.4,84.5
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V84.5z"></path>
        </g>
        <g>
            <path d="M89.9,43.6h0.4v0.6h-0.4v1.2h-0.5v-1.2h-1.5v-0.4l1.5-3.7h0.5V43.6z M88.5,43.6h1V41L88.5,43.6z"></path>
            <path d="M93,43.1c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V43.1z M92.5,42.2
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V42.2z"></path>
        </g>
        <g>
            <path d="M88.7,56.5H89c0.2,0,0.4-0.1,0.5-0.2c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-0.9-0.5-0.9c-0.2,0-0.3,0.1-0.4,0.3
                c-0.1,0.2-0.1,0.4-0.1,0.7H88c0-0.4,0.1-0.8,0.3-1.1c0.2-0.3,0.4-0.4,0.8-0.4c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1.1
                c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.2,0.4-0.4,0.5c0.4,0.2,0.6,0.6,0.6,1.3c0,0.5-0.1,0.9-0.3,1.1c-0.2,0.3-0.5,0.4-0.8,0.4
                c-0.3,0-0.6-0.1-0.8-0.4c-0.2-0.3-0.3-0.6-0.3-1.1h0.5c0,0.3,0.1,0.5,0.2,0.7c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0,0.3-0.1,0.4-0.2
                c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-1-0.7-1h-0.3V56.5z"></path>
            <path d="M93,57.2c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V57.2z M92.5,56.3
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4s0.1-0.7,0.1-1.2V56.3z"></path>
        </g>
        <g>
            <path d="M90.3,73.6h-2.3v-0.5l1.2-2c0.2-0.3,0.3-0.6,0.4-0.8c0.1-0.2,0.1-0.4,0.1-0.6c0-0.3,0-0.5-0.1-0.7
                c-0.1-0.2-0.2-0.3-0.4-0.3c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.2-0.2,0.5-0.2,0.8H88c0-0.5,0.1-0.9,0.3-1.2c0.2-0.3,0.5-0.5,0.8-0.5
                c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1c0,0.5-0.2,1.2-0.6,1.9l-0.9,1.6h1.7V73.6z"></path>
            <path d="M93,71.3c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V71.3z M92.5,70.4
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V70.4z"></path>
        </g>
        <g>
            <path d="M89.5,87.7H89v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V87.7z"></path>
            <path d="M93,85.4c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V85.4z M92.5,84.5
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V84.5z"></path>
        </g>
        <g>
            <path d="M71,99.6c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V99.6z M70.6,98.6
                c0-0.6,0-1-0.1-1.2C70.3,97.1,70.2,97,70,97c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V98.6z"></path>
        </g>
        <g>
            <path d="M85.5,35.1c0-0.2,0-0.4,0.1-0.5c0.1-0.1,0.2-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.3,0.1,0.5v0.1
                c0,0.2,0,0.4-0.1,0.5C86.3,35.9,86.2,36,86,36c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.1-0.3-0.1-0.5V35.1z M85.7,35.3
                c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2-0.1c0-0.1,0.1-0.2,0.1-0.3v-0.2c0-0.1,0-0.2-0.1-0.3
                c0-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2,0.1c0,0.1-0.1,0.2-0.1,0.3V35.3z"></path>
            <path d="M88.7,36.5c0,0.3-0.1,0.6-0.2,0.7c-0.1,0.2-0.3,0.2-0.6,0.2c-0.3,0-0.5-0.1-0.6-0.3C87,36.9,87,36.6,87,36.2v-0.5
                c0-0.4,0.1-0.7,0.2-0.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.6,0.3c0.1,0.2,0.2,0.4,0.2,0.7h-0.3c0-0.2-0.1-0.4-0.1-0.5
                c-0.1-0.1-0.2-0.2-0.3-0.2c-0.2,0-0.3,0.1-0.4,0.2c-0.1,0.2-0.1,0.4-0.1,0.7v0.5c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.2,0.4,0.2
                c0.2,0,0.3,0,0.4-0.1c0.1-0.1,0.1-0.3,0.1-0.5H88.7z"></path>
        </g>
    </g>
    <g>
        <path class="st2t" d="M92.3,31h-23c-1.2,0-2.1-1-2.1-2.1V23c0-1.2,1-2.1,2.1-2.1h23c1.2,0,2.1,1,2.1,2.1v5.9
            C94.4,30,93.5,31,92.3,31z"></path>
        <path class="st3t" d="M91.9,30.9H69.6c-1.2,0-2.1-1-2.1-2.1v-5.6c0-1.2,1-2.1,2.1-2.1h22.3c1.2,0,2.1,1,2.1,2.1v5.6
            C94.1,29.9,93.1,30.9,91.9,30.9z"></path>
        <path class="st4t" d="M92.9,26.5c0,2.4-1.4,3.3-3.2,3.3c-1.8,0-3.2-1-3.2-3.3c0-1.9,2-4,2.8-4.9c0.2-0.2,0.5-0.2,0.7,0
            C90.9,22.5,92.9,24.7,92.9,26.5z"></path>
            <text id="hmdt" transform="matrix(1 0 0 1 70.5903 27.5953)" class="st5t"></text>
        <text transform="matrix(1 0 0 1 88.5903 27.5953)" class="st6t">%</text>
    </g>
    <ellipse class="st8t" id="ball" cx="80.8" cy="130.7" rx="2.2" ry="1.9"></ellipse>
    <line class="st9t" id="bar" x1="80.8" y1="130" x2="80.8" y2="69.9"></line>
    <path class="st10t" d="M80,33c0.4-0.1,0.8-0.2,1.3-0.2c0.8,0.1,1.4,0.8,1.4,1.6l-0.3,93.5c0,0,1,0.7,1.3,1.9c0.3,1.6-0.8,3.1-2.4,3.4
        c-0.9,0.2-2.2,0-2.9-0.7c-1.3-1.3-1.1-3.4,0-4.5c0,0,0.6-84.5,0.6-93.7C79.1,33.8,79.4,33.2,80,33z"></path>
    </svg>
    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container"> <div id="chartdiv"></div> </div>
    <script src="js/data_diagram.js"> </script>
    <script src="lib/4/core.js"></script>
    <script src="lib/4/charts.js"></script>
    <script src="lib/4/themes/animated.js"></script>

    <script>
    am4core.ready(function() {
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("chartdiv", am4charts.XYChart);
    chart.data = dataForDiagram(1,2) ;
    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "classroom";
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.renderer.minGridDistance = 30;
    categoryAxis.renderer.labels.template.adapter.add("dy", function(dy, target) {
      if (target.dataItem && target.dataItem.index & 2 == 2) {
        return dy + 25;
      }
      return dy;
    });
    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueY = "amount";
    series.dataFields.categoryX = "classroom";
    series.name = "Amount";
    series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/] місць ";
    series.columns.template.fillOpacity = .8;
    var columnTemplate = series.columns.template;
    columnTemplate.strokeWidth = 2;
    columnTemplate.strokeOpacity = 1;
    }); 
    </script>

    <%- include('./partials/footer') %>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>   
        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>

        <script src="js/getDataFromJson.js"> </script>
        <script src="js/register_tippy.js">  </script> 
        <script src="js/temperature.js"></script>
        <script> registerTippiesForBuildingAndFloor(1, 2); </script>
        </body>
        </html>