<!DOCTYPE html>

<html lang="en">
    <!-- <head>
        <meta charset="utf-8">
        <title>1 корпус 7 поверх</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="css.css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script href="script.js"></script>
        <link href="css/animate.css" rel="stylesheet">
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
        <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
        <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
        <link href="css/info.css" rel="stylesheet">
        <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    </head> -->
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>

<!-- <head>
    <meta charset="utf-8">
    <title>1 корпус 1 поверх</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script href="script.js"></script>
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head> -->
    <body>
        <%- include('./partials/header') %>

        <div class="parallax-window" data-parallax="scroll" data-image-src="img/med.png">
            <div class="parallax-content container">
                <h2 style="color:whitesmoke;">Медичний факультет</h2>
                <h3 style="color:whitesmoke;">7 поверх</h3>
            </div>
        </div>
        
    <div class="plan">
  

        <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 2002.2 670.2" style="enable-background:new 0 0 2002.2 590.2;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-miterlimit:10;}
    .st2{fill: black; font-size:14px; font-family:'FranklinGothic-Medium';}
    .st3{fill:#1D1D1B; font-size:12px;font-weight:700;}
    .st5{fill: black; font-size:15px; font-family:'Lemon/Milk(RUS BY LYAJKA) Regular';}
	.st6{fill:#E5E5E5;stroke:#000000;stroke-miterlimit:10;}
	.st7{opacity:0.67;fill:none;stroke:#1D1D1B;stroke-width:0.75;stroke-miterlimit:10;}
	.st8{fill:none;stroke:#DD001D;stroke-width:0.75;stroke-miterlimit:10;}
    .st8{opacity: 0.3;fill:white;stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
    .st8:hover {
        fill:rgb(255, 0, 0);
    } 
    .st9{fill:#E00732;}
    .st10{fill:#CE0938;}
    .st11{fill:#FFFFFF;}
    .st12{opacity: 0.7;fill:rgb(250, 72, 66);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
    .st12:hover { fill:rgb(255, 45, 37);  }
    .st13{opacity: 0.7;fill:rgb(250, 66, 112);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
    .st13:hover { fill:rgb(250, 25, 81)  }
</style>
<g id="Слой_1">
	<polyline class="st0" points="1706.1,379.8 1649.7,379.8 1640.9,356.6 	"></polyline>
	<polyline class="st0" points="1915.5,228.7 1926.2,200.3 1957.8,200.3 1957.8,379.8 1905.1,379.8 1894.9,352.6 	"></polyline>
	<polyline class="st0" points="1876.3,379.5 1829.1,379.5 1725.2,379.5 1713.9,353.8 	"></polyline>
	<polyline class="st0" points="1630.9,379.5 1487.5,379.5 1476,353 	"></polyline>
	<polyline class="st1" points="1467.8,379.5 1402.2,379.5 1390.7,353 	"></polyline>
	<polyline class="st1" points="1382.7,379.6 1351.3,379.6 1339.8,353 	"></polyline>
	<polyline class="st1" points="1329.3,379.6 1288.3,379.6 1277.4,352.9 	"></polyline>
	<polyline class="st1" points="1268.8,379.6 1171.2,379.6 1160.4,352.7 	"></polyline>
	<polyline class="st1" points="1148.2,379.6 1093.7,379.6 1083.1,352.7 	"></polyline>
	<polyline class="st1" points="1074.1,379.6 1021.7,379.7 1010.2,352.7 	"></polyline>
	<polyline class="st1" points="996.3,379.7 927.5,379.7 916.8,352.8 	"></polyline>
	<polyline class="st1" points="909,379.7 819.5,379.7 808.8,352.8 	"></polyline>
	<polyline class="st1" points="798.6,379.7 741.9,379.7 731.2,352.8 	"></polyline>
	<polyline class="st1" points="725,379.7 676.7,379.7 666,352.8 	"></polyline>
	<polyline class="st1" points="653.8,379.7 639.3,379.7 640.9,555.3 366.3,555.3 366.3,379.8 331.6,379.8 320.2,353.1 	"></polyline>
	<polyline class="st1" points="305.2,379.8 172.2,379.8 161.2,353 	"></polyline>
	<polyline class="st1" points="149.5,379.8 94.1,379.8 83.1,353 	"></polyline>
	<polyline class="st0" points="77,200.3 38.1,200.3 38.1,379.8 72.2,379.8 	"></polyline>
	<polyline class="st0" points="231.2,200.3 131.3,200.3 120.2,227.1 	"></polyline>
	<polyline class="st0" points="324.6,200.3 256.8,200.3 245.8,226.4 	"></polyline>
	<polyline class="st0" points="476,200.3 349,200.3 337.7,227.1 	"></polyline>
	<line class="st1" x1="668" y1="200.3" x2="522" y2="200.3"></line>
	<polyline class="st1" points="809.3,200.3 725.8,200.3 711.2,227.1 	"></polyline>
	<polyline class="st1" points="903.7,200.3 867.7,200.3 855.9,227.1 	"></polyline>
	<polyline class="st1" points="1067.3,200.3 962.4,200.3 946.9,226.4 	"></polyline>
	<polyline class="st0" points="1191,200.3 1172.7,200.3 1161.5,226.4 	"></polyline>
	<polyline class="st0" points="1470.2,200.3 1367.3,200.3 1356.1,226.4 	"></polyline>
	<polyline class="st0" points="1149,200.3 1125.9,200.3 1114.7,226.4 	"></polyline>
	<polyline class="st0" points="1517.5,200.3 1489.7,200.3 1478.7,226.3 	"></polyline>
	<polyline class="st0" points="1691.4,200.3 1538.8,200.3 1527.2,227.1 	"></polyline>
	<polyline class="st0" points="1792.4,200.3 1719.7,200.3 1708.8,227.1 	"></polyline>
	<polyline class="st0" points="1902.9,200.3 1828.6,200.3 1817.3,227.1 	"></polyline>
    <rect x="360.5" y="402.9" class="st6" width="10.9" height="64"></rect>
	<rect x="360.5" y="473.2" class="st6" width="10.9" height="64"></rect>
    <g>
    <rect x="200.7" y="25.1" class="st8" width="94.8" height="175.2" id="d4"></rect>
	<text transform="matrix(1 0 0 1 233.1559 190.16)" class="st5">704</text>
    </g>
    <g>
    <rect x="295.5" y="25.1" class="st13" width="80.9" height="175.2" id="d6"></rect>
	<text transform="matrix(1 0 0 1 319.683 190.16)" class="st5">706</text>
    </g>
	<g>
    <rect x="634.1" y="25.1" class="st12" width="143.6" height="175.2" id="d8"></rect>
    <text transform="matrix(1 0 0 1 685.2358 190.2587)" class="st5">708</text>
    </g>
    <g>
        <polyline class="st1" points="1561.7,406.6 1551.2,379.8 1540,379.8 1540,555.3 1610.4,555.3 1610.4,379.8 1599.6,379.8 
            1589.1,406.6 		"></polyline>
        <line class="st1" x1="1556.4" y1="425.6" x2="1593.7" y2="425.6"></line>
        <line class="st1" x1="1556.4" y1="439.5" x2="1593.7" y2="439.5"></line>
        <line class="st1" x1="1556.4" y1="453.3" x2="1593.7" y2="453.3"></line>
        <line class="st1" x1="1556.4" y1="467.1" x2="1593.7" y2="467.1"></line>
        <line class="st1" x1="1556.4" y1="480.9" x2="1593.7" y2="480.9"></line>
        <line class="st1" x1="1556.4" y1="494.8" x2="1593.7" y2="494.8"></line>
        <line class="st1" x1="1556.4" y1="508.6" x2="1593.7" y2="508.6"></line>
    </g>
    <g>
        <polyline class="st1" points="510.5,173.5 522,200.3 534.4,200.3 534.4,80.5 464,80.5 464,200.3 476,200.3 487.5,173.5 		"></polyline>
        <line class="st1" x1="482.8" y1="92.2" x2="517.2" y2="92.2"></line>
        <line class="st1" x1="482.8" y1="103.8" x2="517.2" y2="103.8"></line>
        <line class="st1" x1="482.8" y1="115.4" x2="517.2" y2="115.4"></line>
        <line class="st1" x1="482.8" y1="126.9" x2="517.2" y2="126.9"></line>
        <line class="st1" x1="482.8" y1="138.5" x2="517.2" y2="138.5"></line>
        <line class="st1" x1="482.8" y1="150.1" x2="517.2" y2="150.1"></line>
        <line class="st1" x1="482.8" y1="161.7" x2="517.2" y2="161.7"></line>
    </g>
	<rect x="38.1" y="25.1" class="st1" width="1919.6" height="530.2"></rect>
	<path class="st7" d="M1777.9,200.3"></path>
	<path class="st7" d="M1847.1,200.3"></path>
	<rect x="1191" y="25.1" class="st8" width="71.1" height="175.2"></rect>
	<line class="st0" x1="1262.1" y1="200.3" x2="1347.5" y2="200.3"></line>
</g>
<g id="Слой_2">
	<g>
        <rect x="38.1" y="380.1" class="st8" width="96.7" height="175.2" id="d1"></rect>
		<text transform="matrix(1 0 0 1 72.1558 397.107)" class="st5">701</text>
		<text transform="matrix(1 0 0 1 71.6112 548.5195)" class="st2">17.1</text>
	</g>
	<g>
        <rect x="134.8" y="380.1" class="st8" width="150.6" height="175.5" id="d3"></rect>
		<text transform="matrix(1 0 0 1 149.4764 399.4054)" class="st5">703</text>
		<text transform="matrix(1 0 0 1 199.6573 548.5195)" class="st2">47.8</text>
	</g>
	<g>
        <rect x="285.4" y="380.1" class="st8" width="80.9" height="175.2" id="d5"></rect>
		<text transform="matrix(1 0 0 1 308.4341 399.4054)" class="st5">705</text>
		<text transform="matrix(1 0 0 1 316.0575 548.5195)" class="st2">15.5</text>
	</g>
	<g>
        <rect x="38.1" y="25.1" class="st12" width="162.5" height="175.2" id="d2"></rect>
		<text transform="matrix(1 0 0 1 93.1502 189.9037)" class="st5">702</text>
		<text transform="matrix(1 0 0 1 102.9016 39.9152)" class="st2">51.7</text>
	</g>
	<text transform="matrix(1 0 0 1 235.3184 39.9152)" class="st2">32.7</text>
	<text transform="matrix(1 0 0 1 695.1923 39.9152)" class="st2">49.2</text>
	<g>
        <rect x="870.3" y="25.1" class="st12" width="147.5" height="175.2" id="d12"></rect>
		<text transform="matrix(1 0 0 1 911.1111 190.2587)" class="st5">712</text>
		<text transform="matrix(1 0 0 1 933.6232 39.9152)" class="st2">49.8</text>
	</g>
	<g>
        <rect x="777.1" y="25.1" class="st8" width="93.2" height="175.2" id="d10"></rect>
        <text transform="matrix(1 0 0 1 817.2403 190.2587)" class="st5">710</text>
		<text transform="matrix(1 0 0 1 815.7451 39.9152)" class="st2">16.2</text>
	</g>
	<text transform="matrix(1 0 0 1 325.4397 39.9152)" class="st2">15.6</text>
	<g>
        <rect x="639.3" y="379.7" class="st8" width="60.3" height="175.6" id="dwc"></rect>
		<text transform="matrix(1 0 0 1 659.586 398.7562)" class="st5">WC</text>
		<text transform="matrix(1 0 0 1 663.933 548.5195)" class="st2">7.8</text>
	</g>
	<g>
        <rect x="699.5" y="379.7" class="st8" width="70.3" height="175.6" id="d7"></rect>
		<text transform="matrix(1 0 0 1 723.0333 399.4054)" class="st5">707</text>
		<text transform="matrix(1 0 0 1 725.8903 548.5195)" class="st2">16.1</text>
	</g>
	<g>
        <rect x="769.8" y="379.7" class="st8" width="72.3" height="175.6" id="d9"></rect>
		<text transform="matrix(1 0 0 1 797.0309 398.8375)" class="st5">709</text>
		<text transform="matrix(1 0 0 1 798.3002 548.5195)" class="st2">16.1</text>
	</g>
	<g>
        <rect x="842" y="379.7" class="st13" width="121.5" height="175.6" id="d11"></rect>
		<text transform="matrix(1 0 0 1 909.0105 398.9286)" class="st5">711</text>
		<text transform="matrix(1 0 0 1 900.1338 548.5195)" class="st2">49.8</text>
	</g>
	<g>
        <rect x="963.5" y="379.7" class="st8" width="88" height="175.6" id="d11a"></rect>
		<text transform="matrix(1 0 0 1 996.2707 399.0546)" class="st5">711A</text>
		<text transform="matrix(1 0 0 1 999.6816 548.5195)" class="st2">18.8</text>
	</g>
	<g>
        <rect x="1051.5" y="379.7" class="st8" width="63.1" height="175.6" id="d13"></rect>
		<text transform="matrix(1 0 0 1 1074.0564 398.7562)" class="st5">713</text>
		<text transform="matrix(1 0 0 1 1075.3257 548.5195)" class="st2">13.1</text>
	</g>
	<text transform="matrix(1 0 0 1 1172.9316 548.5195)" class="st2">50.3</text>
	<text transform="matrix(1 0 0 1 1268.0039 548.5195)" class="st2">16.2</text>
	<text transform="matrix(1 0 0 1 1326.2932 548.5195)" class="st2">15.4</text>
	<text transform="matrix(1 0 0 1 1385.8384 548.5195)" class="st2">15.9</text>
	<text transform="matrix(1 0 0 1 1471.2003 548.5195)" class="st2">49.3</text>
	<g>
		<rect x="1610.4" y="379.8" class="st8" width="60.9" height="175.5" id="dwc"></rect>
		<text transform="matrix(1 0 0 1 1632.0222 398.7562)" class="st5">WC</text>
		<text transform="matrix(1 0 0 1 1633.5055 548.5195)" class="st2">7.8</text>
	</g>
	<g>
        <rect x="1671.4" y="379.8" class="st8" width="85" height="175.5" id="d23"></rect>
		<text transform="matrix(1 0 0 1 1706.0768 398.812)" class="st5">723</text>
		<text transform="matrix(1 0 0 1 1703.4027 548.5195)" class="st2">15.9</text>
	</g>
	<g>
        <rect x="1756.4" y="379.5" class="st13" width="201.4" height="175.8" id="d25"></rect>
		<text transform="matrix(1 0 0 1 1866.3413 398.812)" class="st5">725</text>
		<text transform="matrix(1 0 0 1 1846.6113 548.5195)" class="st2">51.6</text>
	</g>
    <g>
        <rect x="1115.4" y="379.7" class="st12" width="133" height="174.9" id="d15"></rect>
        <text transform="matrix(1 0 0 1 1150.8007 398.7562)" class="st5">715</text>
    </g>

   <g>
        <rect x="1248.4" y="379.5" class="st12" width="60.1" height="175" id="d17"></rect>
        <text transform="matrix(1 0 0 1 1268.8472 398.7562)" class="st5">717</text>
    </g>
    <g>
        <rect x="1308.5" y="379.5" class="st8" width="56.5" height="175" id="d17a"></rect>
        <text transform="matrix(1 0 0 1 1325.0243 398.7562)" class="st5">717A</text>
    </g>
    <g>
        <rect x="1365" y="379.5" class="st12" width="62.9" height="175" id="d19"></rect>
        <text transform="matrix(1 0 0 1 1384.7042 398.7562)" class="st5">719</text>
    </g>
    <g>
        <rect x="1427.9" y="379.8" class="st8" width="111.5" height="175.5" id="d21"></rect>
	    <text transform="matrix(1 0 0 1 1469.2623 398.7562)" class="st5">721</text>
    </g>
	<g>
        <rect x="1017.9" y="25.1" class="st8" width="100.5" height="175.2" id="d12a"></rect>
		<text transform="matrix(1 0 0 1 1059.5598 190.2583)" class="st5">712A</text>
		<text transform="matrix(1 0 0 1 1057.7727 39.9152)" class="st2">18.6</text>
	</g>
	<g>
        <rect x="1118.6" y="25.1" class="st8" width="72.3" height="175.2" id="d14"></rect>
		<text transform="matrix(1 0 0 1 1149.8187 190.2583)" class="st5">714</text>
		<text transform="matrix(1 0 0 1 1154.2841 39.9152)" class="st2">13.7</text>
	</g>
	<g>
        <rect x="1262.1" y="25.1" class="st12" width="160.2" height="175.2" id="d16"></rect>
		<text transform="matrix(1 0 0 1 1345.5569 190.2587)" class="st5">716</text>
		<text transform="matrix(1 0 0 1 1331.7504 39.9152)" class="st2">49.9</text>
	</g>
	<g>
        <rect x="1422.3" y="25.1" class="st8" width="73.5" height="175.2" id="d18"></rect>
		<text transform="matrix(1 0 0 1 1468.1917 190.2587)" class="st5">718</text>
		<text transform="matrix(1 0 0 1 1448.6 39.9152)" class="st2">16.1</text>
	</g>
	<g>
        <rect x="1876.3" y="25.1" class="st12" width="81.5" height="175.2" id="d26"></rect>
		<text transform="matrix(1 0 0 1 1902.91 190.2587)" class="st5">726</text>
		<text transform="matrix(1 0 0 1 1908.2365 39.9152)" class="st2">18.0</text>
	</g>
	<g>
        <rect x="1751.1" y="25.1" class="st12" width="125.8" height="175.2" id="d24"></rect>
		<text transform="matrix(1 0 0 1 1804.6411 190.2587)" class="st5">724</text>
		<text transform="matrix(1 0 0 1 1798.6302 39.9152)" class="st2">44.2</text>
	</g>
	<g>
        <rect x="1661.9" y="25.1" class="st8" width="89.2" height="175.2" id="d22"></rect>
		<text transform="matrix(1 0 0 1 1694.5702 190.2583)" class="st5">722</text>
		<text transform="matrix(1 0 0 1 1696.7327 39.9152)" class="st2">33.4</text>
	</g>
	<g>
        <rect x="1496" y="25.1" class="st12" width="165.9" height="175.2" id="d20"></rect>
		<text transform="matrix(1 0 0 1 1515.7236 190.2587)" class="st5">720</text>
		<text transform="matrix(1 0 0 1 1568.4827 39.9152)" class="st2">50.2</text>
	</g>
</g>
<circle class="st9" cx="711" cy="104.2" r="29.2"></circle>
            <path class="st10" d="M740.2,104.7c0,0-0.1-0.1-0.1-0.1c-3.9-3.9-7.7-7.7-11.6-11.6c-0.3-0.3-0.7-0.5-1.1-0.5c-5.4,0-10.9,0-16.3,0
                s-10.9,0-16.3,0c-0.1,0-0.2,0-0.4,0c-0.4,0.1-0.7,0.4-0.8,0.7c0,0.1,0,0.3,0,0.4c0,7.1,0,14.2,0,21.2c0,0.4,0.1,0.7,0.4,1
                c2.5,2.5,5,5,7.4,7.4c3.3,3.3,6.6,6.6,9.9,9.9c0,0,0.1,0.1,0.2,0.1C727.2,133.2,739.9,120.4,740.2,104.7z"></path>
            <g>
                <path class="st11" d="M694.5,116h33.1c0.5,0,1-0.4,1-1V93.4c0-0.5-0.4-1-1-1h-33.1c-0.5,0-1,0.4-1,1V115
                    C693.5,115.6,693.9,116,694.5,116z M695.4,112.5l10.5-10.5l12.1,12.1h-22.5V112.5z M720.7,114.1l-4.1-4.1l3.1-3.1l6.6,6.6
                    c0.1,0.1,0.1,0.1,0.2,0.2v0.4L720.7,114.1L720.7,114.1z M726.5,94.4V111l-6.2-6.2c-0.4-0.4-1-0.4-1.4,0l-3.7,3.7l-8.6-8.6
                    c-0.4-0.4-1-0.4-1.4,0l-9.8,9.8V94.4H726.5z"></path>
                <path class="st11" d="M715.2,103.7c2,0,3.7-1.7,3.7-3.7c0-2-1.7-3.7-3.7-3.7c-2,0-3.7,1.7-3.7,3.7
                    C711.5,102,713.1,103.7,715.2,103.7z M715.2,98.2c1,0,1.7,0.8,1.7,1.7c0,1-0.8,1.7-1.7,1.7s-1.7-0.8-1.7-1.7
                    C713.4,99,714.2,98.2,715.2,98.2z"></path>
            </g>
            <g id="Слой_3">
                <text transform="matrix(1 0 0 1 692.3558 65.8483)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 930.567 65.8483)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 1328.7056 65.8483)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 1565.3203 65.8483)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 1800.1625 65.8483)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 1907.4507 65.8483)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 104.8948 65.8483)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 879.0591 524.0447)" class="st3">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 720.0591 524.0447)" class="st3">КМФТ</text>
                <text transform="matrix(1 0 0 1 1173.4738 524.0447)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 1269.5002 524.0447)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 1386.7048 524.0447)" class="st3">Лаб.</text>
                <text transform="matrix(1 0 0 1 1829.5768 524.0447)" class="st3">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 311.8868 65.8483)" class="st3">Навч. ауд.</text>
            </g>
            <g id="Слой_6">
                <polyline class="st1" points="52.9,602.9 56.6,611.4 60.5,611.4 60.5,573.3 38.1,573.3 38.1,611.4 41.9,611.4 45.6,602.9 		"></polyline>
                <rect x="38.1" y="621.1" class="st6" width="11" height="44.9"></rect>
                <text transform="matrix(1 0 0 1 68.8309 595.8264)" style="font-size: 15px; font-weight:500;" class="st3">Сходи</text>
                <text transform="matrix(1 0 0 1 68.8309 647.1559)" style="font-size: 15px; font-weight:500;" class="st3">Ліфт</text>
            </g>
</svg>

</div>         
<div id="myModal" class="modal">
  
    <div class=" modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2 style="font-size: 18px; text-align: center;">708</h2>
      </div>
      <div class="modal-body">
           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="item active">
                  <img class="img-responsive" width="250" height="378" src="img/photos/708.jpg">
                  </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>   
      </div>
    </div>
  </div>
  
</div>


<div class="ui-60" style="	background: rgb(128, 18, 18);">
		
    <div class="container">
        <div class="row">
        
            <div class="col-md-4">
                <div style="margin-top: 50px;">
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-red1 circle">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    
                    <div class="ui-plan">
                        <h4>7 поверх</h4>
                        <p>Загальна площа - 826.7 м²</p>
                        <p>Загальна кількість посадкових місць - 220</p>
                        <p>Загальна кількість аудиторій - 13</p>
                    </div>
                
                </div>
                
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-red2 circle">
                        <i class="fas fa-user-md"></i>
                    </div>
                    <div class="ui-plan">
                        <h4>Медичний факультет</h4>
                        <p>Загальна площа - 197.3 м²</p>
                        <p>Загальна кількість посадкових місць - 39</p>
                        <p>Загальна кількість аудиторій - 2</p>
                        <br>
                        <p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
                        <p>Бакалавр (денна/заочна): 166/103</p>
                        <p>Магістр (денна/заочна): 51/19</p>
                    </div>
                
                </div>

            </div> 
            </div>
            <div class="col-md-4">
                <div style="margin-top: 50px;">
                    <div class="ui-item clearfix">
                                    
                        <div>
                            <div class="row">
            
                                <div class="col-md-6">
                                    <h4>Чадний газ</h4>
                                </div>
                                <div class="col-md-6">
                                    <p id="co2"></p>
                                </div>
                            </div>
    
                            <div class="row">
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-greenco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;">  &lt; 1000 ppm</h6>
                               </div>
                          
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-yellowco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;"> 1000 - 5000 ppm</h6>
                                </div>
                           
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-redco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;"> &gt; 5000 ppm</h6>
                                </div>
                            </div>
    
                            <div class="row">
            
                                <div class="col-md-7">
                                    <h4>Якість повітря (AQI)</h4>
                                </div>
                                <div class="col-md-5">
                                    <p id="tvoc"></p> 
                                </div>
                            </div>
    
                            <div class="row">
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-greenco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;">  0 - 220 </h6>
                               </div>
                          
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-yellowco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;"> 220 - 2200</h6>
                                </div>
                           
            
                                <div class="col-md-4">
                                    <div class="ui-price bg-redco circle" style="width: 17px; height: 15px; padding-top: 17px; margin-right: 5px;"></div>
                                    <h6 style="font-weight: 100; margin-top: 2px;"> 2200 - 5500 </h6>
                                </div>
                            </div>
    
                    </div>
                </div>           
            </div> 
            </div>
            <div class="col-md-4">
  
                <div class="zoomA">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 161.6 161.6" style="enable-background:new 0 0 161.6 161.6;" xml:space="preserve" width="450px" height="550px">
    <style type="text/css">
        .st0t{fill:#C9CACB;stroke:#66676A;stroke-width:0.5;stroke-miterlimit:10;}
        .st1t{fill:#EFEFEF;}
        .st2t{fill:#d3d3d0;stroke:#515152;stroke-width:0.4;}
        .st3t{fill:#E1E1E2;}
        .st4t{fill:#66A1D7;}
        .st5t{font-size:5px; font-weight: 600;}
        .st6t{font-size:4px;font-family:'MyriadPro-Regular';}
         .st8t{fill:#981715;}
        .st9t{fill:none;stroke:#981715;stroke-width:2;stroke-miterlimit:10;}
        .st10t{opacity:0.29;fill:#FFFFFF;}
        
        .zoomA {
             
            height: auto;
            /* ease | ease-in | ease-out | linear */
            transition: transform ease-in-out 0.3s;
          }
          .zoomA:hover {
            transform: scale(1.5);
          }
    </style>
    <g>
        <path class="st0t" d="M90.9,139.7H70.7c-3.8,0-6.9-3.2-6.9-7.1V24.7c0-3.9,3.1-7.1,6.9-7.1h20.2c3.8,0,6.9,3.2,6.9,7.1v107.8
            C97.7,136.5,94.7,139.7,90.9,139.7z"></path>
        <path class="st1t" d="M90.3,138.8H71.3c-3.6,0-6.5-3.2-6.5-7V25.3c0-3.9,2.9-7,6.5-7h19.1c3.6,0,6.5,3.2,6.5,7v106.4
            C96.8,135.6,93.9,138.8,90.3,138.8z"></path>
    </g>
    <g>
        <rect x="68.6" y="46" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="47.4" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="48.8" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="50.2" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="51.7" width="10.3" height="0.3"></rect>
        <rect x="74" y="53.1" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="54.5" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="55.9" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="57.3" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="58.7" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="60.1" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="61.5" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="63" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="64.4" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="65.8" width="10.3" height="0.3"></rect>
        <rect x="74" y="67.2" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="68.6" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="70" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="71.4" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="72.8" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="74.3" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="75.7" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="77.1" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="78.5" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="79.9" width="10.3" height="0.3"></rect>
        <rect x="74" y="81.3" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="82.7" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="84.1" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="85.6" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="87" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="88.4" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="89.8" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="91.2" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="92.6" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="94" width="10.3" height="0.3"></rect>
        <rect x="74" y="95.4" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="96.9" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="98.3" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="99.7" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="101.1" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="102.5" width="24.4" height="0.3"></rect>
        <rect x="75.6" y="103.9" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="105.3" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="106.7" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="108.2" width="10.3" height="0.3"></rect>
        <rect x="74" y="109.6" width="13.6" height="0.3"></rect>
        <rect x="75.6" y="111" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="112.4" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="113.8" width="10.3" height="0.3"></rect>
        <rect x="75.6" y="115.2" width="10.3" height="0.3"></rect>
        <rect x="68.6" y="116.6" width="24.4" height="0.3"></rect>
        <g>
            <path d="M89.5,116H89v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V116z"></path>
            <path d="M93,113.7c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V113.7z M92.5,112.8
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V112.8z"></path>
        </g>
        <g>
            <path d="M70.3,116h-0.5v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V116z"></path>
            <path d="M73.9,113.7c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V113.7z M73.4,112.8
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V112.8z"></path>
        </g>
        <g>
            <path d="M93,99.6c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V99.6z M92.5,98.6
                c0-0.6,0-1-0.1-1.2C92.3,97.1,92.2,97,92,97c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V98.6z"></path>
        </g>
        <g>
            <path d="M70.7,43.6h0.4v0.6h-0.4v1.2h-0.5v-1.2h-1.5v-0.4l1.5-3.7h0.5V43.6z M69.3,43.6h1V41L69.3,43.6z"></path>
            <path d="M73.9,43.1c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V43.1z M73.4,42.2
                c0-0.6,0-1-0.1-1.2s-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V42.2z"></path>
        </g>
        <g>
            <path d="M69.5,56.5h0.3c0.2,0,0.4-0.1,0.5-0.2c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-0.9-0.5-0.9c-0.2,0-0.3,0.1-0.4,0.3
                c-0.1,0.2-0.1,0.4-0.1,0.7h-0.5c0-0.4,0.1-0.8,0.3-1.1c0.2-0.3,0.4-0.4,0.8-0.4c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1.1
                c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.2,0.4-0.4,0.5c0.4,0.2,0.6,0.6,0.6,1.3c0,0.5-0.1,0.9-0.3,1.1c-0.2,0.3-0.5,0.4-0.8,0.4
                c-0.3,0-0.6-0.1-0.8-0.4c-0.2-0.3-0.3-0.6-0.3-1.1h0.5c0,0.3,0.1,0.5,0.2,0.7c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0,0.3-0.1,0.4-0.2
                c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-1-0.7-1h-0.3V56.5z"></path>
            <path d="M73.9,57.2c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V57.2z M73.4,56.3
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V56.3z"></path>
        </g>
        <g>
            <path d="M71.1,73.6h-2.3v-0.5l1.2-2c0.2-0.3,0.3-0.6,0.4-0.8c0.1-0.2,0.1-0.4,0.1-0.6c0-0.3,0-0.5-0.1-0.7
                c-0.1-0.2-0.2-0.3-0.4-0.3c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.2-0.2,0.5-0.2,0.8h-0.5c0-0.5,0.1-0.9,0.3-1.2c0.2-0.3,0.5-0.5,0.8-0.5
                c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1c0,0.5-0.2,1.2-0.6,1.9l-0.9,1.6h1.7V73.6z"></path>
            <path d="M73.9,71.3c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V71.3z M73.4,70.4
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V70.4z"></path>
        </g>
        <g>
            <path d="M70.3,87.7h-0.5v-4.5L69,83.7v-0.6l1.3-0.7h0.1V87.7z"></path>
            <path d="M73.9,85.4c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V85.4z M73.4,84.5
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V84.5z"></path>
        </g>
        <g>
            <path d="M89.9,43.6h0.4v0.6h-0.4v1.2h-0.5v-1.2h-1.5v-0.4l1.5-3.7h0.5V43.6z M88.5,43.6h1V41L88.5,43.6z"></path>
            <path d="M93,43.1c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V43.1z M92.5,42.2
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V42.2z"></path>
        </g>
        <g>
            <path d="M88.7,56.5H89c0.2,0,0.4-0.1,0.5-0.2c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-0.9-0.5-0.9c-0.2,0-0.3,0.1-0.4,0.3
                c-0.1,0.2-0.1,0.4-0.1,0.7H88c0-0.4,0.1-0.8,0.3-1.1c0.2-0.3,0.4-0.4,0.8-0.4c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1.1
                c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.2,0.4-0.4,0.5c0.4,0.2,0.6,0.6,0.6,1.3c0,0.5-0.1,0.9-0.3,1.1c-0.2,0.3-0.5,0.4-0.8,0.4
                c-0.3,0-0.6-0.1-0.8-0.4c-0.2-0.3-0.3-0.6-0.3-1.1h0.5c0,0.3,0.1,0.5,0.2,0.7c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0,0.3-0.1,0.4-0.2
                c0.1-0.2,0.2-0.4,0.2-0.7c0-0.6-0.2-1-0.7-1h-0.3V56.5z"></path>
            <path d="M93,57.2c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V57.2z M92.5,56.3
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4s0.1-0.7,0.1-1.2V56.3z"></path>
        </g>
        <g>
            <path d="M90.3,73.6h-2.3v-0.5l1.2-2c0.2-0.3,0.3-0.6,0.4-0.8c0.1-0.2,0.1-0.4,0.1-0.6c0-0.3,0-0.5-0.1-0.7
                c-0.1-0.2-0.2-0.3-0.4-0.3c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.2-0.2,0.5-0.2,0.8H88c0-0.5,0.1-0.9,0.3-1.2c0.2-0.3,0.5-0.5,0.8-0.5
                c0.3,0,0.6,0.1,0.8,0.4c0.2,0.3,0.3,0.6,0.3,1c0,0.5-0.2,1.2-0.6,1.9l-0.9,1.6h1.7V73.6z"></path>
            <path d="M93,71.3c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V71.3z M92.5,70.4
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V70.4z"></path>
        </g>
        <g>
            <path d="M89.5,87.7H89v-4.5l-0.8,0.5v-0.6l1.3-0.7h0.1V87.7z"></path>
            <path d="M93,85.4c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V85.4z M92.5,84.5
                c0-0.6,0-1-0.1-1.2c-0.1-0.3-0.2-0.4-0.5-0.4c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V84.5z"></path>
        </g>
        <g>
            <path d="M71,99.6c0,0.8-0.1,1.4-0.3,1.8c-0.2,0.4-0.4,0.6-0.8,0.6c-0.4,0-0.6-0.2-0.8-0.6c-0.2-0.4-0.3-0.9-0.3-1.7v-0.9
                c0-0.8,0.1-1.4,0.3-1.7c0.2-0.4,0.4-0.6,0.8-0.6c0.4,0,0.6,0.2,0.8,0.5c0.2,0.4,0.3,0.9,0.3,1.7V99.6z M70.6,98.6
                c0-0.6,0-1-0.1-1.2C70.3,97.1,70.2,97,70,97c-0.2,0-0.3,0.1-0.4,0.4c-0.1,0.3-0.1,0.7-0.1,1.2v1.1c0,0.6,0,1,0.1,1.3
                c0.1,0.3,0.2,0.4,0.4,0.4c0.2,0,0.3-0.1,0.4-0.4c0.1-0.3,0.1-0.7,0.1-1.2V98.6z"></path>
        </g>
        <g>
            <path d="M85.5,35.1c0-0.2,0-0.4,0.1-0.5c0.1-0.1,0.2-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.3,0.1,0.5v0.1
                c0,0.2,0,0.4-0.1,0.5C86.3,35.9,86.2,36,86,36c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.1-0.3-0.1-0.5V35.1z M85.7,35.3
                c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2-0.1c0-0.1,0.1-0.2,0.1-0.3v-0.2c0-0.1,0-0.2-0.1-0.3
                c0-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2,0.1c0,0.1-0.1,0.2-0.1,0.3V35.3z"></path>
            <path d="M88.7,36.5c0,0.3-0.1,0.6-0.2,0.7c-0.1,0.2-0.3,0.2-0.6,0.2c-0.3,0-0.5-0.1-0.6-0.3C87,36.9,87,36.6,87,36.2v-0.5
                c0-0.4,0.1-0.7,0.2-0.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.6,0.3c0.1,0.2,0.2,0.4,0.2,0.7h-0.3c0-0.2-0.1-0.4-0.1-0.5
                c-0.1-0.1-0.2-0.2-0.3-0.2c-0.2,0-0.3,0.1-0.4,0.2c-0.1,0.2-0.1,0.4-0.1,0.7v0.5c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.2,0.4,0.2
                c0.2,0,0.3,0,0.4-0.1c0.1-0.1,0.1-0.3,0.1-0.5H88.7z"></path>
        </g>
    </g>
    <g>
        <path class="st2t" d="M92.3,31h-23c-1.2,0-2.1-1-2.1-2.1V23c0-1.2,1-2.1,2.1-2.1h23c1.2,0,2.1,1,2.1,2.1v5.9
            C94.4,30,93.5,31,92.3,31z"></path>
        <path class="st3t" d="M91.9,30.9H69.6c-1.2,0-2.1-1-2.1-2.1v-5.6c0-1.2,1-2.1,2.1-2.1h22.3c1.2,0,2.1,1,2.1,2.1v5.6
            C94.1,29.9,93.1,30.9,91.9,30.9z"></path>
        <path class="st4t" d="M92.9,26.5c0,2.4-1.4,3.3-3.2,3.3c-1.8,0-3.2-1-3.2-3.3c0-1.9,2-4,2.8-4.9c0.2-0.2,0.5-0.2,0.7,0
            C90.9,22.5,92.9,24.7,92.9,26.5z"></path>
            <text id="hmdt" transform="matrix(1 0 0 1 70.5903 27.5953)" class="st5t"></text>
        <text transform="matrix(1 0 0 1 88.5903 27.5953)" class="st6t">%</text>
    </g>
    <ellipse class="st8t" id="ball" cx="80.8" cy="130.7" rx="2.2" ry="1.9"></ellipse>
    <line class="st9t" id="bar" x1="80.8" y1="130" x2="80.8" y2="69.9"></line>
    <path class="st10t" d="M80,33c0.4-0.1,0.8-0.2,1.3-0.2c0.8,0.1,1.4,0.8,1.4,1.6l-0.3,93.5c0,0,1,0.7,1.3,1.9c0.3,1.6-0.8,3.1-2.4,3.4
        c-0.9,0.2-2.2,0-2.9-0.7c-1.3-1.3-1.1-3.4,0-4.5c0,0,0.6-84.5,0.6-93.7C79.1,33.8,79.4,33.2,80,33z"></path>
    </svg>
    
                </div>
            </div>
        
        </div>
    </div>
</div>

<div class="container"> <div id="chartdiv"></div> </div>


    <script src="js/data_diagram.js"> </script>
    <script src="lib/4/core.js"></script>
    <script src="lib/4/charts.js"></script>
    <script src="lib/4/themes/material.js"></script>
    <script src="lib/4/themes/animated.js"></script>

    <script>
    am4core.ready(function() {
    
    am4core.useTheme(am4themes_material);
    am4core.useTheme(am4themes_animated);

    var chart = am4core.create("chartdiv", am4charts.XYChart);
    chart.data = dataForDiagram(1,7) ;
  
    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "classroom";
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.renderer.minGridDistance = 30;
    
    categoryAxis.renderer.labels.template.adapter.add("dy", function(dy, target) {
      if (target.dataItem && target.dataItem.index & 2 == 2) {
        return dy + 25;
      }
      return dy;
    });
    
    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueY = "amount";
    series.dataFields.categoryX = "classroom";
    series.name = "Amount";
    series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/] місць ";
    series.columns.template.fillOpacity = .8;

    var columnTemplate = series.columns.template;
    columnTemplate.strokeWidth = 2;
    columnTemplate.strokeOpacity = 1;
    
    }); 
    </script>


<%- include('./partials/footer') %>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>

        <script>
            var modal = document.getElementById('myModal');
            var btn = document.getElementById("d8");      
            var span = document.getElementsByClassName("close")[0];
     
            btn.onclick = function() {
                modal.style.display = "block";
            }
         
            span.onclick = function() {
                modal.style.display = "none";
            }
            
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
            </script>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>
       
        <script src="js/getDataFromJson.js"> </script>
        <script src="js/register_tippy.js">  </script> 
        <script src="js/temperature.js"></script>
        <script> registerTippiesForBuildingAndFloor(1, 7); </script>
        
        </body>
        </html>