<!DOCTYPE html>
<html lang="en">
    <!-- <head>
        <meta charset="utf-8">
        <title>2 корпус 4 поверх</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="css.css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script href="script.js"></script>
        <link href="css/animate.css" rel="stylesheet">
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
        <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
        <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
        <link href="css/info.css" rel="stylesheet">
        <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    </head> -->
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>

<!-- <head>
    <meta charset="utf-8">
    <title>1 корпус 1 поверх</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script href="script.js"></script>
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head> -->

    <body>
        <%- include('./partials/header') %>

        <div class="parallax-window" data-parallax="scroll" data-image-src="img/culture+lang.png">
            <div class="parallax-content container">
                <h2 style="color:whitesmoke;">Факультет культури і мистецтв <br>
                Факультет української й іноземної філології<br> та журналістики</h2>
                <h3 style="color:whitesmoke;">4 поверх</h3>
            </div>
        </div>

        <div class="plan">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 2000 636" style="enable-background:new 0 0 2000 636.8;" xml:space="preserve">
            <style type="text/css">
                .st0{fill:none;stroke:#333333;stroke-miterlimit:10;}
                .st1{fill:#F6F6F6;stroke:#3C3C3B;stroke-width:0.5;stroke-miterlimit:10;}
                .st1:hover {fill:#e668d5;} 
                .st2{fill: black; font-size:15px; font-family:'Lemon/Milk(RUS BY LYAJKA) Regular';}
                .st3{fill: black; font-size:14px; font-family:'FranklinGothic-Medium';}
                .st4{fill:#1D1D1B; font-size:12px;font-weight:700;}
                .st5{fill:#fc94c4;stroke:#3C3C3B;stroke-width:0.5;stroke-miterlimit:10;}
                .st5:hover {fill:#e670a7;} 
            </style>
            <g id="Слой_1">
                <polygon class="st0" points="73.6,298 72.7,57.5 485.2,57.5 485.2,115.5 1576.4,115.5 1576.4,88.6 1673.3,88.6 1673.3,115.5 
                    1987.9,115.5 1987.9,548.7 108.8,548.7 108.8,574.1 10.4,574.1 10.4,297.9 	"></polygon>
                <g>
                    <polyline class="st0" points="1643.6,268 1657.9,297.5 1673.3,297.5 1673.3,88.9 1576.8,88.9 1576.8,297.5 1591.8,297.5 1606,268 
                                "></polyline>
                    <line class="st0" x1="1650.8" y1="247.7" x2="1599.8" y2="247.7"></line>
                    <line class="st0" x1="1650.8" y1="233" x2="1599.8" y2="233"></line>
                    <line class="st0" x1="1650.8" y1="218.3" x2="1599.8" y2="218.3"></line>
                    <line class="st0" x1="1650.8" y1="203.6" x2="1599.8" y2="203.6"></line>
                    <line class="st0" x1="1650.8" y1="188.9" x2="1599.8" y2="188.9"></line>
                    <line class="st0" x1="1650.8" y1="174.2" x2="1599.8" y2="174.2"></line>
                    <line class="st0" x1="1650.8" y1="159.5" x2="1599.8" y2="159.5"></line>
                </g>
                <g>
                    <polyline class="st0" points="40.6,401.7 26.1,373.2 10.4,373.2 10.4,574.6 108.4,574.6 108.4,373.2 93.3,373.2 78.8,401.7 		"></polyline>
                    <line class="st0" x1="33.3" y1="421.2" x2="85.1" y2="421.2"></line>
                    <line class="st0" x1="33.3" y1="435.4" x2="85.1" y2="435.4"></line>
                    <line class="st0" x1="33.3" y1="449.6" x2="85.1" y2="449.6"></line>
                    <line class="st0" x1="33.3" y1="463.8" x2="85.1" y2="463.8"></line>
                    <line class="st0" x1="33.3" y1="478" x2="85.1" y2="478"></line>
                    <line class="st0" x1="33.3" y1="492.2" x2="85.1" y2="492.2"></line>
                    <line class="st0" x1="33.3" y1="506.4" x2="85.1" y2="506.4"></line>
                </g>
                <g>
                    <polyline class="st0" points="531.3,432.8 565,404.1 565,373.3 414.2,373.3 414.2,548.7 565,548.7 565,518.8 531.3,490.1 		"></polyline>
                    <line class="st0" x1="428.9" y1="501.9" x2="428.9" y2="416.3"></line>
                    <line class="st0" x1="443.5" y1="501.9" x2="443.5" y2="416.3"></line>
                    <line class="st0" x1="458.1" y1="501.9" x2="458.1" y2="416.3"></line>
                    <line class="st0" x1="472.7" y1="501.9" x2="472.7" y2="416.3"></line>
                    <line class="st0" x1="487.2" y1="501.9" x2="487.2" y2="416.3"></line>
                    <line class="st0" x1="501.8" y1="501.9" x2="501.8" y2="416.3"></line>
                    <line class="st0" x1="516.4" y1="501.9" x2="516.4" y2="416.3"></line>
                </g>
                <polyline class="st0" points="1987.9,297.7 1862.9,297.7 1851.1,317.7 	"></polyline>
                <polyline class="st0" points="1577.2,297.7 1567.7,297.7 1555.8,317.7 	"></polyline>
                <polyline class="st0" points="1543.2,297.7 1325.3,297.7 1313.4,317.7 	"></polyline>
                <polyline class="st0" points="1301.3,297.7 1246.5,297.7 1234.6,317.7 	"></polyline>
                <polyline class="st0" points="1222.4,297.7 1083.4,297.7 1071.5,317.7 	"></polyline>
                <polyline class="st0" points="1058,297.7 1000.5,297.7 988.6,317.7 	"></polyline>
                <polyline class="st0" points="974.8,297.7 783.3,297.7 771.4,317.7 	"></polyline>
                <polyline class="st0" points="759.2,297.7 696.5,297.7 684.6,317.7 	"></polyline>
                <polyline class="st0" points="677.3,297.7 533.4,297.7 521.6,317.7 	"></polyline>
                <line class="st0" x1="515.1" y1="297.7" x2="73.6" y2="297.7"></line>
                <line class="st0" x1="1838.5" y1="297.7" x2="1673.3" y2="297.7"></line>
                <line class="st0" x1="138.9" y1="373.2" x2="108.4" y2="373.2"></line>
                <polyline class="st0" points="358.5,373.2 162.8,373.2 150.9,353.3 	"></polyline>
                <line class="st0" x1="10.4" y1="373.2" x2="26.1" y2="373.2"></line>
                <polyline class="st0" points="414.2,373.2 383.4,373.2 371.5,353.3 	"></polyline>
                <polyline class="st0" points="911,373.2 851.2,373.2 839.4,353.3 	"></polyline>
                <polyline class="st0" points="989.9,373.2 931.3,373.2 919.4,353.3 	"></polyline>
                <polyline class="st0" points="1069.9,373.2 1014,373.2 1002.1,353.3 	"></polyline>
                <polyline class="st0" points="1132.7,373.2 1093.8,373.2 1081.9,353.3 	"></polyline>
                <polyline class="st0" points="1230.4,373.2 1158.9,373.2 1147,353.3 	"></polyline>
                <polyline class="st0" points="1301.3,373.2 1254.4,373.2 1242.5,353.3 	"></polyline>
                <polyline class="st0" points="827.7,373.2 799.2,373.2 799.2,548.7 	"></polyline>
                <polyline class="st0" points="1386.8,373.2 1323.1,373.2 1311.2,353.3 	"></polyline>
                <polyline class="st0" points="1457.1,373.2 1407.5,373.2 1395.6,353.3 	"></polyline>
                <polyline class="st0" points="1626.5,373.2 1480.7,373.2 1468.8,353.3 	"></polyline>
                <polyline class="st0" points="1684.4,373.2 1649.5,373.2 1637.6,353.3 	"></polyline>
                <polyline class="st0" points="1987.9,373.2 1711,373.2 1699.1,353.3 	"></polyline>
                <line class="st0" x1="1738.8" y1="297.7" x2="1738.8" y2="320.2"></line>
                <line class="st0" x1="1738.8" y1="344.1" x2="1738.8" y2="373.2"></line>
            </g>
            <g id="Слой_3">
                <g>
                    <rect x="484.7" y="115.2" class="st1" width="78.7" height="182.5" id="d77"></rect>
                    <text transform="matrix(1 0 0 1 509.8756 290.6573)" class="st2">477</text>
                </g>
                <g>
                    <rect x="563.4" y="115.5" class="st5" width="163" height="182.2" id="d75"></rect>
                    <text transform="matrix(1 0 0 1 672.9478 290.6573)" class="st2">475</text>
                </g>
                <g>
                    <rect x="726.4" y="115.5" class="st5" width="80" height="182.2" id="d73"></rect>
                    <text transform="matrix(1 0 0 1 759.737 290.6573)" class="st2">473</text>
                </g>
                <g>
                    <rect x="806.3" y="115.5" class="st5" width="228" height="182.2" id="d71"></rect>
                    <text transform="matrix(1 0 0 1 976.9328 290.6573)" class="st2">471</text>
                </g>
                <g>
                    <rect x="1034.3" y="115.5" class="st5" width="241" height="182.2" id="d69"></rect>
                    <text transform="matrix(1 0 0 1 1059.855 290.6578)" class="st2">469</text>
                    <text transform="matrix(1 0 0 1 1222.9296 290.6573)" class="st2">469</text>
                </g>
                <g>
                    <rect x="1275.3" y="115.5" class="st1" width="81.7" height="182.2" id="d67"></rect>
                    <text transform="matrix(1 0 0 1 1301.697 290.6578)" class="st2">467</text>
                </g>
                <g>
                    <rect x="1357" y="115.5" class="st5" width="220.2" height="182" id="d65"></rect>
                    <text transform="matrix(1 0 0 1 1543.1232 290.6573)" class="st2">465</text>
                </g>
                <g>
                    <rect x="1673.6" y="115.5" class="st5" width="314.4" height="182" id="d63"></rect>
                    <text transform="matrix(1 0 0 1 1837.3014 290.6573)" class="st2">463</text>
                </g>
                <g>
                    <rect x="1738.8" y="297.5" class="st5" width="249.1" height="75.7" id="d63a"></rect>
                    <text transform="matrix(1 0 0 1 1745.6937 336.638)" class="st2">463A</text>
                </g>
                <g>
                    <rect x="1657.6" y="373.2" class="st5" width="330.3" height="175.5" id="d60"></rect>
                    <text transform="matrix(1 0 0 1 1685.4001 390.9643)" class="st2">460</text>
                </g>
                <g>
                    <rect x="1349" y="373.2" class="st1" width="87.1" height="175.5" id="d62"></rect>
                    <text transform="matrix(1 0 0 1 1387.576 390.9643)" class="st2">462</text>
                </g>
                <g>
                    <rect x="1436.5" y="373.2" class="st5" width="146.9" height="175.5" id="d61"></rect>
                    <text transform="matrix(1 0 0 1 1457.1539 390.9643)" class="st2">461</text>
                </g>
                <g>
                    <rect x="1282.5" y="373.2" class="st5" width="66.5" height="175.5" id="d64"></rect>
                    <text transform="matrix(1 0 0 1 1297.8643 390.9643)" class="st2">464</text>
                </g>
                <g>
                    <rect x="1036" y="373.2" class="st1" width="81.2" height="175.5" id="d66"></rect>
                    <text transform="matrix(1 0 0 1 1070.2236 390.9643)" class="st2">466</text>
                </g>
                <g>
                    <rect x="1117" y="373.2" class="st1" width="79.1" height="175.5" id="d66a"></rect>
                    <text transform="matrix(1 0 0 1 1132.6595 390.9643)" class="st2">466A</text>
                </g>
                <g>
                    <rect x="1196.2" y="373.2" class="st5" width="86.4" height="175.5" id="d64a"></rect>
                    <text transform="matrix(1 0 0 1 1229.1711 390.9643)" class="st2">464A</text>
                </g>
                <g>
                    <rect x="959.3" y="373.2" class="st5" width="76.8" height="175.5" id="d68a"></rect>
                    <text transform="matrix(1 0 0 1 986.2535 390.9643)" class="st2">468A</text>
                </g>
                <g>
                    <rect x="878.3" y="373.2" class="st5" width="80.9" height="175.5" id="d68"></rect>
                    <text transform="matrix(1 0 0 1 907.7473 390.9643)" class="st2">468</text>
                </g>
                <g>
                    <rect x="330.9" y="373.3" class="st1" width="83.3" height="175.4" id="dwc"></rect>
                    <text transform="matrix(1 0 0 1 359.4447 390.9643)" class="st2">WC</text>
                </g>
                <g>
                    <rect x="108.4" y="373.2" class="st5" width="222.4" height="175.5" id="d72"></rect>
                    <text transform="matrix(1 0 0 1 139.2138 390.9643)" class="st2">472</text>
                </g>
                <g>
                    <rect x="799.2" y="373.2" class="st1" width="79.1" height="175.5" id="d70"></rect>
                    <text transform="matrix(1 0 0 1 830.6671 390.9643)" class="st2">470</text>
                </g>
                <g>
                    <rect x="1583.4" y="373.2" class="st1" width="74.3" height="175.5" id="dwc"></rect>
                    <text transform="matrix(1 0 0 1 1625.9845 390.9643)" class="st2">WC</text>
                </g>
                <text transform="matrix(1 0 0 1 510.0493 132.6717)" class="st3">15.7</text>
                <text transform="matrix(1 0 0 1 630.881 132.6717)" class="st3">32.5</text>
                <text transform="matrix(1 0 0 1 752.3661 132.6717)" class="st3">15.8</text>
                <text transform="matrix(1 0 0 1 906.3463 132.6717)" class="st3">48.9</text>
                <text transform="matrix(1 0 0 1 1140.8215 132.6717)" class="st3">50.6</text>
                <text transform="matrix(1 0 0 1 1302.1681 132.6717)" class="st3">16.0</text>
                <text transform="matrix(1 0 0 1 1452.9403 132.6717)" class="st3">50.2</text>
                <text transform="matrix(1 0 0 1 1829.533 132.6717)" class="st3">63.1</text>
                <text transform="matrix(1 0 0 1 1951.9873 335.9588)" class="st3">23.4</text>
                <text transform="matrix(1 0 0 1 1808.7805 543.038)" class="st3">65.0</text>
                <text transform="matrix(1 0 0 1 1610.6101 543.038)" class="st3">7.8</text>
                <text transform="matrix(1 0 0 1 1495.9502 543.038)" class="st3">30.4</text>
                <text transform="matrix(1 0 0 1 1301.7805 543.038)" class="st3">14.8</text>
                <text transform="matrix(1 0 0 1 1225.3562 543.038)" class="st3">18.4</text>
                <text transform="matrix(1 0 0 1 1378.7708 543.038)" class="st3">17.3</text>
                <text transform="matrix(1 0 0 1 1142.2864 543.038)" class="st3">16.7</text>
                <text transform="matrix(1 0 0 1 983.6428 543.038)" class="st3">16.0</text>
                <text transform="matrix(1 0 0 1 1062.5339 543.038)" class="st3">15.7</text>
                <text transform="matrix(1 0 0 1 904.8018 543.038)" class="st3">15.8</text>
                <text transform="matrix(1 0 0 1 825.8512 543.038)" class="st3">14.9</text>
                <text transform="matrix(1 0 0 1 362.6133 543.038)" class="st3">9.0</text>
                <text transform="matrix(1 0 0 1 214.5476 543.038)" class="st3">48.3</text>
                <text transform="matrix(1 0 0 1 197.6563 462.7495)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 968.5573 462.7495)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1208.4647 462.7495)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1284.4548 462.7495)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1478.8536 462.7495)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1792.7533 462.7495)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 888.9564 462.7495)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 624.4451 206.0036)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 735.4747 206.0036)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 889.455 206.0036)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1139.1218 206.0036)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1436.2468 206.0036)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1280.9268 206.0036)" class="st4">Метод. каб.</text>
                <text transform="matrix(1 0 0 1 1803.7123 206.0036)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1837.8115 334.6109)" class="st4">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 37.3726 613.7244)" class="st4">Сходи</text>
                <polyline class="st0" points="16,598.5 13.3,593.2 10.4,593.2 10.4,630.6 28.7,630.6 28.7,593.2 25.8,593.2 23.1,598.5"></polyline>
            </g>
            </svg>
            
        </div>    

        <div class="ui-60" style="	background: rgb(245, 123, 198);">
		
            <div class="container">
                <div class="row">
                
                    <div class="col-md-6">
                        <div style="margin-top: 50px;">
                        <div class="ui-item clearfix">
                    
                            <div class="ui-price bg-purple2 circle">
                                <i class="service-icon fas fa-language"></i>
                            </div>
                            
                            <div class="ui-plan">
                                <h4>Факультет української й іноземної філології та журналістики</h4>
                                <p>Загальна площа на поверсі - 526.5 м²</p>
                                <p>Загальна кількість аудиторій - 14</p>
                                <p>Загальна кількість посадкових місць - 340</p>
                                <br>
                                <p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
                                <p>Бакалавр (денна/заочна): 538/106</p>
                                <p>Магістр (денна/заочна): 49/31</p>
                                <p>PhD (денна/заочна): 9/8</p>
                            </div>
                        </div>          
                    </div> 
                    </div>
                </div>
            </div>
        </div>

    <div class="container"> <div id="chartdiv"></div> </div>
    <script src="js/data_diagram.js"> </script>
    <script src="lib/4/core.js"></script>
    <script src="lib/4/charts.js"></script>
    <script src="lib/4/themes/kelly.js"></script>
    <script src="lib/4/themes/animated.js"></script>

    <script>
    am4core.ready(function() {
    
    am4core.useTheme(am4themes_kelly);
    am4core.useTheme(am4themes_animated);

    var chart = am4core.create("chartdiv", am4charts.XYChart);
    chart.data = dataForDiagram(2,4) ;
    
    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "classroom";
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.renderer.minGridDistance = 30;
    
    categoryAxis.renderer.labels.template.adapter.add("dy", function(dy, target) {
      if (target.dataItem && target.dataItem.index & 2 == 2) {
        return dy + 25;
      }
      return dy;
    });
    
    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueY = "amount";
    series.dataFields.categoryX = "classroom";
    series.name = "Amount";
    series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/] місць ";
    series.columns.template.fillOpacity = .8;
    
    var columnTemplate = series.columns.template;
    columnTemplate.strokeWidth = 2;
    columnTemplate.strokeOpacity = 1;
    
    }); 
    </script>

        <%- include('./partials/footer') %>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>


        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>

        <script src="js/getDataFromJson.js"> </script>
        <script src="js/register_tippy.js">  </script> 
        <!-- <script src="./js/temperature.js"></script> -->
        <script> registerTippiesForBuildingAndFloor(2, 4); </script>
        
        </body>
        </html>