<!DOCTYPE html>
<html lang="en">
    <!-- <head>
        <meta charset="utf-8">
        <title>2 корпус 5 поверх</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="css.css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script href="script.js"></script>
        <link href="css/animate.css" rel="stylesheet">
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
        <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
        <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
        <link href="css/info.css" rel="stylesheet">
        <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    </head> -->
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="/vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="/tippy.js@6.3.7/animations/scale.css">
    <script src="/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>

<!-- <head>
    <meta charset="utf-8">
    <title>1 корпус 1 поверх</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script href="script.js"></script>
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head> -->
    <body>
        <%- include('./partials/header') %>

        <div class="parallax-window" data-parallax="scroll" data-image-src="img/lang.png">
            <div class="parallax-content container">
                <h2 style="color:whitesmoke;">Факультет української й іноземної філології<br> та журналістики</h2>
                <h3 style="color:whitesmoke;">5 поверх</h3>
            </div>
        </div>

        <div class="plan">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 2000 802.7" style="enable-background:new 0 0 2000 802.7;" xml:space="preserve">
            <style type="text/css">
                .st0{fill:#F6F6F6;stroke:#3C3C3B;stroke-width:0.5;stroke-miterlimit:10;}
                .st0:hover {fill:#d168e6;} 
                .st2{font-family:'Arial-BoldMT';}
                .st3{font-size:14px;}
                .st2{fill: black; font-size:15px; font-family:'Lemon/Milk(RUS BY LYAJKA) Regular';}
                .st3{fill: black; font-size:14px; font-family:'FranklinGothic-Medium';}
                .st4{fill:#F9B233;stroke:#3C3C3B;stroke-width:0.5;stroke-miterlimit:10;}
                .st4:hover {fill:#f7a61b;} 
                .st6{fill:#f59504;stroke:#3C3C3B;stroke-width:0.5;stroke-miterlimit:10;}
                .st6:hover {fill:#db8402;} 
                .st7{fill:#fc94c4;stroke:#3C3C3B;stroke-width:0.5;stroke-miterlimit:10;}
                .st7:hover {fill:#ee74ad;} 
                .st9{fill:#1D1D1B; font-size:12px;font-weight:700;}
                .st10{fill:none;stroke:#3C3C3B;stroke-miterlimit:10;}
                .st11{fill:#fff0fd;stroke:#3C3C3B;stroke-width:0.5;stroke-miterlimit:10;}
                .st11:hover {fill:#d168e6;} 
                .st12{fill:#3C3C3B;}
                .st13{fill:none;stroke:#575756;stroke-miterlimit:10;stroke-dasharray:11.8502,11.8502;}
                .stv{opacity:0.8;fill:#E5231E;stroke:#3C3C3B;stroke-width:0.5;stroke-miterlimit:10;}
                .stv:hover {fill:#ce1b15;} 
                .st15{fill:none;stroke:#333333;stroke-miterlimit:10;}
            </style>
            <g id="Слой_3">
                <g>
                    <rect x="484.7" y="235.2" class="st0" width="78.7" height="182.5" id="d95"></rect>
                    <text transform="matrix(1 0 0 1 509.8756 410.6573)" class="st2">595</text>
                </g>
                <g>
                    <rect x="73.6" y="177.5" class="st4" width="411.3" height="240.2" id="d97"></rect>
                    <text transform="matrix(1 0 0 1 431.344 410.6573)" class="st2">597</text>
                </g>
                <g>
                    <rect x="563.4" y="235.5" class="stv" width="163" height="182.2" id="d93"></rect>
                    <text transform="matrix(1 0 0 1 603.6136 410.6573)" class="st2">593</text>
                </g>
                <g>
                    <rect x="726.4" y="235.5" class="stv" width="80" height="182.2" id="d91"></rect>
                    <text transform="matrix(1 0 0 1 759.737 410.6573)" class="st2">591</text>
                </g>
                <g>
                    <rect x="806.3" y="235.5" class="st6" width="228" height="182.2" id="d89"></rect>
                    <text transform="matrix(1 0 0 1 976.9328 410.6573)" class="st2">589</text>
                </g>
                <g>
                    <rect x="1034.3" y="235.5" class="st4" width="472.4" height="182.2" id="d87"></rect>
                    <text transform="matrix(1 0 0 1 1059.855 410.6578)" class="st2">587</text>
                    <text transform="matrix(1 0 0 1 1449.6586 410.6578)" class="st2">587</text>
                </g>
                <g>
                    <rect x="1506.7" y="235.5" class="st0" width="70.1" height="182" id="d85"></rect>
                    <text transform="matrix(1 0 0 1 1542.4697 410.6573)" class="st2">585</text>
                </g>
                <g>
                    <rect x="1673.6" y="235.5" class="st7" width="235.6" height="182" id="d83"></rect>
                    <text transform="matrix(1 0 0 1 1837.3014 410.6573)" class="st2">583</text>
                </g>
                <g>
                    <rect x="1909.2" y="235.5" class="st0" width="78.8" height="182" id="d81"></rect>
                    <text transform="matrix(1 0 0 1 1930.7218 410.6573)" class="st2">581</text>
                </g>
                <g>
                    <rect x="1745.1" y="493.2" class="st0" width="242.8" height="175.5" id="d80"></rect>
                    <text transform="matrix(1 0 0 1 1768.0933 510.9643)" class="st2">580</text>
                </g>
                <g>
                    <rect x="1349" y="493.2" class="st7" width="234.4" height="175.5" id="d84"></rect>
                    <text transform="matrix(1 0 0 1 1387.576 510.9643)" class="st2">584</text>
                </g>
                <g>
                    <rect x="1282.5" y="493.2" class="st7" width="66.5" height="175.5" id="d86"></rect>
                    <text transform="matrix(1 0 0 1 1297.8643 510.9643)" class="st2">586</text>
                </g>
                <g>
                    <rect x="1036" y="493.2" class="st7" width="246.5" height="175.5" id="d88"></rect>
                    <text transform="matrix(1 0 0 1 1070.2236 510.9643)" class="st2">588</text>
                </g>
                <g>
                    <rect x="878.3" y="493.2" class="st7" width="157.7" height="175.5" id="d90"></rect>
                    <text transform="matrix(1 0 0 1 907.7473 510.9643)" class="st2">590</text>
                </g>
                <g>
                    <rect x="330.9" y="493.3" class="st0" width="83.3" height="175.4" id="d94"></rect>
                    <text transform="matrix(1 0 0 1 359.4276 510.9643)" class="st2">594</text>
                </g>
                <g>
                    <rect x="108.4" y="493.2" class="st7" width="222.4" height="175.5" id="d92"></rect>
                    <text transform="matrix(1 0 0 1 139.2138 510.9643)" class="st2">592</text>
                </g>
                <g>
                    <rect x="799.2" y="493.2" class="stv" width="79.1" height="175.5" id="d90a"></rect>
                    <text transform="matrix(1 0 0 1 825.6124 510.9643)" class="st2">590A</text>
                </g>
                <g>
                    <rect x="1583.4" y="493.2" class="st0" width="74.3" height="175.5" id="dwc"></rect>
                    <text transform="matrix(1 0 0 1 1625.9845 510.9643)" class="st2">WC</text>
                </g>
                <g>
                    <rect x="1656.5" y="493.2" class="st7" width="88.6" height="175.5" id="d82"></rect>
                    <text transform="matrix(1 0 0 1 1689.6801 510.9643)" class="st2">582</text>
                </g>
                <text transform="matrix(1 0 0 1 261.1097 191.84)" class="st3">124.5</text>
                <text transform="matrix(1 0 0 1 630.881 252.6717)" class="st3">31.7</text>
                <text transform="matrix(1 0 0 1 510.1103 252.6717)" class="st3">15.7</text>
                <text transform="matrix(1 0 0 1 752.3661 252.6717)" class="st3">15.7</text>
                <text transform="matrix(1 0 0 1 906.3463 252.6717)" class="st3">48.7</text>
                <text transform="matrix(1 0 0 1 1287.4893 252.6717)" class="st3">100.9</text>
                <text transform="matrix(1 0 0 1 1527.7919 252.6717)" class="st3">15.7</text>
                <text transform="matrix(1 0 0 1 1777.2373 252.6717)" class="st3">48.9</text>
                <text transform="matrix(1 0 0 1 1934.543 252.6717)" class="st3">13.4</text>
                <text transform="matrix(1 0 0 1 1843.7439 663.038)" class="st3">48.4</text>
                <text transform="matrix(1 0 0 1 1615.1843 663.038)" class="st3">8.7</text>
                <text transform="matrix(1 0 0 1 1687.3588 663.038)" class="st3">16.0</text>
                <text transform="matrix(1 0 0 1 1301.7805 663.038)" class="st3">16.8</text>
                <text transform="matrix(1 0 0 1 1452.1964 663.038)" class="st3">49.0</text>
                <text transform="matrix(1 0 0 1 1145.2864 663.038)" class="st3">50.5</text>
                <text transform="matrix(1 0 0 1 943.1873 663.038)" class="st3">32.2</text>
                <text transform="matrix(1 0 0 1 825.8512 663.038)" class="st3">17.1</text>
                <text transform="matrix(1 0 0 1 358.5079 663.038)" class="st3">14.6</text>
                <text transform="matrix(1 0 0 1 205.6532 663.038)" class="st3">48.4</text>
                <text transform="matrix(1 0 0 1 188.7618 582.7495)" class="st9">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1284.4548 582.7495)" class="st9">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1128.3949 582.7495)" class="st9">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1435.5193 582.7495)" class="st9">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 1670.4674 582.7495)" class="st9">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 923.0557 582.7495)" class="st9">Навч. ауд.</text>
                <text transform="matrix(1 0 0 1 888.327 326.0036)" class="st9">Комп. ауд.</text>
                <text transform="matrix(1 0 0 1 492.4185 326.0036)" class="st9">Студ. рада</text>
                <text transform="matrix(1 0 0 1 1274.2205 326.0036)" class="st9">Лекц. ауд.</text>
                <text transform="matrix(1 0 0 1 247.8409 326.0036)" class="st9">Лекц. ауд.</text>
                <text transform="matrix(1 0 0 1 1760.3459 326.0036)" class="st9">Навч. ауд.</text>
            </g>
            <g id="Слой_1">
                <polygon class="st10" points="73.6,418 72.7,177.5 485.2,177.5 485.2,235.5 1576.4,235.5 1576.4,208.6 1673.3,208.6 1673.3,235.5 
                    1987.9,235.5 1987.9,668.7 108.8,668.7 108.8,694.1 10.4,694.1 10.4,417.9 	"></polygon>
                <g>
                    <polyline class="st10" points="1643.6,388 1657.9,417.5 1673.3,417.5 1673.3,208.9 1576.8,208.9 1576.8,417.5 1591.8,417.5 
                        1606,388 		"></polyline>
                    <line class="st10" x1="1650.8" y1="367.7" x2="1599.8" y2="367.7"></line>
                    <line class="st10" x1="1650.8" y1="353" x2="1599.8" y2="353"></line>
                    <line class="st10" x1="1650.8" y1="338.3" x2="1599.8" y2="338.3"></line>
                    <line class="st10" x1="1650.8" y1="323.6" x2="1599.8" y2="323.6"></line>
                    <line class="st10" x1="1650.8" y1="308.9" x2="1599.8" y2="308.9"></line>
                    <line class="st10" x1="1650.8" y1="294.2" x2="1599.8" y2="294.2"></line>
                    <line class="st10" x1="1650.8" y1="279.5" x2="1599.8" y2="279.5"></line>
                </g>
                <g>
                    <polyline class="st10" points="40.6,521.7 26.1,493.2 10.4,493.2 10.4,694.6 108.4,694.6 108.4,493.2 93.3,493.2 78.8,521.7 		"></polyline>
                    <line class="st10" x1="33.3" y1="541.2" x2="85.1" y2="541.2"></line>
                    <line class="st10" x1="33.3" y1="555.4" x2="85.1" y2="555.4"></line>
                    <line class="st10" x1="33.3" y1="569.6" x2="85.1" y2="569.6"></line>
                    <line class="st10" x1="33.3" y1="583.8" x2="85.1" y2="583.8"></line>
                    <line class="st10" x1="33.3" y1="598" x2="85.1" y2="598"></line>
                    <line class="st10" x1="33.3" y1="612.2" x2="85.1" y2="612.2"></line>
                    <line class="st10" x1="33.3" y1="626.4" x2="85.1" y2="626.4"></line>
                </g>
                <g>
                    <polyline class="st10" points="531.3,552.8 565,524.1 565,493.3 414.2,493.3 414.2,668.7 565,668.7 565,638.8 531.3,610.1 		"></polyline>
                    <line class="st10" x1="428.9" y1="621.9" x2="428.9" y2="536.3"></line>
                    <line class="st10" x1="443.5" y1="621.9" x2="443.5" y2="536.3"></line>
                    <line class="st10" x1="458.1" y1="621.9" x2="458.1" y2="536.3"></line>
                    <line class="st10" x1="472.7" y1="621.9" x2="472.7" y2="536.3"></line>
                    <line class="st10" x1="487.2" y1="621.9" x2="487.2" y2="536.3"></line>
                    <line class="st10" x1="501.8" y1="621.9" x2="501.8" y2="536.3"></line>
                    <line class="st10" x1="516.4" y1="621.9" x2="516.4" y2="536.3"></line>
                </g>
                <polyline class="st10" points="1987.9,417.7 1951.3,417.7 1939.5,437.7 	"></polyline>
                <polyline class="st10" points="1928,417.7 1860.9,417.7 1849,437.7 	"></polyline>
                <polyline class="st10" points="1577.2,417.7 1567.7,417.7 1555.8,437.7 	"></polyline>
                <polyline class="st10" points="1541.2,417.7 1473.2,417.7 1461.3,437.7 	"></polyline>
                <polyline class="st10" points="1448.3,417.7 1083.4,417.7 1071.5,437.7 	"></polyline>
                <polyline class="st10" points="1058,417.7 1000.5,417.7 988.6,437.7 	"></polyline>
                <polyline class="st10" points="974.8,417.7 783.3,417.7 771.4,437.7 	"></polyline>
                <polyline class="st10" points="759.2,417.7 627.2,417.7 615.3,437.7 	"></polyline>
                <polyline class="st10" points="601.6,417.7 533.4,417.7 521.6,437.7 	"></polyline>
                <polyline class="st10" points="510.3,417.7 452.2,417.7 440.3,437.7 	"></polyline>
                <line class="st10" x1="1838.5" y1="417.7" x2="1673.3" y2="417.7"></line>
                <line class="st10" x1="138.9" y1="493.2" x2="108.4" y2="493.2"></line>
                <polyline class="st10" points="358.5,493.2 162.8,493.2 150.9,473.3 	"></polyline>
                <line class="st10" x1="10.4" y1="493.2" x2="26.1" y2="493.2"></line>
                <polyline class="st10" points="414.2,493.2 383.4,493.2 371.5,473.3 	"></polyline>
                <polyline class="st10" points="911,493.2 851.2,493.2 839.4,473.3 	"></polyline>
                <polyline class="st10" points="1070.2,493.2 931.3,493.2 919.4,473.3 	"></polyline>
                <polyline class="st10" points="1301.3,493.2 1093.8,493.2 1081.9,473.3 	"></polyline>
                <polyline class="st10" points="827.7,493.2 799.2,493.2 799.2,668.7 	"></polyline>
                <polyline class="st10" points="1386.8,493.2 1323.1,493.2 1311.2,473.3 	"></polyline>
                <polyline class="st10" points="1626.5,493.2 1411.1,493.2 1399.3,473.3 	"></polyline>
                <polyline class="st10" points="1684.4,493.2 1649.5,493.2 1637.6,473.3 	"></polyline>
                <polyline class="st10" points="1766.2,493.2 1716.1,493.2 1704.2,473.3 	"></polyline>
                <polyline class="st10" points="1987.9,493.2 1791.7,493.2 1779.8,473.3 	"></polyline>
                <g>
                    <polyline class="st10" points="144.7,410.4 149.3,417.8 154.2,417.8 154.2,364.9 123.6,364.9 123.6,417.8 128.3,417.8 
                        132.8,410.4 		"></polyline>
                    <line class="st10" x1="147" y1="405.2" x2="130.8" y2="405.2"></line>
                    <line class="st10" x1="147" y1="397.8" x2="130.8" y2="397.8"></line>
                    <line class="st10" x1="147" y1="391.4" x2="130.8" y2="391.4"></line>
                    <line class="st10" x1="147" y1="384.3" x2="130.8" y2="384.3"></line>
                    <line class="st10" x1="147" y1="377.8" x2="130.8" y2="377.8"></line>
                    <line class="st10" x1="147" y1="370.8" x2="130.8" y2="370.8"></line>
                </g>
                <line class="st10" x1="154.2" y1="417.8" x2="419.6" y2="417.8"></line>
                <line class="st10" x1="73.6" y1="418" x2="123.6" y2="418"></line>
            </g>
            <g id="Слой_4">
                <g>
                    <rect x="974.2" y="17.1" class="st11" width="603" height="182.2" id="dobserv"></rect>
                    <text transform="matrix(1 0 0 1 1234.1737 113.7396)" class="st9">Обсерваторія</text>
                </g>
                <line class="st10" x1="1146" y1="199.3" x2="1146" y2="169.7"></line>
                <line class="st10" x1="1146" y1="128.3" x2="1146" y2="17.1"></line>
                <line class="st10" x1="1328.8" y1="128.3" x2="1328.8" y2="17.1"></line>
                <line class="st10" x1="1328.8" y1="199.3" x2="1328.8" y2="169.7"></line>
                <g>
                    <polyline class="st10" points="1625.1,371.5 1625.1,151.8 1590.8,151.8 			"></polyline>
                    <polygon class="st12" points="1583.7,151.8 1593.7,147.8 1591.3,151.8 1593.7,155.9 				"></polygon>
                </g>
                <polyline class="st10" points="1577.2,162.5 1577.2,199.3 974.2,199.3 974.2,17.1 1577.2,17.1 1577.2,143.8 	"></polyline>
                <circle class="st13" cx="1064" cy="111.9" r="75.4"></circle>
                <text transform="matrix(1 0 0 1 1216.905 31.4836)" class="st3">29.9</text>
                <text transform="matrix(1 0 0 1 1435.9941 31.4836)" class="st3">46.9</text>
                <text transform="matrix(1 0 0 1 1050.0493 31.4836)" class="st3">29.7</text>
                <text transform="matrix(1 0 0 1 37.3726 781.6473)" class="st9">Відділ</text>
                <polyline class="stv" points="10.4,761.9 28.7,761.9 28.7,794.6 10.4,794.6 	"></polyline>
                <text transform="matrix(1 0 0 1 37.3726 733.7244)" class="st9">Сходи</text>
                <polyline class="st15" points="16,718.5 13.3,713.2 10.4,713.2 10.4,750.6 28.7,750.6 28.7,713.2 25.8,713.2 23.1,718.5 		"></polyline>
            </g>
            </svg>
            
            
        </div>    

        <div class="ui-60" style="	background: rgb(255, 185, 81);">
		
            <div class="container">
                <div class="row">
                
                    <div class="col-md-6">
                        <div style="margin-top: 50px;">
                        <div class="ui-item clearfix">
                    
                            <div class="ui-price bg-orange1 circle">
                                <i class="service-icon fas fa-language"></i>
                            </div>
                            
                            <div class="ui-plan">
                                <h4>Факультет української й іноземної філології та журналістики</h4>
                                <p>Загальна площа на поверсі - 600 м²</p>
                                <p>Загальна кількість аудиторій - 11</p>
                                <p>Загальна кількість посадкових місць - 477</p>
                                <br>
                                <p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
                                <p>Бакалавр (денна/заочна): 538/106</p>
                                <p>Магістр (денна/заочна): 49/31</p>
                                <p>PhD (денна/заочна): 9/8</p>
                            </div>
                        </div>          
                    </div> 
                    </div>
                </div>
            </div>
        </div>

    <div class="container"> <div id="chartdiv"></div> </div>
    <script src="/js/data_diagram.js"> </script>
    <script src="/lib/4/core.js"></script>
    <script src="/lib/4/charts.js"></script>
    <script src="/lib/4/themes/kelly.js"></script>
    <script src="/lib/4/themes/animated.js"></script>

    <script>
    am4core.ready(function() {
    
    am4core.useTheme(am4themes_kelly);
    am4core.useTheme(am4themes_animated);

    var chart = am4core.create("chartdiv", am4charts.XYChart);
    chart.data = dataForDiagram(2,5) ;
    
    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "classroom";
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.renderer.minGridDistance = 30;
    
    categoryAxis.renderer.labels.template.adapter.add("dy", function(dy, target) {
      if (target.dataItem && target.dataItem.index & 2 == 2) {
        return dy + 25;
      }
      return dy;
    });
    
    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueY = "amount";
    series.dataFields.categoryX = "classroom";
    series.name = "Amount";
    series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/] місць ";
    series.columns.template.fillOpacity = .8;
    
    var columnTemplate = series.columns.template;
    columnTemplate.strokeWidth = 2;
    columnTemplate.strokeOpacity = 1;
    
    }); 
    </script>

        <%- include('./partials/footer') %>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <script src="/vendor/jquery.min.js" type="text/javascript"></script>
        <script src="/vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>


        <script src="/vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="/vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="/vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="/vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="/vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="/vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <script src="/js/layout.min.js" type="text/javascript"></script>
        <script src="/js/components/wow.min.js" type="text/javascript"></script>
        <script src="/js/components/swiper.min.js" type="text/javascript"></script>

        <script src="/js/getDataFromJson.js"> </script>
        <script src="/js/register_tippy.js">  </script> 
        <!-- <script src="./js/temperature.js"></script> -->
        <script> registerTippiesForBuildingAndFloor(2, 5); </script>
        
        </body>
        </html>