<!DOCTYPE html>
<html lang="en">

	<head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>

    <body>

		<%- include('./partials/header') %>

        <div class="parallax-window" data-parallax="scroll" data-image-src="img/social.png">
            <div class="parallax-content container">
                <h2 style="color:whitesmoke;">Факультет психології, історії та соціології</h2>
            </div>
        </div>

<div class="plan">
      
	<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 2002.2 512.8" style="enable-background:new 0 0 2002.2 512.8;" xml:space="preserve">
<style type="text/css">
	.st1{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-miterlimit:10;}
	.st3{fill: black; font-size:13px; font-family:'Lemon/Milk(RUS BY LYAJKA) Regular';}
	.st4{fill:#1D1D1B; font-size:12px;font-weight:700;}
	.st5{opacity: 0.3;fill:white;stroke:rgb(68, 68, 68);stroke-width:0.75;stroke-miterlimit:10;}
	.st5:hover {  fill:rgb(253, 236, 2);	} 
	.st6{fill:none;stroke:#5E5E5E;stroke-width:0.9273;stroke-miterlimit:10;}
	.st7{opacity: 0.7;fill:rgb(233, 168, 71);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
    .st7:hover { fill:rgb(255, 177, 59) }
	.st8{opacity: 0.7;fill:rgb(245, 172, 37);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
    .st8:hover { fill:rgb(253, 158, 15) }
	.st9{opacity: 0.7;fill:rgb(247, 137, 34);stroke:rgb(68, 68, 68); stroke-width:0.75;stroke-miterlimit:10;}
    .st9:hover { fill:rgb(255, 124, 1) }
</style>

<g id="Слой_1">
	<g>
		<polyline class="st1" points="577.3,189.8 591.3,224.3 606.4,224.3 606.4,70.1 520.7,70.1 520.7,224.3 535.3,224.3 549.3,189.8 		
			"></polyline>
		<line class="st1" x1="537.3" y1="83.4" x2="587.6" y2="83.4"></line>
		<line class="st1" x1="537.3" y1="98" x2="587.6" y2="98"></line>
		<line class="st1" x1="537.3" y1="112.6" x2="587.6" y2="112.6"></line>
		<line class="st1" x1="537.3" y1="127.3" x2="587.6" y2="127.3"></line>
		<line class="st1" x1="537.3" y1="141.9" x2="587.6" y2="141.9"></line>
		<line class="st1" x1="537.3" y1="156.6" x2="587.6" y2="156.6"></line>
		<line class="st1" x1="537.3" y1="171.2" x2="587.6" y2="171.2"></line>
	</g>
	<g>
		<polyline class="st1" points="1456.9,189.8 1467.3,224.3 1478.5,224.3 1478.5,70.1 1414.9,70.1 1414.9,224.3 1425.7,224.3 
			1436.1,189.8 		"></polyline>
		<line class="st1" x1="1426.4" y1="83.4" x2="1467" y2="83.4"></line>
		<line class="st1" x1="1426.4" y1="98" x2="1467" y2="98"></line>
		<line class="st1" x1="1426.4" y1="112.6" x2="1467" y2="112.6"></line>
		<line class="st1" x1="1426.4" y1="127.3" x2="1467" y2="127.3"></line>
		<line class="st1" x1="1426.4" y1="141.9" x2="1467" y2="141.9"></line>
		<line class="st1" x1="1426.4" y1="156.6" x2="1467" y2="156.6"></line>
		<line class="st1" x1="1426.4" y1="171.2" x2="1467" y2="171.2"></line>
	</g>
	<line class="st1" x1="38.1" y1="224.3" x2="55" y2="224.3"></line>
	<rect x="38.1" y="70.1" class="st1" width="1919.6" height="379.9"></rect>
	<g>
		<rect x="38.1" y="70.1" class="st5" width="84.3" height="154.2" id="dwc"></rect>
		<text transform="matrix(1 0 0 1 55.0143 213.7399)" class="st3 ">WC</text>
	</g>
	<g>
		<rect x="122.7" y="70.1" class="st5" width="76.9" height="154.2" id="d16"></rect>
		<text transform="matrix(1 0 0 1 152.0905 213.7399)" class="st3 ">416</text>
	</g>
	<g>
		<rect x="199.6" y="70.1" class="st5" width="91.4" height="154.2" id="d17"></rect>
		<text transform="matrix(1 0 0 1 230.5756 213.7399)" class="st3 ">417</text>
	</g>
	<g>
		<rect x="377.8" y="70.1" class="st5" width="143" height="154.2" id="d19"></rect>
		<text transform="matrix(1 0 0 1 397.8097 213.7399)" class="st3 ">419</text>
	</g>
	<g>
		<rect x="291" y="70.1" class="st5" width="86.8" height="154.2" id="d18"></rect>
		<text transform="matrix(1 0 0 1 319.682 213.7399)" class="st3 ">418</text>
	</g>
	<polyline class="st1" points="150.2,224.3 77.5,224.3 66.5,244.6 	"></polyline>
	<polyline class="st1" points="221.2,224.3 175.2,224.3 164.1,244.6 	"></polyline>
	<polyline class="st1" points="398.4,224.3 340.8,224.3 329.8,244.6 	"></polyline>
	<polyline class="st1" points="318.4,224.3 247.5,224.3 236.5,244.6 	"></polyline>
	<path class="st1" d="M102.9,279.1"></path>
	<polyline class="st1" points="297.2,299.4 129.3,299.4 118.3,279.1 	"></polyline>
	<polyline class="st1" points="383.7,299.4 319.7,299.4 308.7,279.1 	"></polyline>
	<polyline class="st1" points="936.8,299.4 736,299.4 725,279.1 	"></polyline>
	<polyline class="st1" points="1668.3,299.4 1463.6,299.4 1452.6,279.1 	"></polyline>
	<polyline class="st1" points="1436.5,299.4 1209.9,299.4 1198.9,279.1 	"></polyline>
	<polyline class="st1" points="1766.3,299.4 1689.9,299.4 1678.8,279.1 	"></polyline>
	<polyline class="st1" points="1957.8,299.4 1784.5,299.4 1773.5,279.1 	"></polyline>
	<polyline class="st1" points="520.7,224.3 419.9,224.3 408.9,244.6 	"></polyline>
	<polyline class="st1" points="873.1,224.3 651.6,224.3 640.6,244.6 	"></polyline>
	<polyline class="st1" points="938.6,224.3 893.5,224.3 882.4,244.6 	"></polyline>
	<polyline class="st1" points="1414.9,224.3 1379.9,224.3 1368.9,244.6 	"></polyline>
	<polyline class="st1" points="1353.6,224.3 1293.8,224.3 1282.7,244.6 	"></polyline>
	<polyline class="st1" points="1662.8,224.3 1607.8,224.3 1596.8,244.6 	"></polyline>
	<polyline class="st1" points="1742.4,224.3 1683,224.3 1672,244.6 	"></polyline>
	<polyline class="st1" points="1829.7,224.3 1765.4,224.3 1754.4,244.6 	"></polyline>
	<polyline class="st1" points="1878.9,224.3 1851.6,224.3 1840.6,244.6 	"></polyline>
	<polyline class="st1" points="1957.8,224.3 1906.8,224.3 1895.8,244.6 	"></polyline>
	<polyline class="st1" points="1191.1,299.4 969,299 955.9,274.3 	"></polyline>
	<g>
		<rect x="1323.2" y="70.1" class="st5" width="91.7" height="154.2" id="d24"></rect>
		<text transform="matrix(1 0 0 1 1357.5118 213.7399)" class="st3 ">424</text>
	</g>
	<g>
		<rect x="1082.7" y="70.1" class="st5" width="240.6" height="154.2" id="d23"></rect>
		<text transform="matrix(1 0 0 1 1272.1593 213.7399)" class="st3 ">423</text>
	</g>
	<g>
		<rect x="689.4" y="70.1" class="st5" width="249.2" height="154.2" id="d2"></rect>
		<text transform="matrix(1 0 0 1 874.1075 213.7399)" class="st3 ">402</text>
	</g>
	<g>
		<rect x="606.4" y="70.1" class="st5" width="83.1" height="154.2" id="d21"></rect>
		<text transform="matrix(1 0 0 1 635.2352 213.7399)" class="st3 ">421</text>
	</g>
	<g>
		<rect x="1715.1" y="70.1" class="st5" width="76.4" height="154.2" id="d3"></rect>
		<text transform="matrix(0.9615 0 0 1 1742.3964 213.7399)" class="st3 ">403</text>
	</g>
	<g>
		<rect x="1791.6" y="70.1" class="st5" width="87.3" height="154.2" id="d4"></rect>
		<text transform="matrix(1 0 0 1 1828.9587 213.7399)" class="st3 ">404</text>
	</g>
	<g>
		<rect x="1878.5" y="70.1" class="st5" width="79.3" height="154.2" id="dwc"></rect>
		<text transform="matrix(1 0 0 1 1886.1503 213.7399)" class="st3 ">WC</text>
	</g>
	<g>
		<rect x="1711" y="299.4" class="st7" width="246.7" height="150.6" id="d5"></rect>
		<text transform="matrix(1 0 0 1 1766.3207 319.6123)" class="st3 ">405</text>
	</g>
	<g>
		<rect x="1413.7" y="299.4" class="st8" width="212.8" height="150.6" id="d7"></rect>
		<text transform="matrix(1 0 0 1 1436.4858 319.6123)" class="st3 ">407</text>
	</g>
	<g>
		<rect x="606.4" y="299.4" class="st5" width="386" height="150.6" id="d11"></rect>
		<text transform="matrix(1 0 0 1 712.3629 319.6123)" class="st3 ">411</text>
	</g>
	<g>
		<rect x="992.3" y="299.4" class="st9" width="250.5" height="150.6" id="d9"></rect>
		<text transform="matrix(1 0 0 1 1101.682 313.4846)" class="st3 ">409</text>
	</g>
	<g>
		<rect x="1242.8" y="299.4" class="st5" width="170.9" height="150.6" id="d8"></rect>
		<text transform="matrix(1 0 0 1 1356.2777 319.6123)" class="st3 ">408</text>
	</g>
	<g>
		<rect x="277.4" y="299.4" class="st7" width="81.4" height="150.6" id="d14"></rect>
		<text transform="matrix(1 0 0 1 307.0437 319.6123)" class="st3 ">414</text>
	</g>
	<g>
		<rect x="38.1" y="299.4" class="st9" width="239.3" height="150.6" id="d15"></rect>
		<text transform="matrix(1 0 0 1 80.2909 319.6123)" class="st3 ">415</text>
	</g>
	<g>
		<rect x="1626.5" y="299.4" class="st5" width="84.1" height="150.6" id="d6"></rect>
		<text transform="matrix(1 0 0 1 1662.0649 319.6123)" class="st3 ">406</text>
	</g>
	<g>
		<rect x="1636.2" y="70.1" class="st5" width="78.5" height="154.2" id="d2"></rect>
		<text transform="matrix(1 0 0 1 1662.7672 213.7399)" class="st3 ">402</text>
	</g>
	<g>
		<rect x="358.9" y="299.4" class="st7" width="247.5" height="150.6" id="d12"></rect>
		<text transform="matrix(1 0 0 1 385.1714 319.6123)" class="st3">412</text>
	</g>
	<g>
		<rect x="1478.5" y="70.1" class="st7" width="157.6" height="154.2" id="d1"></rect>
		<text transform="matrix(1 0 0 1 1584.1224 213.7399)" class="st3">401</text>
	</g>
	<line class="st1" x1="1504.5" y1="224.3" x2="1478.5" y2="224.3"></line>
	<line class="st1" x1="606.4" y1="224.3" x2="629" y2="224.3"></line>
	<line class="st1" x1="38.1" y1="299.4" x2="109.8" y2="299.4"></line>
	<line class="st1" x1="1082.7" y1="224.3" x2="1270.5" y2="224.3"></line>
	<g>
		<g>
			<path d="M136.6,439.4c-0.3-0.2-0.6-0.4-0.8-0.7s-0.3-0.7-0.4-1.2v0h0.9v0c0.1,0.4,0.2,0.7,0.5,0.9s0.6,0.3,1,0.3
				c0.5,0,0.8-0.1,1.1-0.4s0.4-0.7,0.4-1.2v-1.1c0-0.5-0.1-0.9-0.3-1.1s-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.4-0.7,0.7
				h-0.8v-4.5h4.3v0.9h-3.4v2.4c0.2-0.2,0.4-0.4,0.7-0.5s0.5-0.2,0.8-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.8s0.3,0.8,0.3,1.3
				v1.1c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8s-0.8,0.3-1.3,0.3C137.4,439.7,137,439.6,136.6,439.4z"></path>
			<path d="M143.4,439.7c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1V437c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4h-0.6v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9v-0.3c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7h-0.9c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C143.7,439.7,143.4,439.7,143.4,439.7z"></path>
			<path d="M148.3,438.6h1v1h-1V438.6z"></path>
			<path d="M150.9,437.5l2.9-6.5h0.9l-2.8,6.4h4.5v0.8h-5.5V437.5z M154.7,434.6h0.9v5h-0.9V434.6z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M154.3,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M160.7,76.6l-2.2,7.7h-1l2.2-7.7H157v1.5H156v-2.4h4.6V76.6z"></path>
			<path d="M162.3,83.3h1v1h-1V83.3z"></path>
			<path d="M167.1,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M232.7,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M239,76.6l-2.2,7.7h-1l2.2-7.7h-2.8v1.5h-0.9v-2.4h4.6V76.6z"></path>
			<path d="M240.6,83.3h1v1h-1V83.3z"></path>
			<path d="M243.3,82.3l2.9-6.5h0.9l-2.8,6.4h4.5v0.8h-5.5V82.3z M247.1,79.3h0.9v5h-0.9V79.3z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M321.8,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M328.1,76.6l-2.2,7.7h-1l2.2-7.7h-2.8v1.5h-0.9v-2.4h4.6V76.6z"></path>
			<path d="M329.8,83.3h1v1h-1V83.3z"></path>
			<path d="M332.4,83.6l3.2-4.1c0.2-0.3,0.4-0.5,0.5-0.8s0.2-0.5,0.2-0.7v0c0-0.4-0.1-0.8-0.4-1s-0.6-0.4-1.1-0.4
				c-0.4,0-0.8,0.1-1,0.4s-0.4,0.6-0.5,1.1v0h-1v0c0.1-0.5,0.2-0.9,0.4-1.3s0.5-0.6,0.8-0.8s0.7-0.3,1.2-0.3c0.5,0,0.9,0.1,1.3,0.3
				s0.6,0.4,0.8,0.8s0.3,0.7,0.3,1.2v0c0,0.3-0.1,0.6-0.2,0.9s-0.4,0.7-0.6,1l-2.7,3.6h3.6v0.9h-4.8V83.6z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M435.5,84.4c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1v-0.3c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4h-0.6v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9V78c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7h-0.9c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C435.8,84.4,435.5,84.4,435.5,84.4z"></path>
			<path d="M440.3,82.3l2.9-6.5h0.9l-2.8,6.4h4.5v0.8h-5.5V82.3z M444.1,79.3h0.9v5h-0.9V79.3z"></path>
			<path d="M447.2,83.3h1v1h-1V83.3z"></path>
			<path d="M451,84.2c-0.4-0.2-0.7-0.5-0.9-0.8s-0.3-0.8-0.3-1.3V82c0-0.4,0.1-0.9,0.3-1.2s0.5-0.6,0.9-0.8
				c-0.3-0.2-0.6-0.4-0.7-0.8s-0.3-0.7-0.3-1.1V78c0-0.5,0.1-0.9,0.3-1.2s0.5-0.6,0.8-0.8s0.8-0.3,1.3-0.3s0.9,0.1,1.3,0.3
				s0.6,0.4,0.8,0.8s0.3,0.7,0.3,1.2v0.1c0,0.4-0.1,0.8-0.3,1.1s-0.4,0.6-0.7,0.7c0.4,0.2,0.7,0.5,0.9,0.9s0.3,0.8,0.3,1.2v0.1
				c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.9,0.8s-0.8,0.3-1.4,0.3S451.4,84.4,451,84.2z M453.3,83.4c0.2-0.1,0.4-0.3,0.6-0.5
				s0.2-0.5,0.2-0.8v0c0-0.3-0.1-0.6-0.2-0.8s-0.3-0.4-0.6-0.5s-0.5-0.2-0.9-0.2s-0.6,0.1-0.9,0.2s-0.4,0.3-0.6,0.5
				s-0.2,0.5-0.2,0.8v0c0,0.3,0.1,0.6,0.2,0.8s0.3,0.4,0.6,0.5s0.5,0.2,0.9,0.2S453.1,83.5,453.3,83.4z M453.3,79.4
				c0.2-0.1,0.4-0.3,0.5-0.5s0.2-0.5,0.2-0.8V78c0-0.3-0.1-0.6-0.2-0.8s-0.3-0.4-0.5-0.5s-0.5-0.2-0.8-0.2s-0.6,0.1-0.8,0.2
				s-0.4,0.3-0.5,0.5s-0.2,0.5-0.2,0.8v0.1c0,0.3,0.1,0.6,0.2,0.8s0.3,0.4,0.5,0.5s0.5,0.2,0.8,0.2S453,79.6,453.3,79.4z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M637.4,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M640.2,84.1c-0.4-0.2-0.6-0.5-0.8-0.9s-0.3-0.8-0.3-1.4v0c0-0.3,0-0.6,0.1-1s0.2-0.7,0.3-1c0-0.1,0-0.1,0.1-0.2
				s0.1-0.1,0.1-0.2l1.9-3.7h1l-2.2,4.2l0-0.2c0.1-0.2,0.3-0.3,0.5-0.4s0.5-0.2,0.7-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.9
				s0.3,0.8,0.3,1.4v0c0,0.5-0.1,1-0.3,1.4s-0.5,0.7-0.8,0.9s-0.8,0.3-1.3,0.3S640.6,84.3,640.2,84.1z M642.6,83.2
				c0.3-0.3,0.4-0.7,0.4-1.2v0c0-0.6-0.1-1-0.4-1.3s-0.6-0.5-1.1-0.5c-0.4,0-0.8,0.2-1,0.5s-0.4,0.7-0.4,1.3v0
				c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4C642,83.6,642.3,83.4,642.6,83.2z"></path>
			<path d="M645.4,83.3h1v1h-1V83.3z"></path>
			<path d="M649.7,84.4c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1v-0.3c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4h-0.6v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9V78c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7H648c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C649.9,84.4,649.7,84.4,649.7,84.4z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M800.6,84.2c-0.3-0.2-0.6-0.4-0.8-0.7s-0.3-0.7-0.4-1.2v0h0.9v0c0.1,0.4,0.2,0.7,0.5,0.9s0.6,0.3,1,0.3
				c0.5,0,0.8-0.1,1.1-0.4s0.4-0.7,0.4-1.2v-1.1c0-0.5-0.1-0.9-0.3-1.1s-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.4-0.7,0.7
				h-0.8v-4.5h4.3v0.9h-3.4v2.4c0.2-0.2,0.4-0.4,0.7-0.5s0.5-0.2,0.8-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.8s0.3,0.8,0.3,1.3V82
				c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8s-0.8,0.3-1.3,0.3C801.3,84.4,800.9,84.4,800.6,84.2z"></path>
			<path d="M807.3,84.4c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1v-0.3c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4h-0.6v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9V78c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7h-0.9c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C807.6,84.4,807.3,84.4,807.3,84.4z"></path>
			<path d="M812.2,83.3h1v1h-1V83.3z"></path>
			<path d="M814.8,83.6l3.2-4.1c0.2-0.3,0.4-0.5,0.5-0.8s0.2-0.5,0.2-0.7v0c0-0.4-0.1-0.8-0.4-1s-0.6-0.4-1.1-0.4
				c-0.4,0-0.8,0.1-1,0.4s-0.4,0.6-0.5,1.1v0h-1v0c0.1-0.5,0.2-0.9,0.4-1.3s0.5-0.6,0.8-0.8s0.7-0.3,1.2-0.3c0.5,0,0.9,0.1,1.3,0.3
				s0.6,0.4,0.8,0.8s0.3,0.7,0.3,1.2v0c0,0.3-0.1,0.6-0.2,0.9s-0.4,0.7-0.6,1l-2.7,3.6h3.6v0.9h-4.8V83.6z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1197.2,84.2c-0.3-0.2-0.6-0.4-0.8-0.7s-0.3-0.7-0.4-1.2v0h0.9v0c0.1,0.4,0.2,0.7,0.5,0.9s0.6,0.3,1,0.3
				c0.5,0,0.8-0.1,1.1-0.4s0.4-0.7,0.4-1.2v-1.1c0-0.5-0.1-0.9-0.3-1.1s-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.4-0.7,0.7
				h-0.8v-4.5h4.3v0.9h-3.4v2.4c0.2-0.2,0.4-0.4,0.7-0.5s0.5-0.2,0.8-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.8s0.3,0.8,0.3,1.3V82
				c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8s-0.8,0.3-1.3,0.3C1197.9,84.4,1197.6,84.4,1197.2,84.2z"></path>
			<path d="M1204,84.4c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1v-0.3c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4h-0.6v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9V78c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7h-0.9c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C1204.2,84.4,1204,84.4,1204,84.4z"></path>
			<path d="M1208.8,83.3h1v1h-1V83.3z"></path>
			<path d="M1211.5,83.6l3.2-4.1c0.2-0.3,0.4-0.5,0.5-0.8s0.2-0.5,0.2-0.7v0c0-0.4-0.1-0.8-0.4-1s-0.6-0.4-1.1-0.4
				c-0.4,0-0.8,0.1-1,0.4s-0.4,0.6-0.5,1.1v0h-1v0c0.1-0.5,0.2-0.9,0.4-1.3s0.5-0.6,0.8-0.8s0.7-0.3,1.2-0.3c0.5,0,0.9,0.1,1.3,0.3
				s0.6,0.4,0.8,0.8s0.3,0.7,0.3,1.2v0c0,0.3-0.1,0.6-0.2,0.9s-0.4,0.7-0.6,1l-2.7,3.6h3.6v0.9h-4.8V83.6z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1362.8,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M1365.9,84.2c-0.4-0.2-0.7-0.5-0.9-0.8s-0.3-0.8-0.3-1.3V82c0-0.4,0.1-0.9,0.3-1.2s0.5-0.6,0.9-0.8
				c-0.3-0.2-0.6-0.4-0.7-0.8s-0.3-0.7-0.3-1.1V78c0-0.5,0.1-0.9,0.3-1.2s0.5-0.6,0.8-0.8s0.8-0.3,1.3-0.3s0.9,0.1,1.3,0.3
				s0.6,0.4,0.8,0.8s0.3,0.7,0.3,1.2v0.1c0,0.4-0.1,0.8-0.3,1.1s-0.4,0.6-0.7,0.7c0.4,0.2,0.7,0.5,0.9,0.9s0.3,0.8,0.3,1.2v0.1
				c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.9,0.8s-0.8,0.3-1.4,0.3S1366.3,84.4,1365.9,84.2z M1368.2,83.4c0.2-0.1,0.4-0.3,0.6-0.5
				s0.2-0.5,0.2-0.8v0c0-0.3-0.1-0.6-0.2-0.8s-0.3-0.4-0.6-0.5s-0.5-0.2-0.9-0.2s-0.6,0.1-0.9,0.2s-0.4,0.3-0.6,0.5
				s-0.2,0.5-0.2,0.8v0c0,0.3,0.1,0.6,0.2,0.8s0.3,0.4,0.6,0.5s0.5,0.2,0.9,0.2S1367.9,83.5,1368.2,83.4z M1368.1,79.4
				c0.2-0.1,0.4-0.3,0.5-0.5s0.2-0.5,0.2-0.8V78c0-0.3-0.1-0.6-0.2-0.8s-0.3-0.4-0.5-0.5s-0.5-0.2-0.8-0.2s-0.6,0.1-0.8,0.2
				s-0.4,0.3-0.5,0.5s-0.2,0.5-0.2,0.8v0.1c0,0.3,0.1,0.6,0.2,0.8s0.3,0.4,0.5,0.5s0.5,0.2,0.8,0.2S1367.8,79.6,1368.1,79.4z"></path>
			<path d="M1371.5,83.3h1v1h-1V83.3z"></path>
			<path d="M1375.5,84.2c-0.3-0.2-0.6-0.4-0.8-0.7s-0.3-0.7-0.4-1.2v0h0.9v0c0.1,0.4,0.2,0.7,0.5,0.9s0.6,0.3,1,0.3
				c0.5,0,0.8-0.1,1.1-0.4s0.4-0.7,0.4-1.2v-1.1c0-0.5-0.1-0.9-0.3-1.1s-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.4-0.7,0.7
				h-0.8v-4.5h4.3v0.9h-3.4v2.4c0.2-0.2,0.4-0.4,0.7-0.5s0.5-0.2,0.8-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.8s0.3,0.8,0.3,1.3V82
				c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8s-0.8,0.3-1.3,0.3C1376.2,84.4,1375.8,84.4,1375.5,84.2z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1747,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M1753.3,76.6l-2.2,7.7h-1l2.2-7.7h-2.8v1.5h-0.9v-2.4h4.6V76.6z"></path>
			<path d="M1754.9,83.3h1v1h-1V83.3z"></path>
			<path d="M1757.5,83.6l3.2-4.1c0.2-0.3,0.4-0.5,0.5-0.8s0.2-0.5,0.2-0.7v0c0-0.4-0.1-0.8-0.4-1s-0.6-0.4-1.1-0.4
				c-0.4,0-0.8,0.1-1,0.4s-0.4,0.6-0.5,1.1v0h-1v0c0.1-0.5,0.2-0.9,0.4-1.3s0.5-0.6,0.8-0.8s0.7-0.3,1.2-0.3c0.5,0,0.9,0.1,1.3,0.3
				s0.6,0.4,0.8,0.8s0.3,0.7,0.3,1.2v0c0,0.3-0.1,0.6-0.2,0.9s-0.4,0.7-0.6,1l-2.7,3.6h3.6v0.9h-4.8V83.6z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1662.7,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M1669.1,76.6l-2.2,7.7h-1l2.2-7.7h-2.8v1.5h-0.9v-2.4h4.6V76.6z"></path>
			<path d="M1670.7,83.3h1v1h-1V83.3z"></path>
			<path d="M1673.3,82.3l2.9-6.5h0.9l-2.8,6.4h4.5v0.8h-5.5V82.3z M1677.1,79.3h0.9v5h-0.9V79.3z"></path>
		</g>
	</g>

	<g>
		<g>
			<path d="M1828.7,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M1835,76.6l-2.2,7.7h-1l2.2-7.7h-2.8v1.5h-0.9v-2.4h4.6V76.6z"></path>
			<path d="M1836.6,83.3h1v1h-1V83.3z"></path>
			<path d="M1840.6,84.2c-0.3-0.2-0.6-0.4-0.8-0.7s-0.3-0.7-0.4-1.2v0h0.9v0c0.1,0.4,0.2,0.7,0.5,0.9s0.6,0.3,1,0.3
				c0.5,0,0.8-0.1,1.1-0.4s0.4-0.7,0.4-1.2v-1.1c0-0.5-0.1-0.9-0.3-1.1s-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.4-0.7,0.7
				h-0.8v-4.5h4.3v0.9h-3.4v2.4c0.2-0.2,0.4-0.4,0.7-0.5s0.5-0.2,0.8-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.8s0.3,0.8,0.3,1.3V82
				c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8s-0.8,0.3-1.3,0.3C1841.3,84.4,1841,84.4,1840.6,84.2z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M313.6,439.6h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V439.6z"></path>
			<path d="M319.9,431.8l-2.2,7.7h-1l2.2-7.7h-2.8v1.5h-0.9v-2.4h4.6V431.8z"></path>
			<path d="M321.6,438.6h1v1h-1V438.6z"></path>
			<path d="M325.8,439.7c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1V437c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4H326v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9v-0.3c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7h-0.9c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C326,439.7,325.8,439.7,325.8,439.7z"></path>
		</g>
	</g>

	<g>
		<g>
			<path d="M786.3,439.4c-0.4-0.2-0.7-0.5-0.9-0.8s-0.3-0.8-0.3-1.3v-0.1c0-0.4,0.1-0.9,0.3-1.2s0.5-0.6,0.9-0.8
				c-0.3-0.2-0.6-0.4-0.7-0.8s-0.3-0.7-0.3-1.1v-0.1c0-0.5,0.1-0.9,0.3-1.2s0.5-0.6,0.8-0.8s0.8-0.3,1.3-0.3s0.9,0.1,1.3,0.3
				s0.6,0.4,0.8,0.8s0.3,0.7,0.3,1.2v0.1c0,0.4-0.1,0.8-0.3,1.1s-0.4,0.6-0.7,0.7c0.4,0.2,0.7,0.5,0.9,0.9s0.3,0.8,0.3,1.2v0.1
				c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.9,0.8s-0.8,0.3-1.4,0.3S786.7,439.6,786.3,439.4z M788.6,438.6c0.2-0.1,0.4-0.3,0.6-0.5
				s0.2-0.5,0.2-0.8v0c0-0.3-0.1-0.6-0.2-0.8s-0.3-0.4-0.6-0.5s-0.5-0.2-0.9-0.2s-0.6,0.1-0.9,0.2s-0.4,0.3-0.6,0.5
				s-0.2,0.5-0.2,0.8v0c0,0.3,0.1,0.6,0.2,0.8s0.3,0.4,0.6,0.5s0.5,0.2,0.9,0.2S788.4,438.8,788.6,438.6z M788.6,434.6
				c0.2-0.1,0.4-0.3,0.5-0.5s0.2-0.5,0.2-0.8v-0.1c0-0.3-0.1-0.6-0.2-0.8s-0.3-0.4-0.5-0.5s-0.5-0.2-0.8-0.2s-0.6,0.1-0.8,0.2
				s-0.4,0.3-0.5,0.5s-0.2,0.5-0.2,0.8v0.1c0,0.3,0.1,0.6,0.2,0.8s0.3,0.4,0.5,0.5s0.5,0.2,0.8,0.2S788.3,434.8,788.6,434.6z"></path>
			<path d="M792.9,439.4c-0.4-0.2-0.6-0.5-0.8-0.9s-0.3-0.8-0.3-1.4v0c0-0.3,0-0.6,0.1-1s0.2-0.7,0.3-1c0-0.1,0-0.1,0.1-0.2
				s0.1-0.1,0.1-0.2l1.9-3.7h1l-2.2,4.2l0-0.2c0.1-0.2,0.3-0.3,0.5-0.4s0.5-0.2,0.7-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.9
				s0.3,0.8,0.3,1.4v0c0,0.5-0.1,1-0.3,1.4s-0.5,0.7-0.8,0.9s-0.8,0.3-1.3,0.3S793.3,439.6,792.9,439.4z M795.3,438.4
				c0.3-0.3,0.4-0.7,0.4-1.2v0c0-0.6-0.1-1-0.4-1.3s-0.6-0.5-1.1-0.5c-0.4,0-0.8,0.2-1,0.5s-0.4,0.7-0.4,1.3v0
				c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4C794.7,438.8,795,438.7,795.3,438.4z"></path>
			<path d="M798.1,438.6h1v1h-1V438.6z"></path>
			<path d="M802.9,439.6H802v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V439.6z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1102.7,439.4c-0.4-0.2-0.6-0.5-0.8-0.9s-0.3-0.8-0.3-1.4v0c0-0.3,0-0.6,0.1-1s0.2-0.7,0.3-1c0-0.1,0-0.1,0.1-0.2
				s0.1-0.1,0.1-0.2l1.9-3.7h1l-2.2,4.2l0-0.2c0.1-0.2,0.3-0.3,0.5-0.4s0.5-0.2,0.7-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.9
				s0.3,0.8,0.3,1.4v0c0,0.5-0.1,1-0.3,1.4s-0.5,0.7-0.8,0.9s-0.8,0.3-1.3,0.3S1103,439.6,1102.7,439.4z M1105,438.4
				c0.3-0.3,0.4-0.7,0.4-1.2v0c0-0.6-0.1-1-0.4-1.3s-0.6-0.5-1.1-0.5c-0.4,0-0.8,0.2-1,0.5s-0.4,0.7-0.4,1.3v0
				c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4C1104.4,438.8,1104.8,438.7,1105,438.4z"></path>
			<path d="M1109.1,439.4c-0.3-0.2-0.6-0.4-0.8-0.7s-0.3-0.7-0.4-1.2v0h0.9v0c0.1,0.4,0.2,0.7,0.5,0.9s0.6,0.3,1,0.3
				c0.5,0,0.8-0.1,1.1-0.4s0.4-0.7,0.4-1.2v-1.1c0-0.5-0.1-0.9-0.3-1.1s-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.4-0.7,0.7
				h-0.8v-4.5h4.3v0.9h-3.4v2.4c0.2-0.2,0.4-0.4,0.7-0.5s0.5-0.2,0.8-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.8s0.3,0.8,0.3,1.3
				v1.1c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8s-0.8,0.3-1.3,0.3C1109.9,439.7,1109.5,439.6,1109.1,439.4z"></path>
			<path d="M1114.4,438.6h1v1h-1V438.6z"></path>
			<path d="M1117.8,439c-0.4-0.4-0.6-1-0.6-1.8v-3.9c0-0.8,0.2-1.4,0.6-1.8s1-0.6,1.8-0.6c0.8,0,1.4,0.2,1.8,0.6s0.6,1,0.6,1.8v3.9
				c0,0.8-0.2,1.4-0.6,1.8s-1,0.6-1.8,0.6C1118.8,439.7,1118.2,439.4,1117.8,439z M1120.7,438.4c0.2-0.3,0.4-0.7,0.4-1.2v-3.9
				c0-0.5-0.1-0.9-0.4-1.2s-0.6-0.4-1.1-0.4s-0.9,0.1-1.1,0.4s-0.4,0.7-0.4,1.2v3.9c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4
				S1120.5,438.7,1120.7,438.4z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1317.2,439.7c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1V437c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4h-0.6v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9v-0.3c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7h-0.9c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C1317.4,439.7,1317.2,439.7,1317.2,439.7z"></path>
			<path d="M1321.9,437.5l2.9-6.5h0.9l-2.8,6.4h4.5v0.8h-5.5V437.5z M1325.7,434.6h0.9v5h-0.9V434.6z"></path>
			<path d="M1328.8,438.6h1v1h-1V438.6z"></path>
			<path d="M1332.2,439c-0.4-0.4-0.6-1-0.6-1.8v-3.9c0-0.8,0.2-1.4,0.6-1.8s1-0.6,1.8-0.6c0.8,0,1.4,0.2,1.8,0.6s0.6,1,0.6,1.8v3.9
				c0,0.8-0.2,1.4-0.6,1.8s-1,0.6-1.8,0.6C1333.2,439.7,1332.6,439.4,1332.2,439z M1335.1,438.4c0.2-0.3,0.4-0.7,0.4-1.2v-3.9
				c0-0.5-0.1-0.9-0.4-1.2s-0.6-0.4-1.1-0.4s-0.9,0.1-1.1,0.4s-0.4,0.7-0.4,1.2v3.9c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4
				S1334.9,438.7,1335.1,438.4z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1514.7,439.4c-0.3-0.2-0.6-0.4-0.8-0.7s-0.3-0.7-0.4-1.2v0h0.9v0c0.1,0.4,0.2,0.7,0.5,0.9s0.6,0.3,1,0.3
				c0.5,0,0.8-0.1,1.1-0.4s0.4-0.7,0.4-1.2v-1.1c0-0.5-0.1-0.9-0.3-1.1s-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.4-0.7,0.7
				h-0.8v-4.5h4.3v0.9h-3.4v2.4c0.2-0.2,0.4-0.4,0.7-0.5s0.5-0.2,0.8-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.8s0.3,0.8,0.3,1.3
				v1.1c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8s-0.8,0.3-1.3,0.3C1515.4,439.7,1515,439.6,1514.7,439.4z"></path>
			<path d="M1520.6,439c-0.4-0.4-0.6-1-0.6-1.8v-3.9c0-0.8,0.2-1.4,0.6-1.8s1-0.6,1.8-0.6c0.8,0,1.4,0.2,1.8,0.6s0.6,1,0.6,1.8v3.9
				c0,0.8-0.2,1.4-0.6,1.8s-1,0.6-1.8,0.6C1521.6,439.7,1521,439.4,1520.6,439z M1523.6,438.4c0.2-0.3,0.4-0.7,0.4-1.2v-3.9
				c0-0.5-0.1-0.9-0.4-1.2s-0.6-0.4-1.1-0.4s-0.9,0.1-1.1,0.4s-0.4,0.7-0.4,1.2v3.9c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4
				S1523.3,438.7,1523.6,438.4z"></path>
			<path d="M1526.6,438.6h1v1h-1V438.6z"></path>
			<path d="M1531.4,439.6h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V439.6z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1658.1,439.6h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V439.6z"></path>
			<path d="M1660.9,439.4c-0.4-0.2-0.6-0.5-0.8-0.9s-0.3-0.8-0.3-1.4v0c0-0.3,0-0.6,0.1-1s0.2-0.7,0.3-1c0-0.1,0-0.1,0.1-0.2
				s0.1-0.1,0.1-0.2l1.9-3.7h1l-2.2,4.2l0-0.2c0.1-0.2,0.3-0.3,0.5-0.4s0.5-0.2,0.7-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.9
				s0.3,0.8,0.3,1.4v0c0,0.5-0.1,1-0.3,1.4s-0.5,0.7-0.8,0.9s-0.8,0.3-1.3,0.3S1661.3,439.6,1660.9,439.4z M1663.3,438.4
				c0.3-0.3,0.4-0.7,0.4-1.2v0c0-0.6-0.1-1-0.4-1.3s-0.6-0.5-1.1-0.5c-0.4,0-0.8,0.2-1,0.5s-0.4,0.7-0.4,1.3v0
				c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4C1662.7,438.8,1663,438.7,1663.3,438.4z"></path>
			<path d="M1666.1,438.6h1v1h-1V438.6z"></path>
			<path d="M1672.2,435.3l0,0.2c-0.1,0.2-0.2,0.3-0.5,0.4s-0.5,0.1-0.8,0.1c-0.4,0-0.8-0.1-1.1-0.3s-0.6-0.5-0.8-0.9
				s-0.3-0.8-0.3-1.3v0c0-0.6,0.1-1,0.3-1.4s0.5-0.7,0.8-0.9s0.8-0.3,1.3-0.3s0.9,0.1,1.3,0.3s0.6,0.5,0.8,0.9s0.3,0.9,0.3,1.4v0
				c0,0.3,0,0.6-0.1,1s-0.2,0.7-0.3,1c0,0.1,0,0.1-0.1,0.2s0,0.1-0.1,0.2l-1.8,3.7h-1L1672.2,435.3z M1672.2,434.8
				c0.3-0.3,0.4-0.7,0.4-1.2v0c0-0.5-0.1-1-0.4-1.2s-0.6-0.4-1.1-0.4c-0.5,0-0.8,0.1-1.1,0.4s-0.4,0.7-0.4,1.3v0
				c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4S1671.9,435.1,1672.2,434.8z"></path>
		</g>
	</g>
	<g>
		<g>
			<path d="M1818.3,439.4c-0.3-0.2-0.6-0.4-0.8-0.7s-0.3-0.7-0.4-1.2v0h0.9v0c0.1,0.4,0.2,0.7,0.5,0.9s0.6,0.3,1,0.3
				c0.5,0,0.8-0.1,1.1-0.4s0.4-0.7,0.4-1.2v-1.1c0-0.5-0.1-0.9-0.3-1.1s-0.5-0.4-1-0.4c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.4-0.7,0.7
				h-0.8v-4.5h4.3v0.9h-3.4v2.4c0.2-0.2,0.4-0.4,0.7-0.5s0.5-0.2,0.8-0.2c0.5,0,0.9,0.1,1.2,0.3s0.6,0.5,0.8,0.8s0.3,0.8,0.3,1.3
				v1.1c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8s-0.8,0.3-1.3,0.3C1819.1,439.7,1818.7,439.6,1818.3,439.4z"></path>
			<path d="M1825.1,439.7c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1V437c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4h-0.6v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9v-0.3c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7h-0.9c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C1825.4,439.7,1825.1,439.7,1825.1,439.7z"></path>
			<path d="M1830,438.6h1v1h-1V438.6z"></path>
			<path d="M1833.3,439c-0.4-0.4-0.6-1-0.6-1.8v-3.9c0-0.8,0.2-1.4,0.6-1.8s1-0.6,1.8-0.6c0.8,0,1.4,0.2,1.8,0.6s0.6,1,0.6,1.8v3.9
				c0,0.8-0.2,1.4-0.6,1.8s-1,0.6-1.8,0.6C1834.3,439.7,1833.7,439.4,1833.3,439z M1836.3,438.4c0.2-0.3,0.4-0.7,0.4-1.2v-3.9
				c0-0.5-0.1-0.9-0.4-1.2s-0.6-0.4-1.1-0.4s-0.9,0.1-1.1,0.4s-0.4,0.7-0.4,1.2v3.9c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4
				S1836,438.7,1836.3,438.4z"></path>
		</g>
	</g>

	<g>
		<path d="M69.8,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
		<path d="M73.8,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
		<path d="M75.7,83.3h1v1h-1V83.3z"></path>
		<path d="M80.5,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
	</g>

	<g>
		<path d="M1909.9,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
		<path d="M1913.9,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
		<path d="M1915.8,83.3h1v1h-1V83.3z"></path>
		<path d="M1920.6,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
	</g>
	<line class="st6" x1="606.4" y1="299.4" x2="606.4" y2="224"></line>
	<polyline class="st1" points="710.2,299.4 405.5,299.4 394.4,279.1 	"></polyline>
	<g>
		<g>
			<path class="st3" d="M473,437.5l2.9-6.5h0.9l-2.8,6.4h4.5v0.8H473V437.5z M476.8,434.6h0.9v5h-0.9V434.6z"></path>
			<path class="st3" d="M483.3,435.3l0,0.2c-0.1,0.2-0.2,0.3-0.5,0.4s-0.5,0.1-0.8,0.1c-0.4,0-0.8-0.1-1.1-0.3s-0.6-0.5-0.8-0.9
				s-0.3-0.8-0.3-1.3v0c0-0.6,0.1-1,0.3-1.4s0.5-0.7,0.8-0.9s0.8-0.3,1.3-0.3s0.9,0.1,1.3,0.3s0.6,0.5,0.8,0.9s0.3,0.9,0.3,1.4v0
				c0,0.3,0,0.6-0.1,1s-0.2,0.7-0.3,1c0,0.1,0,0.1-0.1,0.2s0,0.1-0.1,0.2l-1.8,3.7h-1L483.3,435.3z M483.2,434.8
				c0.3-0.3,0.4-0.7,0.4-1.2v0c0-0.5-0.1-1-0.4-1.2s-0.6-0.4-1.1-0.4c-0.5,0-0.8,0.1-1.1,0.4s-0.4,0.7-0.4,1.3v0
				c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4S483,435.1,483.2,434.8z"></path>
			<path class="st3" d="M486.1,438.6h1v1h-1V438.6z"></path>
			<path class="st3" d="M489.8,439.4c-0.4-0.2-0.6-0.5-0.8-0.9s-0.3-0.8-0.3-1.4v0c0-0.3,0-0.6,0.1-1s0.2-0.7,0.3-1
				c0-0.1,0-0.1,0.1-0.2s0.1-0.1,0.1-0.2l1.9-3.7h1l-2.2,4.2l0-0.2c0.1-0.2,0.3-0.3,0.5-0.4s0.5-0.2,0.7-0.2c0.5,0,0.9,0.1,1.2,0.3
				s0.6,0.5,0.8,0.9s0.3,0.8,0.3,1.4v0c0,0.5-0.1,1-0.3,1.4s-0.5,0.7-0.8,0.9s-0.8,0.3-1.3,0.3S490.1,439.6,489.8,439.4z
				 M492.1,438.4c0.3-0.3,0.4-0.7,0.4-1.2v0c0-0.6-0.1-1-0.4-1.3s-0.6-0.5-1.1-0.5c-0.4,0-0.8,0.2-1,0.5s-0.4,0.7-0.4,1.3v0
				c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4C491.5,438.8,491.9,438.7,492.1,438.4z"></path>
		</g>
	</g>
	<line class="st6" x1="1584.1" y1="224.3" x2="1478.5" y2="224.3"></line> 
	<g>
		<g>
			<path d="M1546.3,84.4c0,0-0.2-0.1-0.5-0.3s-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2h0.9c0,0.3,0.1,0.5,0.3,0.7s0.3,0.3,0.6,0.4
				s0.5,0.1,0.8,0.1c0.5,0,0.9-0.1,1.1-0.4s0.4-0.6,0.4-1.1v-0.3c0-0.5-0.1-0.8-0.4-1.1s-0.6-0.4-1.1-0.4h-0.6v-0.9h0.6
				c0.4,0,0.7-0.1,1-0.3s0.3-0.5,0.3-0.9V78c0-0.4-0.1-0.8-0.4-1s-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.7,0.1s-0.4,0.2-0.5,0.4
				s-0.2,0.4-0.3,0.7h-0.9c0.1-0.4,0.2-0.8,0.4-1.1s0.5-0.6,0.8-0.7s0.7-0.2,1.1-0.2c0.7,0,1.3,0.2,1.7,0.6s0.6,0.9,0.6,1.6v0.2
				c0,0.4-0.1,0.8-0.3,1.1s-0.5,0.5-0.8,0.7c0.4,0.1,0.7,0.3,0.9,0.7s0.3,0.8,0.3,1.3v0.2c0,0.5-0.1,0.9-0.3,1.3s-0.5,0.6-0.8,0.8
				s-0.8,0.3-1.3,0.3C1546.5,84.4,1546.3,84.4,1546.3,84.4z"></path>
			<path d="M1553.2,84.4h-0.9v-7.7l-1.5,0.9v-1l1.2-0.8h1.2V84.4z"></path>
			<path d="M1555.1,83.3h1v1h-1V83.3z"></path>
			<path d="M1561.1,80.1l0,0.2c-0.1,0.2-0.2,0.3-0.5,0.4s-0.5,0.1-0.8,0.1c-0.4,0-0.8-0.1-1.1-0.3s-0.6-0.5-0.8-0.9
				s-0.3-0.8-0.3-1.3v0c0-0.6,0.1-1,0.3-1.4s0.5-0.7,0.8-0.9s0.8-0.3,1.3-0.3s0.9,0.1,1.3,0.3s0.6,0.5,0.8,0.9s0.3,0.9,0.3,1.4v0
				c0,0.3,0,0.6-0.1,1s-0.2,0.7-0.3,1c0,0.1,0,0.1-0.1,0.2s0,0.1-0.1,0.2l-1.8,3.7h-1L1561.1,80.1z M1561.1,79.6
				c0.3-0.3,0.4-0.7,0.4-1.2v0c0-0.5-0.1-1-0.4-1.2s-0.6-0.4-1.1-0.4c-0.5,0-0.8,0.1-1.1,0.4s-0.4,0.7-0.4,1.3v0
				c0,0.5,0.1,0.9,0.4,1.2s0.6,0.4,1.1,0.4S1560.9,79.9,1561.1,79.6z"></path>
		</g>
	</g>
</g>
<g id="Слой_3">
	<text transform="matrix(1 0 0 1 1531.8086 145.5075)" class=" st4">Навч. ауд.</text>
	<text transform="matrix(1 0 0 1 1807.3037 377.0399)" class=" st4">Навч. ауд.</text>
	<text transform="matrix(1 0 0 1 1493.8358 377.0399)" class=" st4">Комп. ауд.</text>
	<text transform="matrix(1 0 0 1 1092.157 377.0399)" class=" st4">Лекц. ауд.</text>
	<text transform="matrix(1 0 0 1 453.0704 377.0399)" class=" st4">Навч. ауд.</text>
	<text transform="matrix(1 0 0 1 288.6058 377.0399)" class=" st4">Навч. ауд.</text>
	<text transform="matrix(1 0 0 1 135.7273 377.0399)" class=" st4">Лекц. ауд.</text>
</g>
<g id="Слой_5">
	<polyline class="st1" points="52,499 55.5,507.5 59.2,507.5 59.2,469.6 38.1,469.6 38.1,507.5 41.7,507.5 45.2,499 		"></polyline>
	<text transform="matrix(1 0 0 1 67.1288 491.8898)" style="font-size: 15px; font-weight:500;" class="st4">Сходи</text>
</g>
</svg>
</div>         

<div class="ui-60" style="	background: rgb(231, 180, 11);">
		
    <div class="container">
        <div class="row">
        
            <div class="col-md-6">
                <div style="margin-top: 50px;">
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-orange4 circle">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    
                    <div class="ui-plan">
                        <h4>Факультет психології, історії та соціології</h4>
						<p>Загальна площа - 1089.33 м²</p>
						<p>Загальна кількість аудиторій - 9</p>
						<p>Загальна кількість посадкових місць - 424</p>
						<br>
						<p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
						<p>Бакалавр (денна/заочна): 247/101</p>
						<p>Магістр (денна/заочна): 17/48</p>
						<p>PhD (денна/заочна): 5/7</p>
                    </div>
                
                </div>
                
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-orange3 circle">
						<i class="far fa-lightbulb"></i>
                    </div>
                    <div class="ui-plan">
                        <h4>Кафедра психології</h4>
                        <p>Загальна кількість посадкових місць - 188</p>
                        <p>Загальна кількість аудиторій - 3</p>
						<br>
						<p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
						<p>Бакалавр (денна/заочна): 109/62</p>
						<p>Магістр (денна/заочна): 6/34</p>
						<p>PhD (денна/заочна): 4/5</p>
                    </div>
                
                </div>

            </div> 
            </div>

			<div class="col-md-6">
                <div style="margin-top: 50px;">
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-orange2 circle">
                        <i class="fas fa-user-friends"></i>
                    </div>
                    
                    <div class="ui-plan">
                        <h4>Кафедра соціальної роботи, соціальної педагогіки та соціології</h4>
                        <p>Загальна кількість посадкових місць - 128</p>
                        <p>Загальна кількість аудиторій - 3</p>
						<br>
						<p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
						<p>Бакалавр (денна/заочна): 53/21</p>
						<p>Магістр (денна/заочна): 4/0</p>
						<p>PhD (денна/заочна): 1/1</p>
                    </div>
                
                </div>
                
                <div class="ui-item clearfix">
                
                    <div class="ui-price bg-orange1 circle">
						<i class="far fa-compass"></i>
                    </div>
                    <div class="ui-plan">
                        <h4>Кафедра історії, археології та методики викладання</h4>
                        <p>Загальна кількість посадкових місць - 108</p>
                        <p>Загальна кількість аудиторій - 3</p>
						<br>
						<p style="font-weight:bold">Контингент здобувачів вищої освіти:</p>
						<p>Бакалавр (денна/заочна): 85/18</p>
						<p>Магістр (денна/заочна): 7/14</p>
						<p>PhD (денна/заочна): 0/1</p>
                    </div>
                
                </div>

            </div> 
            </div>
		</div>
	</div>
</div>

<div class="container"> <div id="chartdiv"></div> </div>
    
	<script src="js/data_diagram.js"> </script>

	<script src="lib/4/core.js"></script>
	<script src="lib/4/charts.js"></script>
	<script src="lib/4/themes/material.js"></script>
	<script src="lib/4/themes/animated.js"></script>

	<script>
	am4core.ready(function() {

	am4core.useTheme(am4themes_material);
	am4core.useTheme(am4themes_animated);

	var chart = am4core.create("chartdiv", am4charts.XYChart);

	chart.data = dataForDiagram(5,4) ;


	var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
	categoryAxis.dataFields.category = "classroom";
	categoryAxis.renderer.grid.template.location = 0;
	categoryAxis.renderer.minGridDistance = 30;

	categoryAxis.renderer.labels.template.adapter.add("dy", function(dy, target) {
	if (target.dataItem && target.dataItem.index & 2 == 2) {
		return dy + 25;
	}
	return dy;
	});

	var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

	var series = chart.series.push(new am4charts.ColumnSeries());
	series.dataFields.valueY = "amount";
	series.dataFields.categoryX = "classroom";
	series.name = "Amount";
	series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/] місць ";
	series.columns.template.fillOpacity = .8;




	var columnTemplate = series.columns.template;
	columnTemplate.strokeWidth = 2;
	columnTemplate.strokeOpacity = 1;

	}); 
	</script>

		<%- include('./partials/footer') %>

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>

		<script src="js/getDataFromJson.js"> </script>
        <script src="js/register_tippy.js">  </script>
        <script> registerTippiesForBuildingAndFloor(5, 4); </script>
    </body>
 
</html>