<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>

    <body>
        <%- include('./partials/header') %>


        <div class="parallax-window" data-parallax="scroll" data-image-src="img/4.jpg">
            <div class="parallax-content container">
                <h1 class="carousel-title">5 корпус</h1>
                <p style="color: beige; ">Вул. інженера Корсакова, 47</p>
            </div>
        </div>
    

        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-7 col-lg-7">
            <?xml version="1.0" encoding="utf-8"?>
            <svg class="5build" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 801.1 792" style="enable-background:new 0 0 801.1 792;" xml:space="preserve" weight="350" height="550">
            <style type="text/css">
                .st0{fill:#C6946A;}
                .st1{fill:#DDA673;}
                .st2{fill:#8C6239;}
                .st3{fill:#877267;}
                .st4{fill:#AA8D74;}
                .st5{fill:#94755F;}
                .st6{fill:#A97646;}
                .st7{fill:#A27043;}
                .st8{fill:#7F5934;}
                .st9{fill:url(#SVGID_1_);}
                .st10{fill:url(#SVGID_2_);}
                .st11{fill:url(#SVGID_3_);}
                .st12{fill:url(#SVGID_4_);}
                .st13{fill:url(#SVGID_5_);}
                .st14{fill:#AFAEAE;}
                .st15{fill:#A18B7D;}
                .st16{fill:#483F39;}
                .st17{fill:#74665D;}
                .st18{fill:#EBE9E2;}
                .st19{fill:#F5F4EC;}
                .st20{fill:#BEBEB7;}
                .st21{fill:#B2A886;}
                .st22{fill:#9B5D15;}
                .st23{fill:#824A13;}
                .st24{enable-background:new    ;}
                .st25{fill:#AE978A;}
                .st26{fill:#F4EBE4;}
                .st27{fill:#E3D7C9;}
                .st9:hover {fill:rgb(49, 112, 207); }
                .st10:hover {fill:rgb(255, 174, 0); }
                .st11:hover {fill:rgb(43, 201, 43); }
                .st12:hover {fill:rgb(255, 115, 0); }
                .st13:hover {fill:rgb(52, 199, 96); }
            </style>
            <g id="Слой_1">
                <g>
                    <polygon class="st0" points="18.3,347.8 18.6,668.8 212.6,779.5 212.2,460.6 		"></polygon>
                </g>
                <g>
                    <polygon class="st1" points="212.1,459.9 212.5,779.5 783.8,449.6 783.8,131.7 		"></polygon>
                </g>
                <g>
                    <polygon class="st2" points="18.3,347.8 212.5,461.4 783.7,131.9 589.6,18.5 		"></polygon>
                </g>
                <g>
                    <polygon class="st3" points="46.9,349.5 212.4,443.9 758.9,127 588.5,31.4 		"></polygon>
                </g>
                <polygon class="st4" points="744.2,135.4 588.5,47.9 61.2,357.6 212.4,443.9 	"></polygon>
                <g>
                    <polygon class="st5" points="503.4,230.3 457.8,218.2 485.4,201.1 		"></polygon>
                    <g>
                        <polygon class="st6" points="527.6,198 527.6,216.7 503.4,230.7 503.4,212 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st2" points="503.4,212 503.4,230.7 479,216.7 479.1,198 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st7" points="527.6,198 503.4,212 479.1,198 503.3,183.9 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st8" points="519.5,197.6 503.4,207 487.2,197.6 503.3,188.3 			"></polygon>
                    </g>
                    <polygon class="st5" points="512.5,201.7 503.3,196.3 494.2,201.6 503.4,207 		"></polygon>
                </g>
                <g>
                    <polygon class="st5" points="338.3,326.2 292.6,314.1 320.2,297 		"></polygon>
                    <g>
                        <polygon class="st6" points="362.5,293.9 362.4,312.6 338.2,326.7 338.3,308 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st2" points="338.3,308 338.2,326.7 313.9,312.6 313.9,293.9 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st7" points="362.5,293.9 338.3,308 313.9,293.9 338.1,279.8 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st8" points="354.3,293.6 338.2,302.9 322,293.6 338.1,284.2 			"></polygon>
                    </g>
                    <polygon class="st5" points="347.4,297.6 338.1,292.3 329,297.6 338.2,302.9 		"></polygon>
                </g>
                <g>
                    <polygon class="st5" points="205.7,407.8 160.1,395.7 187.7,378.6 		"></polygon>
                    <g>
                        <polygon class="st6" points="229.9,375.5 229.9,394.2 205.7,408.3 205.7,389.5 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st2" points="205.7,389.5 205.7,408.3 181.3,394.2 181.4,375.5 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st7" points="229.9,375.5 205.7,389.5 181.4,375.5 205.6,361.4 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st8" points="221.8,375.1 205.7,384.5 189.5,375.1 205.6,365.8 			"></polygon>
                    </g>
                    <polygon class="st5" points="214.8,379.2 205.6,373.9 196.5,379.2 205.7,384.5 		"></polygon>
                </g>
                <g>
                    <polygon class="st5" points="634.5,148.2 588.8,136.1 616.4,119 		"></polygon>
                    <g>
                        <polygon class="st6" points="658.7,115.9 658.6,134.6 634.4,148.6 634.5,129.9 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st2" points="634.5,129.9 634.4,148.6 610.1,134.6 610.1,115.9 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st7" points="658.7,115.9 634.5,129.9 610.1,115.9 634.3,101.8 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st8" points="650.6,115.5 634.5,124.9 618.3,115.5 634.4,106.2 			"></polygon>
                    </g>
                    <polygon class="st5" points="643.6,119.6 634.4,114.3 625.2,119.6 634.5,124.9 		"></polygon>
                </g>
            </g>
            <g id="_x35__x5F_1">
                <lineargradient id="SVGID_1_" gradientunits="userSpaceOnUse" x1="18.5327" y1="585.4321" x2="783.7996" y2="585.4321">
                    <stop offset="1.385225e-07" style="stop-color:#B78A62"></stop>
                    <stop offset="0.3373" style="stop-color:#C09066"></stop>
                    <stop offset="0.8964" style="stop-color:#D8A271"></stop>
                    <stop offset="0.9944" style="stop-color:#DDA673"></stop>
                </lineargradient>
                <a href="5_1floor"><polygon id="f5_1" class="st9" points="783.8,391.3 212.6,720.2 212.6,720.2 18.5,608.9 18.8,668.8 212.6,779.5 783.8,449.7 	"></polygon></a>
                <lineargradient id="SVGID_2_" gradientunits="userSpaceOnUse" x1="18.5327" y1="527.5735" x2="783.7996" y2="527.5735">
                    <stop offset="1.385225e-07" style="stop-color:#B78A62"></stop>
                    <stop offset="0.3373" style="stop-color:#C09066"></stop>
                    <stop offset="0.8964" style="stop-color:#D8A271"></stop>
                    <stop offset="0.9944" style="stop-color:#DDA673"></stop>
                </lineargradient>
                <a href="5_2floor"><polygon id="f5_2" class="st10" points="783.8,333.5 212.6,662.3 18.5,552.5 18.8,610.9 212.6,721.7 783.8,391.8 	"></polygon></a>
                <lineargradient id="SVGID_3_" gradientunits="userSpaceOnUse" x1="18.5327" y1="469.9622" x2="783.7996" y2="469.9622">
                    <stop offset="1.385225e-07" style="stop-color:#B78A62"></stop>
                    <stop offset="0.3373" style="stop-color:#C09066"></stop>
                    <stop offset="0.8964" style="stop-color:#D8A271"></stop>
                    <stop offset="0.9944" style="stop-color:#DDA673"></stop>
                </lineargradient>
                <a href="5_3floor"><polygon id="f5_3" class="st11" points="783.8,276.6 212.6,605.5 212.6,605.5 18.5,494.2 18.8,552.5 212.6,663.3 783.8,333.5 	"></polygon></a>
                <lineargradient id="SVGID_4_" gradientunits="userSpaceOnUse" x1="18.5327" y1="412.3508" x2="783.7996" y2="412.3508">
                    <stop offset="1.385225e-07" style="stop-color:#B78A62"></stop>
                    <stop offset="0.3373" style="stop-color:#C09066"></stop>
                    <stop offset="0.8964" style="stop-color:#D8A271"></stop>
                    <stop offset="0.9944" style="stop-color:#DDA673"></stop>
                </lineargradient>
                <a href="5_4floor"><polygon id="f5_4" class="st12" points="783.8,218.3 212.6,547.1 18.5,437.3 18.8,495.7 212.6,606.4 783.8,276.6 	"></polygon></a>
                <lineargradient id="SVGID_5_" gradientunits="userSpaceOnUse" x1="18.2855" y1="339.4094" x2="783.7996" y2="339.4094">
                    <stop offset="1.385225e-07" style="stop-color:#B78A62"></stop>
                    <stop offset="0.3373" style="stop-color:#C09066"></stop>
                    <stop offset="0.8964" style="stop-color:#D8A271"></stop>
                    <stop offset="0.9944" style="stop-color:#DDA673"></stop>
                </lineargradient>
                <a href="5_5floor"><polygon id="f5_5" class="st13" points="783.8,131.2 212.6,461.1 212.6,461.1 18.3,347.3 18.8,436.8 212.6,547.6 783.8,217.8 	"></polygon></a>
            </g>
            <g id="Слой_2">
                <g id="Слой_4_1_">
                    <g>
                        <g>
                            <polygon class="st14" points="87.1,611 87.1,643.6 130.2,668.5 130.2,635.9 				"></polygon>
                        </g>
                        <g>
                            <polygon class="st2" points="88.4,611.8 88.4,642.9 87.1,643.6 87.1,611 				"></polygon>
                        </g>
                        <polygon class="st15" points="87.1,643.6 88.4,642.9 130.2,667 130.2,668.5 			"></polygon>
                    </g>
                    <g>
                        <g>
                            <polygon class="st14" points="87.1,662.3 87.1,694.9 130.2,719.7 130.2,687.1 				"></polygon>
                        </g>
                        <g>
                            <polygon class="st2" points="88.4,663 88.4,694.1 87.1,694.9 87.1,662.3 				"></polygon>
                        </g>
                        <polygon class="st15" points="87.1,694.9 88.4,694.1 130.2,718.2 130.2,719.7 			"></polygon>
                    </g>
                    <g>
                        <g>
                            <polygon class="st14" points="87.1,495.1 87.1,527.7 130.2,552.5 130.2,520 				"></polygon>
                        </g>
                        <g>
                            <polygon class="st2" points="88.4,495.8 88.4,527 87.1,527.7 87.1,495.1 				"></polygon>
                        </g>
                        <polygon class="st15" points="87.1,527.7 88.4,527 130.2,551.1 130.2,552.5 			"></polygon>
                    </g>
                    <g>
                        <g>
                            <polygon class="st14" points="87.1,552.3 87.1,584.8 130.2,609.7 130.2,577.1 				"></polygon>
                        </g>
                        <g>
                            <polygon class="st2" points="88.4,553 88.4,584.1 87.1,584.8 87.1,552.3 				"></polygon>
                        </g>
                        <polygon class="st15" points="87.1,584.8 88.4,584.1 130.2,608.2 130.2,609.7 			"></polygon>
                    </g>
                    <g>
                        <g>
                            <polygon class="st14" points="87.1,433.9 87.1,466.4 130.2,491.3 130.2,458.7 				"></polygon>
                        </g>
                        <g>
                            <polygon class="st2" points="88.4,434.6 88.4,465.7 87.1,466.4 87.1,433.9 				"></polygon>
                        </g>
                        <polygon class="st15" points="87.1,466.4 88.4,465.7 130.2,489.8 130.2,491.3 			"></polygon>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="456.8,539.3 457.9,565.9 489.1,548.1 489.1,523.4 		"></polygon>
                    <g>
                        <polygon class="st15" points="458.3,567.5 457,566.7 488.7,548.3 490.1,549.1 			"></polygon>
                        <polygon class="st16" points="490,549.1 488.6,548.3 488.5,522.6 489.8,523.4 			"></polygon>
                        <polygon class="st16" points="456.9,572.9 455.5,572.1 455.4,538.5 456.8,539.3 			"></polygon>
                        <polygon class="st2" points="477.4,556.5 478.7,556 478.7,529.6 477.3,530.4 			"></polygon>
                        <polygon class="st16" points="477.6,556.5 476.2,555.8 476.1,529.6 477.5,530.3 			"></polygon>
                        <polygon class="st2" points="465.1,563.9 466.3,562.9 466.3,535 465,535.9 			"></polygon>
                        <polygon class="st16" points="465.2,563.5 463.9,562.7 463.7,536 465.1,536.8 			"></polygon>
                        <polygon class="st17" points="456.8,539.3 455.4,538.5 490.3,518.4 491.7,519.2 			"></polygon>
                        <path class="st2" d="M456.8,539.3l34.9-20.2l0.2,33.5l-34.9,20.2L456.8,539.3z M489.9,549.1l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L489.9,549.1z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="512.6,506.2 513.8,532.8 544.9,515 544.9,490.2 		"></polygon>
                    <g>
                        <polygon class="st15" points="514.2,534.3 512.9,533.6 544.6,515.2 545.9,516 			"></polygon>
                        <polygon class="st16" points="545.8,516 544.5,515.2 544.3,489.5 545.7,490.3 			"></polygon>
                        <polygon class="st16" points="512.8,539.7 511.4,538.9 511.3,505.4 512.6,506.2 			"></polygon>
                        <polygon class="st2" points="533.3,523.4 534.6,522.9 534.6,496.4 533.2,497.3 			"></polygon>
                        <polygon class="st16" points="533.5,523.4 532.1,522.6 532,496.4 533.4,497.2 			"></polygon>
                        <polygon class="st2" points="521,530.8 522.2,529.8 522.2,501.9 520.9,502.7 			"></polygon>
                        <polygon class="st16" points="521.1,530.3 519.8,529.6 519.6,502.8 521,503.6 			"></polygon>
                        <polygon class="st17" points="512.6,506.2 511.3,505.4 546.2,485.2 547.6,486 			"></polygon>
                        <path class="st2" d="M512.6,506.2l34.9-20.2l0.2,33.5l-34.9,20.2L512.6,506.2z M545.8,516l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L545.8,516z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="568.5,476 569.7,502.6 600.8,484.8 600.8,460.1 		"></polygon>
                    <g>
                        <polygon class="st15" points="570.1,504.2 568.7,503.4 600.5,485 601.8,485.8 			"></polygon>
                        <polygon class="st16" points="601.7,485.8 600.4,485 600.2,459.3 601.6,460.1 			"></polygon>
                        <polygon class="st16" points="568.7,509.6 567.3,508.8 567.2,475.2 568.5,476 			"></polygon>
                        <polygon class="st2" points="589.2,493.2 590.4,492.7 590.4,466.3 589.1,467.1 			"></polygon>
                        <polygon class="st16" points="589.4,493.3 588,492.5 587.9,466.3 589.2,467 			"></polygon>
                        <polygon class="st2" points="576.8,500.6 578.1,499.6 578.1,471.7 576.7,472.6 			"></polygon>
                        <polygon class="st16" points="577,500.2 575.6,499.4 575.5,472.7 576.9,473.5 			"></polygon>
                        <polygon class="st17" points="568.5,476 567.2,475.2 602.1,455.1 603.5,455.9 			"></polygon>
                        <path class="st2" d="M568.5,476l34.9-20.2l0.2,33.5l-34.9,20.2L568.5,476z M601.7,485.8l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L601.7,485.8z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="624.4,441.9 625.6,468.5 656.7,450.7 656.7,426 		"></polygon>
                    <g>
                        <polygon class="st15" points="626,470.1 624.6,469.3 656.3,450.9 657.7,451.7 			"></polygon>
                        <polygon class="st16" points="657.6,451.7 656.2,450.9 656.1,425.2 657.5,426 			"></polygon>
                        <polygon class="st16" points="624.5,475.4 623.2,474.6 623,441.1 624.4,441.9 			"></polygon>
                        <polygon class="st2" points="645.1,459.1 646.3,458.6 646.3,432.1 645,433 			"></polygon>
                        <polygon class="st16" points="645.2,459.1 643.9,458.3 643.7,432.1 645.1,432.9 			"></polygon>
                        <polygon class="st2" points="632.7,466.5 634,465.5 634,437.6 632.6,438.5 			"></polygon>
                        <polygon class="st16" points="632.9,466.1 631.5,465.3 631.4,438.6 632.8,439.4 			"></polygon>
                        <polygon class="st17" points="624.4,441.9 623,441.1 658,420.9 659.3,421.7 			"></polygon>
                        <path class="st2" d="M624.4,441.9l34.9-20.2l0.2,33.5l-34.9,20.2L624.4,441.9z M657.5,451.7l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L657.5,451.7z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="680.3,410.8 681.4,437.3 712.6,419.5 712.6,394.8 		"></polygon>
                    <g>
                        <polygon class="st15" points="681.9,438.9 680.5,438.1 712.2,419.8 713.6,420.6 			"></polygon>
                        <polygon class="st16" points="713.5,420.6 712.1,419.8 712,394.1 713.4,394.8 			"></polygon>
                        <polygon class="st16" points="680.4,444.3 679.1,443.5 678.9,410 680.3,410.8 			"></polygon>
                        <polygon class="st2" points="701,427.9 702.2,427.4 702.2,401 700.9,401.9 			"></polygon>
                        <polygon class="st16" points="701.1,428 699.8,427.2 699.6,401 701,401.8 			"></polygon>
                        <polygon class="st2" points="688.6,435.3 689.8,434.4 689.8,406.4 688.5,407.3 			"></polygon>
                        <polygon class="st16" points="688.8,434.9 687.4,434.1 687.3,407.4 688.6,408.2 			"></polygon>
                        <polygon class="st17" points="680.3,410.8 678.9,410 713.9,389.8 715.2,390.6 			"></polygon>
                        <path class="st2" d="M680.3,410.8l34.9-20.2l0.2,33.5l-34.9,20.2L680.3,410.8z M713.4,420.6l-0.1-24.7L682,414l0.1,24.7
                            l28.9-16.5L713.4,420.6z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="233.2,666.9 234.4,693.5 265.5,675.7 265.5,651 		"></polygon>
                    <g>
                        <polygon class="st15" points="234.8,695.1 233.5,694.3 265.2,675.9 266.5,676.7 			"></polygon>
                        <polygon class="st16" points="266.4,676.7 265.1,675.9 264.9,650.2 266.3,651 			"></polygon>
                        <polygon class="st16" points="233.4,700.4 232,699.6 231.9,666.1 233.2,666.9 			"></polygon>
                        <polygon class="st2" points="253.9,684.1 255.2,683.6 255.2,657.1 253.8,658 			"></polygon>
                        <polygon class="st16" points="254.1,684.1 252.7,683.3 252.6,657.1 254,657.9 			"></polygon>
                        <polygon class="st2" points="241.6,691.5 242.8,690.5 242.8,662.6 241.5,663.5 			"></polygon>
                        <polygon class="st16" points="241.7,691.1 240.4,690.3 240.2,663.6 241.6,664.4 			"></polygon>
                        <polygon class="st17" points="233.2,666.9 231.9,666.1 266.8,645.9 268.2,646.7 			"></polygon>
                        <path class="st2" d="M233.2,666.9l34.9-20.2l0.2,33.5l-34.9,20.2L233.2,666.9z M266.4,676.7l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L266.4,676.7z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="289.1,634.8 290.3,661.3 321.4,643.5 321.4,618.8 		"></polygon>
                    <g>
                        <polygon class="st15" points="290.7,662.9 289.3,662.1 321.1,643.8 322.4,644.6 			"></polygon>
                        <polygon class="st16" points="322.3,644.6 321,643.8 320.8,618.1 322.2,618.9 			"></polygon>
                        <polygon class="st16" points="289.3,668.3 287.9,667.5 287.7,634 289.1,634.8 			"></polygon>
                        <polygon class="st2" points="309.8,651.9 311,651.5 311,625 309.7,625.9 			"></polygon>
                        <polygon class="st16" points="310,652 308.6,651.2 308.5,625 309.8,625.8 			"></polygon>
                        <polygon class="st2" points="297.4,659.4 298.7,658.4 298.7,630.4 297.3,631.3 			"></polygon>
                        <polygon class="st16" points="297.6,658.9 296.2,658.1 296.1,631.4 297.5,632.2 			"></polygon>
                        <polygon class="st17" points="289.1,634.8 287.7,634 322.7,613.8 324.1,614.6 			"></polygon>
                        <path class="st2" d="M289.1,634.8l34.9-20.2l0.2,33.5l-34.9,20.2L289.1,634.8z M322.3,644.6l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L322.3,644.6z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="345,602.6 346.2,629.2 377.3,611.4 377.3,586.7 		"></polygon>
                    <g>
                        <polygon class="st15" points="346.6,630.8 345.2,630 376.9,611.6 378.3,612.4 			"></polygon>
                        <polygon class="st16" points="378.2,612.4 376.8,611.6 376.7,585.9 378.1,586.7 			"></polygon>
                        <polygon class="st16" points="345.1,636.2 343.8,635.4 343.6,601.8 345,602.6 			"></polygon>
                        <polygon class="st2" points="365.7,619.8 366.9,619.3 366.9,592.8 365.6,593.7 			"></polygon>
                        <polygon class="st16" points="365.8,619.8 364.5,619.1 364.3,592.8 365.7,593.6 			"></polygon>
                        <polygon class="st2" points="353.3,627.2 354.6,626.2 354.6,598.3 353.2,599.2 			"></polygon>
                        <polygon class="st16" points="353.5,626.8 352.1,626 352,599.3 353.4,600.1 			"></polygon>
                        <polygon class="st17" points="345,602.6 343.6,601.8 378.6,581.7 379.9,582.5 			"></polygon>
                        <path class="st2" d="M345,602.6l34.9-20.2l0.2,33.5l-34.9,20.2L345,602.6z M378.1,612.4l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L378.1,612.4z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="400.9,571.5 402,598 433.2,580.2 433.2,555.5 		"></polygon>
                    <g>
                        <polygon class="st15" points="402.5,599.6 401.1,598.8 432.8,580.5 434.2,581.3 			"></polygon>
                        <polygon class="st16" points="434.1,581.3 432.7,580.5 432.6,554.8 434,555.6 			"></polygon>
                        <polygon class="st16" points="401,605 399.7,604.2 399.5,570.7 400.9,571.5 			"></polygon>
                        <polygon class="st2" points="421.6,588.6 422.8,588.2 422.8,561.7 421.5,562.6 			"></polygon>
                        <polygon class="st16" points="421.7,588.7 420.4,587.9 420.2,561.7 421.6,562.5 			"></polygon>
                        <polygon class="st2" points="409.2,596.1 410.4,595.1 410.4,567.1 409.1,568 			"></polygon>
                        <polygon class="st16" points="409.4,595.6 408,594.8 407.9,568.1 409.2,568.9 			"></polygon>
                        <polygon class="st17" points="400.9,571.5 399.5,570.7 434.5,550.5 435.8,551.3 			"></polygon>
                        <path class="st2" d="M400.9,571.5l34.9-20.2l0.2,33.5L401,605L400.9,571.5z M434,581.3l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L434,581.3z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="733.7,379.1 734.8,405.7 766,387.9 766,363.1 		"></polygon>
                    <g>
                        <polygon class="st15" points="735.3,407.3 733.9,406.5 765.6,388.1 767,388.9 			"></polygon>
                        <polygon class="st16" points="766.9,388.9 765.5,388.1 765.4,362.4 766.8,363.2 			"></polygon>
                        <polygon class="st16" points="733.8,412.6 732.5,411.8 732.3,378.3 733.7,379.1 			"></polygon>
                        <polygon class="st2" points="754.4,396.3 755.6,395.8 755.6,369.3 754.3,370.2 			"></polygon>
                        <polygon class="st16" points="754.5,396.3 753.2,395.5 753,369.3 754.4,370.1 			"></polygon>
                        <polygon class="st2" points="742,403.7 743.2,402.7 743.2,374.8 741.9,375.6 			"></polygon>
                        <polygon class="st16" points="742.2,403.2 740.8,402.5 740.7,375.8 742,376.6 			"></polygon>
                        <polygon class="st17" points="733.7,379.1 732.3,378.3 767.3,358.1 768.6,358.9 			"></polygon>
                        <path class="st2" d="M733.7,379.1l34.9-20.2l0.2,33.5l-34.9,20.2L733.7,379.1z M766.8,388.9l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L766.8,388.9z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="566.1,532.9 567.2,559.5 598.4,541.7 598.4,516.9 		"></polygon>
                    <g>
                        <polygon class="st15" points="567.6,561 566.3,560.3 598,541.9 599.3,542.7 			"></polygon>
                        <polygon class="st16" points="599.2,542.7 597.9,541.9 597.8,516.2 599.1,517 			"></polygon>
                        <polygon class="st16" points="566.2,566.4 564.8,565.6 564.7,532.1 566.1,532.9 			"></polygon>
                        <polygon class="st2" points="586.7,550.1 588,549.6 588,523.1 586.6,524 			"></polygon>
                        <polygon class="st16" points="586.9,550.1 585.5,549.3 585.4,523.1 586.8,523.9 			"></polygon>
                        <polygon class="st2" points="574.4,557.5 575.6,556.5 575.6,528.6 574.3,529.4 			"></polygon>
                        <polygon class="st16" points="574.5,557 573.2,556.3 573,529.6 574.4,530.3 			"></polygon>
                        <polygon class="st17" points="566.1,532.9 564.7,532.1 599.6,511.9 601,512.7 			"></polygon>
                        <path class="st2" d="M566.1,532.9l34.9-20.2l0.2,33.5l-34.9,20.2L566.1,532.9z M599.2,542.7l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L599.2,542.7z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="621.9,498.8 623.1,525.3 654.2,507.5 654.2,482.8 		"></polygon>
                    <g>
                        <polygon class="st15" points="623.5,526.9 622.2,526.1 653.9,507.8 655.2,508.6 			"></polygon>
                        <polygon class="st16" points="655.1,508.6 653.8,507.8 653.6,482.1 655,482.9 			"></polygon>
                        <polygon class="st16" points="622.1,532.3 620.7,531.5 620.6,498 621.9,498.8 			"></polygon>
                        <polygon class="st2" points="642.6,516 643.9,515.5 643.9,489 642.5,489.9 			"></polygon>
                        <polygon class="st16" points="642.8,516 641.4,515.2 641.3,489 642.6,489.8 			"></polygon>
                        <polygon class="st2" points="630.3,523.4 631.5,522.4 631.5,494.4 630.2,495.3 			"></polygon>
                        <polygon class="st16" points="630.4,522.9 629,522.1 628.9,495.4 630.3,496.2 			"></polygon>
                        <polygon class="st17" points="621.9,498.8 620.6,498 655.5,477.8 656.9,478.6 			"></polygon>
                        <path class="st2" d="M621.9,498.8l34.9-20.2l0.2,33.5l-34.9,20.2L621.9,498.8z M655.1,508.6l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L655.1,508.6z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="677.8,467.6 679,494.2 710.1,476.4 710.1,451.7 		"></polygon>
                    <g>
                        <polygon class="st15" points="679.4,495.8 678,495 709.7,476.6 711.1,477.4 			"></polygon>
                        <polygon class="st16" points="711,477.4 709.6,476.6 709.5,450.9 710.9,451.7 			"></polygon>
                        <polygon class="st16" points="678,501.2 676.6,500.4 676.4,466.8 677.8,467.6 			"></polygon>
                        <polygon class="st2" points="698.5,484.8 699.7,484.3 699.7,457.8 698.4,458.7 			"></polygon>
                        <polygon class="st16" points="698.6,484.8 697.3,484.1 697.2,457.8 698.5,458.6 			"></polygon>
                        <polygon class="st2" points="686.1,492.2 687.4,491.2 687.4,463.3 686,464.2 			"></polygon>
                        <polygon class="st16" points="686.3,491.8 684.9,491 684.8,464.3 686.2,465.1 			"></polygon>
                        <polygon class="st17" points="677.8,467.6 676.4,466.8 711.4,446.7 712.8,447.5 			"></polygon>
                        <path class="st2" d="M677.8,467.6l34.9-20.2l0.2,33.5L678,501.2L677.8,467.6z M711,477.4l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L711,477.4z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="230.8,723.8 231.9,750.4 263.1,732.6 263.1,707.8 		"></polygon>
                    <g>
                        <polygon class="st15" points="232.3,751.9 231,751.1 262.7,732.8 264.1,733.6 			"></polygon>
                        <polygon class="st16" points="264,733.6 262.6,732.8 262.5,707.1 263.8,707.9 			"></polygon>
                        <polygon class="st16" points="230.9,757.3 229.6,756.5 229.4,723 230.8,723.8 			"></polygon>
                        <polygon class="st2" points="251.5,741 252.7,740.5 252.7,714 251.4,714.9 			"></polygon>
                        <polygon class="st16" points="251.6,741 250.2,740.2 250.1,714 251.5,714.8 			"></polygon>
                        <polygon class="st2" points="239.1,748.4 240.3,747.4 240.3,719.4 239,720.3 			"></polygon>
                        <polygon class="st16" points="239.2,747.9 237.9,747.1 237.7,720.4 239.1,721.2 			"></polygon>
                        <polygon class="st17" points="230.8,723.8 229.4,723 264.3,702.8 265.7,703.6 			"></polygon>
                        <path class="st2" d="M230.8,723.8l34.9-20.2l0.2,33.5l-34.9,20.2L230.8,723.8z M263.9,733.6l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L263.9,733.6z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="286.7,691.6 287.8,718.2 319,700.4 319,675.7 		"></polygon>
                    <g>
                        <polygon class="st15" points="288.2,719.8 286.9,719 318.6,700.7 319.9,701.4 			"></polygon>
                        <polygon class="st16" points="319.8,701.4 318.5,700.7 318.4,674.9 319.7,675.7 			"></polygon>
                        <polygon class="st16" points="286.8,725.2 285.4,724.4 285.3,690.8 286.7,691.6 			"></polygon>
                        <polygon class="st2" points="307.3,708.8 308.6,708.3 308.6,681.9 307.2,682.7 			"></polygon>
                        <polygon class="st16" points="307.5,708.9 306.1,708.1 306,681.9 307.4,682.7 			"></polygon>
                        <polygon class="st2" points="295,716.2 296.2,715.2 296.2,687.3 294.9,688.2 			"></polygon>
                        <polygon class="st16" points="295.1,715.8 293.8,715 293.6,688.3 295,689.1 			"></polygon>
                        <polygon class="st17" points="286.7,691.6 285.3,690.8 320.2,670.7 321.6,671.5 			"></polygon>
                        <path class="st2" d="M286.7,691.6l34.9-20.2l0.2,33.5l-34.9,20.2L286.7,691.6z M319.8,701.4l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L319.8,701.4z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="342.5,659.5 343.7,686.1 374.8,668.3 374.8,643.5 		"></polygon>
                    <g>
                        <polygon class="st15" points="344.1,687.6 342.7,686.9 374.5,668.5 375.8,669.3 			"></polygon>
                        <polygon class="st16" points="375.7,669.3 374.4,668.5 374.2,642.8 375.6,643.6 			"></polygon>
                        <polygon class="st16" points="342.7,693 341.3,692.2 341.2,658.7 342.5,659.5 			"></polygon>
                        <polygon class="st2" points="363.2,676.7 364.4,676.2 364.4,649.7 363.1,650.6 			"></polygon>
                        <polygon class="st16" points="363.4,676.7 362,675.9 361.9,649.7 363.2,650.5 			"></polygon>
                        <polygon class="st2" points="350.8,684.1 352.1,683.1 352.1,655.2 350.8,656 			"></polygon>
                        <polygon class="st16" points="351,683.6 349.6,682.9 349.5,656.1 350.9,656.9 			"></polygon>
                        <polygon class="st17" points="342.5,659.5 341.2,658.7 376.1,638.5 377.5,639.3 			"></polygon>
                        <path class="st2" d="M342.5,659.5l34.9-20.2l0.2,33.5L342.7,693L342.5,659.5z M375.7,669.3l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L375.7,669.3z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="398.4,628.3 399.6,654.9 430.7,637.1 430.7,612.4 		"></polygon>
                    <g>
                        <polygon class="st15" points="400,656.5 398.6,655.7 430.3,637.4 431.7,638.1 			"></polygon>
                        <polygon class="st16" points="431.6,638.1 430.2,637.4 430.1,611.6 431.5,612.4 			"></polygon>
                        <polygon class="st16" points="398.6,661.9 397.2,661.1 397,627.5 398.4,628.3 			"></polygon>
                        <polygon class="st2" points="419.1,645.5 420.3,645 420.3,618.6 419,619.4 			"></polygon>
                        <polygon class="st16" points="419.2,645.6 417.9,644.8 417.8,618.6 419.1,619.4 			"></polygon>
                        <polygon class="st2" points="406.7,652.9 408,651.9 408,624 406.6,624.9 			"></polygon>
                        <polygon class="st16" points="406.9,652.5 405.5,651.7 405.4,625 406.8,625.8 			"></polygon>
                        <polygon class="st17" points="398.4,628.3 397,627.5 432,607.4 433.3,608.2 			"></polygon>
                        <path class="st2" d="M398.4,628.3l34.9-20.2l0.2,33.5l-34.9,20.2L398.4,628.3z M431.6,638.1l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L431.6,638.1z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="733.7,436 734.8,462.5 766,444.7 766,420 		"></polygon>
                    <g>
                        <polygon class="st15" points="735.3,464.1 733.9,463.3 765.6,445 767,445.8 			"></polygon>
                        <polygon class="st16" points="766.9,445.8 765.5,445 765.4,419.3 766.8,420.1 			"></polygon>
                        <polygon class="st16" points="733.8,469.5 732.5,468.7 732.3,435.2 733.7,436 			"></polygon>
                        <polygon class="st2" points="754.4,453.1 755.6,452.7 755.6,426.2 754.3,427.1 			"></polygon>
                        <polygon class="st16" points="754.5,453.2 753.2,452.4 753,426.2 754.4,427 			"></polygon>
                        <polygon class="st2" points="742,460.6 743.2,459.6 743.2,431.6 741.9,432.5 			"></polygon>
                        <polygon class="st16" points="742.2,460.1 740.8,459.3 740.7,432.6 742,433.4 			"></polygon>
                        <polygon class="st17" points="733.7,436 732.3,435.2 767.3,415 768.6,415.8 			"></polygon>
                        <path class="st2" d="M733.7,436l34.9-20.2l0.2,33.5l-34.9,20.2L733.7,436z M766.8,445.8l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L766.8,445.8z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="456.8,477 457.9,503.6 489.1,485.8 489.1,461.1 		"></polygon>
                    <g>
                        <polygon class="st15" points="458.3,505.2 457,504.4 488.7,486 490.1,486.8 			"></polygon>
                        <polygon class="st16" points="490,486.8 488.6,486 488.5,460.3 489.8,461.1 			"></polygon>
                        <polygon class="st16" points="456.9,510.5 455.5,509.8 455.4,476.2 456.8,477 			"></polygon>
                        <polygon class="st2" points="477.4,494.2 478.7,493.7 478.7,467.2 477.3,468.1 			"></polygon>
                        <polygon class="st16" points="477.6,494.2 476.2,493.5 476.1,467.2 477.5,468 			"></polygon>
                        <polygon class="st2" points="465.1,501.6 466.3,500.6 466.3,472.7 465,473.6 			"></polygon>
                        <polygon class="st16" points="465.2,501.2 463.9,500.4 463.7,473.7 465.1,474.5 			"></polygon>
                        <polygon class="st17" points="456.8,477 455.4,476.2 490.3,456 491.7,456.8 			"></polygon>
                        <path class="st2" d="M456.8,477l34.9-20.2l0.2,33.5l-34.9,20.2L456.8,477z M489.9,486.8l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L489.9,486.8z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="512.6,443.9 513.8,470.5 544.9,452.7 544.9,427.9 		"></polygon>
                    <g>
                        <polygon class="st15" points="514.2,472 512.9,471.2 544.6,452.9 545.9,453.7 			"></polygon>
                        <polygon class="st16" points="545.8,453.7 544.5,452.9 544.3,427.2 545.7,428 			"></polygon>
                        <polygon class="st16" points="512.8,477.4 511.4,476.6 511.3,443.1 512.6,443.9 			"></polygon>
                        <polygon class="st2" points="533.3,461.1 534.6,460.6 534.6,434.1 533.2,435 			"></polygon>
                        <polygon class="st16" points="533.5,461.1 532.1,460.3 532,434.1 533.4,434.9 			"></polygon>
                        <polygon class="st2" points="521,468.5 522.2,467.5 522.2,439.5 520.9,440.4 			"></polygon>
                        <polygon class="st16" points="521.1,468 519.8,467.2 519.6,440.5 521,441.3 			"></polygon>
                        <polygon class="st17" points="512.6,443.9 511.3,443.1 546.2,422.9 547.6,423.7 			"></polygon>
                        <path class="st2" d="M512.6,443.9l34.9-20.2l0.2,33.5l-34.9,20.2L512.6,443.9z M545.8,453.7l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L545.8,453.7z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="568.5,413.7 569.7,440.3 600.8,422.5 600.8,397.8 		"></polygon>
                    <g>
                        <polygon class="st15" points="570.1,441.9 568.7,441.1 600.5,422.7 601.8,423.5 			"></polygon>
                        <polygon class="st16" points="601.7,423.5 600.4,422.7 600.2,397 601.6,397.8 			"></polygon>
                        <polygon class="st16" points="568.7,447.2 567.3,446.5 567.2,412.9 568.5,413.7 			"></polygon>
                        <polygon class="st2" points="589.2,430.9 590.4,430.4 590.4,403.9 589.1,404.8 			"></polygon>
                        <polygon class="st16" points="589.4,430.9 588,430.2 587.9,403.9 589.2,404.7 			"></polygon>
                        <polygon class="st2" points="576.8,438.3 578.1,437.3 578.1,409.4 576.7,410.3 			"></polygon>
                        <polygon class="st16" points="577,437.9 575.6,437.1 575.5,410.4 576.9,411.2 			"></polygon>
                        <polygon class="st17" points="568.5,413.7 567.2,412.9 602.1,392.8 603.5,393.5 			"></polygon>
                        <path class="st2" d="M568.5,413.7l34.9-20.2l0.2,33.5l-34.9,20.2L568.5,413.7z M601.7,423.5l-0.1-24.7L570.2,417l0.1,24.7
                            l28.9-16.5L601.7,423.5z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="624.4,379.6 625.6,406.2 656.7,388.4 656.7,363.6 		"></polygon>
                    <g>
                        <polygon class="st15" points="626,407.7 624.6,407 656.3,388.6 657.7,389.4 			"></polygon>
                        <polygon class="st16" points="657.6,389.4 656.2,388.6 656.1,362.9 657.5,363.7 			"></polygon>
                        <polygon class="st16" points="624.5,413.1 623.2,412.3 623,378.8 624.4,379.6 			"></polygon>
                        <polygon class="st2" points="645.1,396.8 646.3,396.3 646.3,369.8 645,370.7 			"></polygon>
                        <polygon class="st16" points="645.2,396.8 643.9,396 643.7,369.8 645.1,370.6 			"></polygon>
                        <polygon class="st2" points="632.7,404.2 634,403.2 634,375.3 632.6,376.1 			"></polygon>
                        <polygon class="st16" points="632.9,403.7 631.5,403 631.4,376.3 632.8,377 			"></polygon>
                        <polygon class="st17" points="624.4,379.6 623,378.8 658,358.6 659.3,359.4 			"></polygon>
                        <path class="st2" d="M624.4,379.6l34.9-20.2l0.2,33.5l-34.9,20.2L624.4,379.6z M657.5,389.4l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L657.5,389.4z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="680.3,348.4 681.4,375 712.6,357.2 712.6,332.5 		"></polygon>
                    <g>
                        <polygon class="st15" points="681.9,376.6 680.5,375.8 712.2,357.5 713.6,358.2 			"></polygon>
                        <polygon class="st16" points="713.5,358.2 712.1,357.5 712,331.7 713.4,332.5 			"></polygon>
                        <polygon class="st16" points="680.4,382 679.1,381.2 678.9,347.6 680.3,348.4 			"></polygon>
                        <polygon class="st2" points="701,365.6 702.2,365.1 702.2,338.7 700.9,339.5 			"></polygon>
                        <polygon class="st16" points="701.1,365.7 699.8,364.9 699.6,338.7 701,339.5 			"></polygon>
                        <polygon class="st2" points="688.6,373 689.8,372 689.8,344.1 688.5,345 			"></polygon>
                        <polygon class="st16" points="688.8,372.6 687.4,371.8 687.3,345.1 688.6,345.9 			"></polygon>
                        <polygon class="st17" points="680.3,348.4 678.9,347.6 713.9,327.5 715.2,328.3 			"></polygon>
                        <path class="st2" d="M680.3,348.4l34.9-20.2l0.2,33.5L680.4,382L680.3,348.4z M713.4,358.2l-0.1-24.7L682,351.7l0.1,24.7
                            l28.9-16.5L713.4,358.2z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="233.2,604.6 234.4,631.2 265.5,613.4 265.5,588.6 		"></polygon>
                    <g>
                        <polygon class="st15" points="234.8,632.8 233.5,632 265.2,613.6 266.5,614.4 			"></polygon>
                        <polygon class="st16" points="266.4,614.4 265.1,613.6 264.9,587.9 266.3,588.7 			"></polygon>
                        <polygon class="st16" points="233.4,638.1 232,637.3 231.9,603.8 233.2,604.6 			"></polygon>
                        <polygon class="st2" points="253.9,621.8 255.2,621.3 255.2,594.8 253.8,595.7 			"></polygon>
                        <polygon class="st16" points="254.1,621.8 252.7,621 252.6,594.8 254,595.6 			"></polygon>
                        <polygon class="st2" points="241.6,629.2 242.8,628.2 242.8,600.3 241.5,601.1 			"></polygon>
                        <polygon class="st16" points="241.7,628.7 240.4,628 240.2,601.3 241.6,602.1 			"></polygon>
                        <polygon class="st17" points="233.2,604.6 231.9,603.8 266.8,583.6 268.2,584.4 			"></polygon>
                        <path class="st2" d="M233.2,604.6l34.9-20.2l0.2,33.5l-34.9,20.2L233.2,604.6z M266.4,614.4l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L266.4,614.4z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="289.1,572.5 290.3,599 321.4,581.2 321.4,556.5 		"></polygon>
                    <g>
                        <polygon class="st15" points="290.7,600.6 289.3,599.8 321.1,581.5 322.4,582.3 			"></polygon>
                        <polygon class="st16" points="322.3,582.3 321,581.5 320.8,555.8 322.2,556.6 			"></polygon>
                        <polygon class="st16" points="289.3,606 287.9,605.2 287.7,571.7 289.1,572.5 			"></polygon>
                        <polygon class="st2" points="309.8,589.6 311,589.1 311,562.7 309.7,563.6 			"></polygon>
                        <polygon class="st16" points="310,589.7 308.6,588.9 308.5,562.7 309.8,563.5 			"></polygon>
                        <polygon class="st2" points="297.4,597.1 298.7,596.1 298.7,568.1 297.3,569 			"></polygon>
                        <polygon class="st16" points="297.6,596.6 296.2,595.8 296.1,569.1 297.5,569.9 			"></polygon>
                        <polygon class="st17" points="289.1,572.5 287.7,571.7 322.7,551.5 324.1,552.3 			"></polygon>
                        <path class="st2" d="M289.1,572.5l34.9-20.2l0.2,33.5L289.3,606L289.1,572.5z M322.3,582.3l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L322.3,582.3z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="345,540.3 346.2,566.9 377.3,549.1 377.3,524.4 		"></polygon>
                    <g>
                        <polygon class="st15" points="346.6,568.5 345.2,567.7 376.9,549.3 378.3,550.1 			"></polygon>
                        <polygon class="st16" points="378.2,550.1 376.8,549.3 376.7,523.6 378.1,524.4 			"></polygon>
                        <polygon class="st16" points="345.1,573.8 343.8,573.1 343.6,539.5 345,540.3 			"></polygon>
                        <polygon class="st2" points="365.7,557.5 366.9,557 366.9,530.5 365.6,531.4 			"></polygon>
                        <polygon class="st16" points="365.8,557.5 364.5,556.7 364.3,530.5 365.7,531.3 			"></polygon>
                        <polygon class="st2" points="353.3,564.9 354.6,563.9 354.6,536 353.2,536.9 			"></polygon>
                        <polygon class="st16" points="353.5,564.5 352.1,563.7 352,537 353.4,537.8 			"></polygon>
                        <polygon class="st17" points="345,540.3 343.6,539.5 378.6,519.3 379.9,520.1 			"></polygon>
                        <path class="st2" d="M345,540.3l34.9-20.2l0.2,33.5l-34.9,20.2L345,540.3z M378.1,550.1l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L378.1,550.1z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="400.9,509.2 402,535.7 433.2,517.9 433.2,493.2 		"></polygon>
                    <g>
                        <polygon class="st15" points="402.5,537.3 401.1,536.5 432.8,518.2 434.2,519 			"></polygon>
                        <polygon class="st16" points="434.1,519 432.7,518.2 432.6,492.5 434,493.3 			"></polygon>
                        <polygon class="st16" points="401,542.7 399.7,541.9 399.5,508.4 400.9,509.2 			"></polygon>
                        <polygon class="st2" points="421.6,526.3 422.8,525.8 422.8,499.4 421.5,500.3 			"></polygon>
                        <polygon class="st16" points="421.7,526.4 420.4,525.6 420.2,499.4 421.6,500.2 			"></polygon>
                        <polygon class="st2" points="409.2,533.8 410.4,532.8 410.4,504.8 409.1,505.7 			"></polygon>
                        <polygon class="st16" points="409.4,533.3 408,532.5 407.9,505.8 409.2,506.6 			"></polygon>
                        <polygon class="st17" points="400.9,509.2 399.5,508.4 434.5,488.2 435.8,489 			"></polygon>
                        <path class="st2" d="M400.9,509.2l34.9-20.2l0.2,33.5L401,542.7L400.9,509.2z M434,519l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L434,519z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="733.7,316.8 734.8,343.4 766,325.6 766,300.8 		"></polygon>
                    <g>
                        <polygon class="st15" points="735.3,344.9 733.9,344.2 765.6,325.8 767,326.6 			"></polygon>
                        <polygon class="st16" points="766.9,326.6 765.5,325.8 765.4,300.1 766.8,300.9 			"></polygon>
                        <polygon class="st16" points="733.8,350.3 732.5,349.5 732.3,316 733.7,316.8 			"></polygon>
                        <polygon class="st2" points="754.4,334 755.6,333.5 755.6,307 754.3,307.9 			"></polygon>
                        <polygon class="st16" points="754.5,334 753.2,333.2 753,307 754.4,307.8 			"></polygon>
                        <polygon class="st2" points="742,341.4 743.2,340.4 743.2,312.5 741.9,313.3 			"></polygon>
                        <polygon class="st16" points="742.2,340.9 740.8,340.1 740.7,313.4 742,314.2 			"></polygon>
                        <polygon class="st17" points="733.7,316.8 732.3,316 767.3,295.8 768.6,296.6 			"></polygon>
                        <path class="st2" d="M733.7,316.8l34.9-20.2l0.2,33.5l-34.9,20.2L733.7,316.8z M766.8,326.6l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L766.8,326.6z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="456.8,414.7 457.9,441.3 489.1,423.5 489.1,398.8 		"></polygon>
                    <g>
                        <polygon class="st15" points="458.3,442.9 457,442.1 488.7,423.7 490.1,424.5 			"></polygon>
                        <polygon class="st16" points="490,424.5 488.6,423.7 488.5,398 489.8,398.8 			"></polygon>
                        <polygon class="st16" points="456.9,448.2 455.5,447.4 455.4,413.9 456.8,414.7 			"></polygon>
                        <polygon class="st2" points="477.4,431.9 478.7,431.4 478.7,404.9 477.3,405.8 			"></polygon>
                        <polygon class="st16" points="477.6,431.9 476.2,431.1 476.1,404.9 477.5,405.7 			"></polygon>
                        <polygon class="st2" points="465.1,439.3 466.3,438.3 466.3,410.4 465,411.3 			"></polygon>
                        <polygon class="st16" points="465.2,438.9 463.9,438.1 463.7,411.4 465.1,412.2 			"></polygon>
                        <polygon class="st17" points="456.8,414.7 455.4,413.9 490.3,393.7 491.7,394.5 			"></polygon>
                        <path class="st2" d="M456.8,414.7l34.9-20.2l0.2,33.5l-34.9,20.2L456.8,414.7z M489.9,424.5l-0.1-24.7L458.4,418l0.1,24.7
                            l28.9-16.5L489.9,424.5z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="512.6,381.6 513.8,408.1 544.9,390.3 544.9,365.6 		"></polygon>
                    <g>
                        <polygon class="st15" points="514.2,409.7 512.9,408.9 544.6,390.6 545.9,391.4 			"></polygon>
                        <polygon class="st16" points="545.8,391.4 544.5,390.6 544.3,364.9 545.7,365.7 			"></polygon>
                        <polygon class="st16" points="512.8,415.1 511.4,414.3 511.3,380.8 512.6,381.6 			"></polygon>
                        <polygon class="st2" points="533.3,398.8 534.6,398.3 534.6,371.8 533.2,372.7 			"></polygon>
                        <polygon class="st16" points="533.5,398.8 532.1,398 532,371.8 533.4,372.6 			"></polygon>
                        <polygon class="st2" points="521,406.2 522.2,405.2 522.2,377.2 520.9,378.1 			"></polygon>
                        <polygon class="st16" points="521.1,405.7 519.8,404.9 519.6,378.2 521,379 			"></polygon>
                        <polygon class="st17" points="512.6,381.6 511.3,380.8 546.2,360.6 547.6,361.4 			"></polygon>
                        <path class="st2" d="M512.6,381.6l34.9-20.2l0.2,33.5l-34.9,20.2L512.6,381.6z M545.8,391.4l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L545.8,391.4z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="568.5,351.4 569.7,378 600.8,360.2 600.8,335.5 		"></polygon>
                    <g>
                        <polygon class="st15" points="570.1,379.6 568.7,378.8 600.5,360.4 601.8,361.2 			"></polygon>
                        <polygon class="st16" points="601.7,361.2 600.4,360.4 600.2,334.7 601.6,335.5 			"></polygon>
                        <polygon class="st16" points="568.7,384.9 567.3,384.1 567.2,350.6 568.5,351.4 			"></polygon>
                        <polygon class="st2" points="589.2,368.6 590.4,368.1 590.4,341.6 589.1,342.5 			"></polygon>
                        <polygon class="st16" points="589.4,368.6 588,367.8 587.9,341.6 589.2,342.4 			"></polygon>
                        <polygon class="st2" points="576.8,376 578.1,375 578.1,347.1 576.7,348 			"></polygon>
                        <polygon class="st16" points="577,375.6 575.6,374.8 575.5,348.1 576.9,348.9 			"></polygon>
                        <polygon class="st17" points="568.5,351.4 567.2,350.6 602.1,330.4 603.5,331.2 			"></polygon>
                        <path class="st2" d="M568.5,351.4l34.9-20.2l0.2,33.5l-34.9,20.2L568.5,351.4z M601.7,361.2l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L601.7,361.2z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="624.4,317.3 625.6,343.9 656.7,326.1 656.7,301.3 		"></polygon>
                    <g>
                        <polygon class="st15" points="626,345.4 624.6,344.6 656.3,326.3 657.7,327.1 			"></polygon>
                        <polygon class="st16" points="657.6,327.1 656.2,326.3 656.1,300.6 657.5,301.4 			"></polygon>
                        <polygon class="st16" points="624.5,350.8 623.2,350 623,316.5 624.4,317.3 			"></polygon>
                        <polygon class="st2" points="645.1,334.5 646.3,334 646.3,307.5 645,308.4 			"></polygon>
                        <polygon class="st16" points="645.2,334.5 643.9,333.7 643.7,307.5 645.1,308.3 			"></polygon>
                        <polygon class="st2" points="632.7,341.9 634,340.9 634,313 632.6,313.8 			"></polygon>
                        <polygon class="st16" points="632.9,341.4 631.5,340.6 631.4,313.9 632.8,314.7 			"></polygon>
                        <polygon class="st17" points="624.4,317.3 623,316.5 658,296.3 659.3,297.1 			"></polygon>
                        <path class="st2" d="M624.4,317.3l34.9-20.2l0.2,33.5l-34.9,20.2L624.4,317.3z M657.5,327.1l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L657.5,327.1z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="680.3,286.1 681.4,312.7 712.6,294.9 712.6,270.2 		"></polygon>
                    <g>
                        <polygon class="st15" points="681.9,314.3 680.5,313.5 712.2,295.1 713.6,295.9 			"></polygon>
                        <polygon class="st16" points="713.5,295.9 712.1,295.1 712,269.4 713.4,270.2 			"></polygon>
                        <polygon class="st16" points="680.4,319.7 679.1,318.9 678.9,285.3 680.3,286.1 			"></polygon>
                        <polygon class="st2" points="701,303.3 702.2,302.8 702.2,276.4 700.9,277.2 			"></polygon>
                        <polygon class="st16" points="701.1,303.4 699.8,302.6 699.6,276.4 701,277.2 			"></polygon>
                        <polygon class="st2" points="688.6,310.7 689.8,309.7 689.8,281.8 688.5,282.7 			"></polygon>
                        <polygon class="st16" points="688.8,310.3 687.4,309.5 687.3,282.8 688.6,283.6 			"></polygon>
                        <polygon class="st17" points="680.3,286.1 678.9,285.3 713.9,265.2 715.2,266 			"></polygon>
                        <path class="st2" d="M680.3,286.1l34.9-20.2l0.2,33.5l-34.9,20.2L680.3,286.1z M713.4,295.9l-0.1-24.7L682,289.4l0.1,24.7
                            l28.9-16.5L713.4,295.9z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="233.2,542.3 234.4,568.9 265.5,551.1 265.5,526.3 		"></polygon>
                    <g>
                        <polygon class="st15" points="234.8,570.4 233.5,569.7 265.2,551.3 266.5,552.1 			"></polygon>
                        <polygon class="st16" points="266.4,552.1 265.1,551.3 264.9,525.6 266.3,526.4 			"></polygon>
                        <polygon class="st16" points="233.4,575.8 232,575 231.9,541.5 233.2,542.3 			"></polygon>
                        <polygon class="st2" points="253.9,559.5 255.2,559 255.2,532.5 253.8,533.4 			"></polygon>
                        <polygon class="st16" points="254.1,559.5 252.7,558.7 252.6,532.5 254,533.3 			"></polygon>
                        <polygon class="st2" points="241.6,566.9 242.8,565.9 242.8,538 241.5,538.8 			"></polygon>
                        <polygon class="st16" points="241.7,566.4 240.4,565.7 240.2,538.9 241.6,539.7 			"></polygon>
                        <polygon class="st17" points="233.2,542.3 231.9,541.5 266.8,521.3 268.2,522.1 			"></polygon>
                        <path class="st2" d="M233.2,542.3l34.9-20.2l0.2,33.5l-34.9,20.2L233.2,542.3z M266.4,552.1l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L266.4,552.1z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="289.1,510.2 290.3,536.7 321.4,518.9 321.4,494.2 		"></polygon>
                    <g>
                        <polygon class="st15" points="290.7,538.3 289.3,537.5 321.1,519.2 322.4,520 			"></polygon>
                        <polygon class="st16" points="322.3,520 321,519.2 320.8,493.5 322.2,494.2 			"></polygon>
                        <polygon class="st16" points="289.3,543.7 287.9,542.9 287.7,509.4 289.1,510.2 			"></polygon>
                        <polygon class="st2" points="309.8,527.3 311,526.8 311,500.4 309.7,501.3 			"></polygon>
                        <polygon class="st16" points="310,527.4 308.6,526.6 308.5,500.4 309.8,501.2 			"></polygon>
                        <polygon class="st2" points="297.4,534.7 298.7,533.8 298.7,505.8 297.3,506.7 			"></polygon>
                        <polygon class="st16" points="297.6,534.3 296.2,533.5 296.1,506.8 297.5,507.6 			"></polygon>
                        <polygon class="st17" points="289.1,510.2 287.7,509.4 322.7,489.2 324.1,490 			"></polygon>
                        <path class="st2" d="M289.1,510.2l34.9-20.2l0.2,33.5l-34.9,20.2L289.1,510.2z M322.3,520l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L322.3,520z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="345,478 346.2,504.6 377.3,486.8 377.3,462 		"></polygon>
                    <g>
                        <polygon class="st15" points="346.6,506.2 345.2,505.4 376.9,487 378.3,487.8 			"></polygon>
                        <polygon class="st16" points="378.2,487.8 376.8,487 376.7,461.3 378.1,462.1 			"></polygon>
                        <polygon class="st16" points="345.1,511.5 343.8,510.7 343.6,477.2 345,478 			"></polygon>
                        <polygon class="st2" points="365.7,495.2 366.9,494.7 366.9,468.2 365.6,469.1 			"></polygon>
                        <polygon class="st16" points="365.8,495.2 364.5,494.4 364.3,468.2 365.7,469 			"></polygon>
                        <polygon class="st2" points="353.3,502.6 354.6,501.6 354.6,473.7 353.2,474.6 			"></polygon>
                        <polygon class="st16" points="353.5,502.2 352.1,501.4 352,474.7 353.4,475.5 			"></polygon>
                        <polygon class="st17" points="345,478 343.6,477.2 378.6,457 379.9,457.8 			"></polygon>
                        <path class="st2" d="M345,478l34.9-20.2l0.2,33.5l-34.9,20.2L345,478z M378.1,487.8l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L378.1,487.8z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="400.9,446.9 402,473.4 433.2,455.6 433.2,430.9 		"></polygon>
                    <g>
                        <polygon class="st15" points="402.5,475 401.1,474.2 432.8,455.9 434.2,456.7 			"></polygon>
                        <polygon class="st16" points="434.1,456.7 432.7,455.9 432.6,430.2 434,430.9 			"></polygon>
                        <polygon class="st16" points="401,480.4 399.7,479.6 399.5,446.1 400.9,446.9 			"></polygon>
                        <polygon class="st2" points="421.6,464 422.8,463.5 422.8,437.1 421.5,438 			"></polygon>
                        <polygon class="st16" points="421.7,464.1 420.4,463.3 420.2,437.1 421.6,437.9 			"></polygon>
                        <polygon class="st2" points="409.2,471.4 410.4,470.5 410.4,442.5 409.1,443.4 			"></polygon>
                        <polygon class="st16" points="409.4,471 408,470.2 407.9,443.5 409.2,444.3 			"></polygon>
                        <polygon class="st17" points="400.9,446.9 399.5,446.1 434.5,425.9 435.8,426.7 			"></polygon>
                        <path class="st2" d="M400.9,446.9l34.9-20.2l0.2,33.5L401,480.4L400.9,446.9z M434,456.7l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L434,456.7z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="733.7,254.5 734.8,281.1 766,263.3 766,238.5 		"></polygon>
                    <g>
                        <polygon class="st15" points="735.3,282.6 733.9,281.8 765.6,263.5 767,264.3 			"></polygon>
                        <polygon class="st16" points="766.9,264.3 765.5,263.5 765.4,237.8 766.8,238.6 			"></polygon>
                        <polygon class="st16" points="733.8,288 732.5,287.2 732.3,253.7 733.7,254.5 			"></polygon>
                        <polygon class="st2" points="754.4,271.7 755.6,271.2 755.6,244.7 754.3,245.6 			"></polygon>
                        <polygon class="st16" points="754.5,271.7 753.2,270.9 753,244.7 754.4,245.5 			"></polygon>
                        <polygon class="st2" points="742,279.1 743.2,278.1 743.2,250.1 741.9,251 			"></polygon>
                        <polygon class="st16" points="742.2,278.6 740.8,277.8 740.7,251.1 742,251.9 			"></polygon>
                        <polygon class="st17" points="733.7,254.5 732.3,253.7 767.3,233.5 768.6,234.3 			"></polygon>
                        <path class="st2" d="M733.7,254.5l34.9-20.2l0.2,33.5L733.8,288L733.7,254.5z M766.8,264.3l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L766.8,264.3z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="456.8,352.4 457.9,379 489.1,361.2 489.1,336.4 		"></polygon>
                    <g>
                        <polygon class="st15" points="458.3,380.5 457,379.8 488.7,361.4 490.1,362.2 			"></polygon>
                        <polygon class="st16" points="490,362.2 488.6,361.4 488.5,335.7 489.8,336.5 			"></polygon>
                        <polygon class="st16" points="456.9,385.9 455.5,385.1 455.4,351.6 456.8,352.4 			"></polygon>
                        <polygon class="st2" points="477.4,369.6 478.7,369.1 478.7,342.6 477.3,343.5 			"></polygon>
                        <polygon class="st16" points="477.6,369.6 476.2,368.8 476.1,342.6 477.5,343.4 			"></polygon>
                        <polygon class="st2" points="465.1,377 466.3,376 466.3,348.1 465,348.9 			"></polygon>
                        <polygon class="st16" points="465.2,376.5 463.9,375.8 463.7,349.1 465.1,349.8 			"></polygon>
                        <polygon class="st17" points="456.8,352.4 455.4,351.6 490.3,331.4 491.7,332.2 			"></polygon>
                        <path class="st2" d="M456.8,352.4l34.9-20.2l0.2,33.5l-34.9,20.2L456.8,352.4z M489.9,362.2l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L489.9,362.2z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="512.6,319.3 513.8,345.8 544.9,328 544.9,303.3 		"></polygon>
                    <g>
                        <polygon class="st15" points="514.2,347.4 512.9,346.6 544.6,328.3 545.9,329.1 			"></polygon>
                        <polygon class="st16" points="545.8,329.1 544.5,328.3 544.3,302.6 545.7,303.4 			"></polygon>
                        <polygon class="st16" points="512.8,352.8 511.4,352 511.3,318.5 512.6,319.3 			"></polygon>
                        <polygon class="st2" points="533.3,336.4 534.6,335.9 534.6,309.5 533.2,310.4 			"></polygon>
                        <polygon class="st16" points="533.5,336.5 532.1,335.7 532,309.5 533.4,310.3 			"></polygon>
                        <polygon class="st2" points="521,343.9 522.2,342.9 522.2,314.9 520.9,315.8 			"></polygon>
                        <polygon class="st16" points="521.1,343.4 519.8,342.6 519.6,315.9 521,316.7 			"></polygon>
                        <polygon class="st17" points="512.6,319.3 511.3,318.5 546.2,298.3 547.6,299.1 			"></polygon>
                        <path class="st2" d="M512.6,319.3l34.9-20.2l0.2,33.5l-34.9,20.2L512.6,319.3z M545.8,329.1l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L545.8,329.1z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="568.5,289.1 569.7,315.7 600.8,297.9 600.8,273.1 		"></polygon>
                    <g>
                        <polygon class="st15" points="570.1,317.3 568.7,316.5 600.5,298.1 601.8,298.9 			"></polygon>
                        <polygon class="st16" points="601.7,298.9 600.4,298.1 600.2,272.4 601.6,273.2 			"></polygon>
                        <polygon class="st16" points="568.7,322.6 567.3,321.8 567.2,288.3 568.5,289.1 			"></polygon>
                        <polygon class="st2" points="589.2,306.3 590.4,305.8 590.4,279.3 589.1,280.2 			"></polygon>
                        <polygon class="st16" points="589.4,306.3 588,305.5 587.9,279.3 589.2,280.1 			"></polygon>
                        <polygon class="st2" points="576.8,313.7 578.1,312.7 578.1,284.8 576.7,285.6 			"></polygon>
                        <polygon class="st16" points="577,313.2 575.6,312.5 575.5,285.8 576.9,286.5 			"></polygon>
                        <polygon class="st17" points="568.5,289.1 567.2,288.3 602.1,268.1 603.5,268.9 			"></polygon>
                        <path class="st2" d="M568.5,289.1l34.9-20.2l0.2,33.5l-34.9,20.2L568.5,289.1z M601.7,298.9l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L601.7,298.9z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="624.4,255 625.6,281.6 656.7,263.7 656.7,239 		"></polygon>
                    <g>
                        <polygon class="st15" points="626,283.1 624.6,282.3 656.3,264 657.7,264.8 			"></polygon>
                        <polygon class="st16" points="657.6,264.8 656.2,264 656.1,238.3 657.5,239.1 			"></polygon>
                        <polygon class="st16" points="624.5,288.5 623.2,287.7 623,254.2 624.4,255 			"></polygon>
                        <polygon class="st2" points="645.1,272.2 646.3,271.7 646.3,245.2 645,246.1 			"></polygon>
                        <polygon class="st16" points="645.2,272.2 643.9,271.4 643.7,245.2 645.1,246 			"></polygon>
                        <polygon class="st2" points="632.7,279.6 634,278.6 634,250.6 632.6,251.5 			"></polygon>
                        <polygon class="st16" points="632.9,279.1 631.5,278.3 631.4,251.6 632.8,252.4 			"></polygon>
                        <polygon class="st17" points="624.4,255 623,254.2 658,234 659.3,234.8 			"></polygon>
                        <path class="st2" d="M624.4,255l34.9-20.2l0.2,33.5l-34.9,20.2L624.4,255z M657.5,264.8l-0.1-24.7l-31.4,18.2l0.1,24.7l28.9-16.5
                            L657.5,264.8z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="680.3,223.8 681.4,250.4 712.6,232.6 712.6,207.9 		"></polygon>
                    <g>
                        <polygon class="st15" points="681.9,252 680.5,251.2 712.2,232.8 713.6,233.6 			"></polygon>
                        <polygon class="st16" points="713.5,233.6 712.1,232.8 712,207.1 713.4,207.9 			"></polygon>
                        <polygon class="st16" points="680.4,257.4 679.1,256.6 678.9,223 680.3,223.8 			"></polygon>
                        <polygon class="st2" points="701,241 702.2,240.5 702.2,214 700.9,214.9 			"></polygon>
                        <polygon class="st16" points="701.1,241 699.8,240.3 699.6,214 701,214.8 			"></polygon>
                        <polygon class="st2" points="688.6,248.4 689.8,247.4 689.8,219.5 688.5,220.4 			"></polygon>
                        <polygon class="st16" points="688.8,248 687.4,247.2 687.3,220.5 688.6,221.3 			"></polygon>
                        <polygon class="st17" points="680.3,223.8 678.9,223 713.9,202.9 715.2,203.7 			"></polygon>
                        <path class="st2" d="M680.3,223.8l34.9-20.2l0.2,33.5l-34.9,20.2L680.3,223.8z M713.4,233.6l-0.1-24.7L682,227.1l0.1,24.7
                            l28.9-16.5L713.4,233.6z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="233.2,480 234.4,506.6 265.5,488.8 265.5,464 		"></polygon>
                    <g>
                        <polygon class="st15" points="234.8,508.1 233.5,507.3 265.2,489 266.5,489.8 			"></polygon>
                        <polygon class="st16" points="266.4,489.8 265.1,489 264.9,463.3 266.3,464.1 			"></polygon>
                        <polygon class="st16" points="233.4,513.5 232,512.7 231.9,479.2 233.2,480 			"></polygon>
                        <polygon class="st2" points="253.9,497.2 255.2,496.7 255.2,470.2 253.8,471.1 			"></polygon>
                        <polygon class="st16" points="254.1,497.2 252.7,496.4 252.6,470.2 254,471 			"></polygon>
                        <polygon class="st2" points="241.6,504.6 242.8,503.6 242.8,475.6 241.5,476.5 			"></polygon>
                        <polygon class="st16" points="241.7,504.1 240.4,503.3 240.2,476.6 241.6,477.4 			"></polygon>
                        <polygon class="st17" points="233.2,480 231.9,479.2 266.8,459 268.2,459.8 			"></polygon>
                        <path class="st2" d="M233.2,480l34.9-20.2l0.2,33.5l-34.9,20.2L233.2,480z M266.4,489.8l-0.1-24.7l-31.4,18.2L235,508l28.9-16.5
                            L266.4,489.8z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="289.1,447.8 290.3,474.4 321.4,456.6 321.4,431.9 		"></polygon>
                    <g>
                        <polygon class="st15" points="290.7,476 289.3,475.2 321.1,456.9 322.4,457.6 			"></polygon>
                        <polygon class="st16" points="322.3,457.6 321,456.9 320.8,431.1 322.2,431.9 			"></polygon>
                        <polygon class="st16" points="289.3,481.4 287.9,480.6 287.7,447 289.1,447.8 			"></polygon>
                        <polygon class="st2" points="309.8,465 311,464.5 311,438.1 309.7,438.9 			"></polygon>
                        <polygon class="st16" points="310,465.1 308.6,464.3 308.5,438.1 309.8,438.9 			"></polygon>
                        <polygon class="st2" points="297.4,472.4 298.7,471.4 298.7,443.5 297.3,444.4 			"></polygon>
                        <polygon class="st16" points="297.6,472 296.2,471.2 296.1,444.5 297.5,445.3 			"></polygon>
                        <polygon class="st17" points="289.1,447.8 287.7,447 322.7,426.9 324.1,427.7 			"></polygon>
                        <path class="st2" d="M289.1,447.8l34.9-20.2l0.2,33.5l-34.9,20.2L289.1,447.8z M322.3,457.6l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L322.3,457.6z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="345,415.7 346.2,442.3 377.3,424.5 377.3,399.7 		"></polygon>
                    <g>
                        <polygon class="st15" points="346.6,443.8 345.2,443.1 376.9,424.7 378.3,425.5 			"></polygon>
                        <polygon class="st16" points="378.2,425.5 376.8,424.7 376.7,399 378.1,399.8 			"></polygon>
                        <polygon class="st16" points="345.1,449.2 343.8,448.4 343.6,414.9 345,415.7 			"></polygon>
                        <polygon class="st2" points="365.7,432.9 366.9,432.4 366.9,405.9 365.6,406.8 			"></polygon>
                        <polygon class="st16" points="365.8,432.9 364.5,432.1 364.3,405.9 365.7,406.7 			"></polygon>
                        <polygon class="st2" points="353.3,440.3 354.6,439.3 354.6,411.4 353.2,412.2 			"></polygon>
                        <polygon class="st16" points="353.5,439.8 352.1,439.1 352,412.4 353.4,413.1 			"></polygon>
                        <polygon class="st17" points="345,415.7 343.6,414.9 378.6,394.7 379.9,395.5 			"></polygon>
                        <path class="st2" d="M345,415.7l34.9-20.2l0.2,33.5l-34.9,20.2L345,415.7z M378.1,425.5l-0.1-24.7L346.7,419l0.1,24.7l28.9-16.5
                            L378.1,425.5z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="400.9,384.5 402,411.1 433.2,393.3 433.2,368.6 		"></polygon>
                    <g>
                        <polygon class="st15" points="402.5,412.7 401.1,411.9 432.8,393.6 434.2,394.3 			"></polygon>
                        <polygon class="st16" points="434.1,394.3 432.7,393.6 432.6,367.8 434,368.6 			"></polygon>
                        <polygon class="st16" points="401,418.1 399.7,417.3 399.5,383.7 400.9,384.5 			"></polygon>
                        <polygon class="st2" points="421.6,401.7 422.8,401.2 422.8,374.8 421.5,375.6 			"></polygon>
                        <polygon class="st16" points="421.7,401.8 420.4,401 420.2,374.8 421.6,375.6 			"></polygon>
                        <polygon class="st2" points="409.2,409.1 410.4,408.1 410.4,380.2 409.1,381.1 			"></polygon>
                        <polygon class="st16" points="409.4,408.7 408,407.9 407.9,381.2 409.2,382 			"></polygon>
                        <polygon class="st17" points="400.9,384.5 399.5,383.7 434.5,363.6 435.8,364.4 			"></polygon>
                        <path class="st2" d="M400.9,384.5l34.9-20.2l0.2,33.5L401,418.1L400.9,384.5z M434,394.3l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L434,394.3z"></path>
                    </g>
                </g>
                <g>
                    <polygon class="st14" points="733.7,192.2 734.8,218.7 766,200.9 766,176.2 		"></polygon>
                    <g>
                        <polygon class="st15" points="735.3,220.3 733.9,219.5 765.6,201.2 767,202 			"></polygon>
                        <polygon class="st16" points="766.9,202 765.5,201.2 765.4,175.5 766.8,176.3 			"></polygon>
                        <polygon class="st16" points="733.8,225.7 732.5,224.9 732.3,191.4 733.7,192.2 			"></polygon>
                        <polygon class="st2" points="754.4,209.4 755.6,208.9 755.6,182.4 754.3,183.3 			"></polygon>
                        <polygon class="st16" points="754.5,209.4 753.2,208.6 753,182.4 754.4,183.2 			"></polygon>
                        <polygon class="st2" points="742,216.8 743.2,215.8 743.2,187.8 741.9,188.7 			"></polygon>
                        <polygon class="st16" points="742.2,216.3 740.8,215.5 740.7,188.8 742,189.6 			"></polygon>
                        <polygon class="st17" points="733.7,192.2 732.3,191.4 767.3,171.2 768.6,172 			"></polygon>
                        <path class="st2" d="M733.7,192.2l34.9-20.2l0.2,33.5l-34.9,20.2L733.7,192.2z M766.8,202l-0.1-24.7l-31.4,18.2l0.1,24.7
                            l28.9-16.5L766.8,202z"></path>
                    </g>
                </g>
            </g>
            <g id="Слой_3">
                <g>
                    <g>
                        <g>
                            <polygon class="st18" points="455.2,599.3 455.1,639.6 455.1,640.3 455.1,648.3 447.6,653.2 447.7,644.1 447.7,643.4 
                                447.8,604.2 450.4,602.5 				"></polygon>
                        </g>
                        <g>
                            <polygon class="st19" points="447.8,604.2 447.7,643.4 447.7,644.1 447.6,653.2 442,649.1 442,640 442,639.2 442.1,600.1 
                                445.3,602.4 				"></polygon>
                        </g>
                        <g>
                            <polygon class="st20" points="450.6,602.6 447.7,604.2 444.9,602.6 447.7,600.9 				"></polygon>
                        </g>
                        <polygon class="st21" points="455.1,639.6 455.1,640.3 455.1,648.3 447.6,653.2 442,649.1 442,640 446.7,643.4 447.6,644.2 
                            447.7,644.1 			"></polygon>
                    </g>
                    <g>
                        <g>
                            <polygon class="st18" points="568.7,541.4 568.6,571.8 568.6,572.4 568.6,580.4 561.1,585.4 561.1,576.3 561.1,575.6 
                                561.2,546.3 563.9,544.5 				"></polygon>
                        </g>
                        <g>
                            <polygon class="st19" points="561.2,536.3 561.1,575.6 561.1,576.3 561.1,585.4 555.5,581.2 555.5,572.1 555.5,571.4 
                                555.5,536.6 558.7,534.5 				"></polygon>
                        </g>
                        <polygon class="st21" points="568.6,571.8 568.6,572.4 568.6,580.4 561.1,585.4 555.5,581.2 555.5,572.1 560.1,575.6 
                            561.1,576.3 561.1,576.3 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st22" points="489.1,583.2 489.6,620.3 463.4,635.4 463.6,598.8 			"></polygon>
                        <polygon class="st23" points="463.6,594.6 463.5,635.4 462.9,634.8 462.9,594 			"></polygon>
                        <polygon class="st23" points="476.8,627.6 478.5,626.6 478.5,590.2 476.7,591.1 			"></polygon>
                    </g>
                    <g>
                        <polygon class="st22" points="532.6,558 533.1,595.1 507,610.2 507.1,573.5 			"></polygon>
                        <polygon class="st23" points="507.1,569.9 507,610.2 506.4,609.5 506.4,569.3 			"></polygon>
                        <polygon class="st23" points="520.3,602.4 522.1,601.4 522.1,565 520.2,565.9 			"></polygon>
                    </g>
                    <g>
                        <g class="st24">
                            <g>
                                <polygon class="st25" points="435.4,600.9 435.4,605.7 464.4,622.6 464.4,617.8 					"></polygon>
                            </g>
                            <g>
                                <polygon class="st26" points="464.3,617.8 464.4,622.6 585.3,552.7 585.3,547.9 					"></polygon>
                            </g>
                            <g>
                                <polygon class="st27" points="435.4,600.9 464.4,617.8 585.3,547.9 556.3,531.1 					"></polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            </svg>
                </div>
                <div class="col-xs-6 col-sm-5 col-lg-5">                
                      <ul class="list-group" style=" margin-top: 95px;">
                          <a id="b5_5" href="5_5floor" class="list-group-item list-group-item-action">5 поверх - Факультет бізнесу і права, Факультет української й іноземної філології та журналістики</a>
                          <a id="b5_4" href="5_4floor" class="list-group-item list-group-item-action">4 поверх - Факультет психології, історії та соціології</a>
                          <a id="b5_3" href="5_3floor" class="list-group-item list-group-item-action">3 поверх - Факультет бізнесу і права, Факультет української й іноземної філології та журналістики</a>
                          <a id="b5_2" href="5_2floor" class="list-group-item list-group-item-action">2 поверх - Факультет бізнесу і права, Факультет української й іноземної філології та журналістики</a>
                          <a id="b5_1" href="5_1floor" class="list-group-item list-group-item-action">1 поверх</a>
                        </ul>
                </div> 
            </div> 
        </div>
        <script>
            tippy('#f5_1', {
              content: '1 поверх',
              placement: 'right-start',
             });
            tippy('#f5_2', {
              content: '2 поверх - Факультет бізнесу і права, Факультет української й іноземної філології та журналістики',
              placement: 'right-start'
            });
            tippy('#f5_3', {
              content: '3 поверх - Факультет бізнесу і права, Факультет української й іноземної філології та журналістики',
              placement: 'right-start'
            });
            tippy('#f5_4', {
              content: '4 поверх - Факультет психології, історії та соціології',
              placement: 'right-start'
            });
            tippy('#f5_5', {
              content: '5 поверх - Факультет бізнесу і права, Факультет української й іноземної філології та журналістики',
              placement: 'right-start'
            });
          </script>
<script>
    var bg1 = document.getElementById('f5_1');
    document.getElementById('b5_1').addEventListener("mouseover", function(){bg1.style.fill = "rgb(49, 112, 207)";this.addEventListener("mouseout", function(){bg1.style.fill = "";});
    });
    var bg2 = document.getElementById('f5_2');
    document.getElementById('b5_2').addEventListener("mouseover", function(){bg2.style.fill = "rgb(255, 174, 0)";this.addEventListener("mouseout", function(){bg2.style.fill = "";});
    });
    var bg3 = document.getElementById('f5_3');
    document.getElementById('b5_3').addEventListener("mouseover", function(){bg3.style.fill = "rgb(43, 201, 43)";this.addEventListener("mouseout", function(){bg3.style.fill = "";});
    });
    var bg4 = document.getElementById('f5_4');
    document.getElementById('b5_4').addEventListener("mouseover", function(){bg4.style.fill = "rgb(255, 115, 0)";this.addEventListener("mouseout", function(){bg4.style.fill = "";});
    });
    var bg5 = document.getElementById('f5_5');
    document.getElementById('b5_5').addEventListener("mouseover", function(){bg5.style.fill = "rgb(52, 199, 96)";this.addEventListener("mouseout", function(){bg5.style.fill = "";});
    });
 </script>
        <div class="bg-color-sky-light" data-auto-height="true">
            <div class="content-lg container">
                <div class="row row-space-1 margin-b-2">
                    <div class="col-sm-3 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" style="height: 315px;">
                                <div class="service-element">
                                    <i class="service-icon fas fa-th-large"></i>
                                </div>
                                <div class="service-info">
                                    <h3>1 поверх</h3>
                                    <p class="margin-b-5">1004.03 м²</p>
                                </div>
                                <a href="5_1floor" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" style="height: 315px;">
                                <div class="service-element">
                                    <i class="service-icon fas fa-book-reader"></i>
                                </div>
                                <div class="service-info">
                                    <h3>2 поверх</h3>
                                    <p class="margin-b-5">Факультет бізнесу і права, Факультет української й іноземної філології та журналістики</p>
                                    <p class="margin-b-5">1000.892 м²</p>
                                </div>
                                <a href="5_2floor" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" style="height: 315px;">
                                <div class="service-element">
                                    <i class="service-icon fas fa-language"></i>
                                </div>
                                <div class="service-info">
                                    <h3>3 поверх</h3>
                                    <p class="margin-b-5">Факультет бізнесу і права, Факультет української й іноземної філології та журналістики</p>
                                    <p class="margin-b-5">999.312 м²</p>
                                </div>
                                <a href="5_3floor" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" style="height: 315px;">
                                <div class="service-element">
                                    <i class="service-icon fas fa-pencil-alt"></i>
                                </div>
                                <div class="service-info">
                                    <h3>4 поверх</h3>
                                    <p class="margin-b-5">Факультет психології, історії та соціології</p>
                                    <p class="margin-b-5">1000.03 м²</p>
                                </div>
                                <a href="5_4floor" class="content-wrapper-link "></a>    
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="row row-space-1">
                    <div class="col-sm-3 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                            <div class="service" style="height: 315px;">
                                <div class="service-element">
                                    <i class="service-icon fas fa-user-graduate"></i>
                                </div>
                                <div class="service-info">
                                    <h3>5 поверх</h3>
                                    <p class="margin-b-5">Факультет бізнесу і права, Факультет української й іноземної філології та журналістики</p>
                                    <p class="margin-b-5">1010.498 м²</p>
                                </div>
                                <a href="5_5floor" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>   
                </div>

            </div>
        </div>

        <%- include('./partials/footer') %>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>


        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
    </body>
</html>