<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>

    <body>

        <%- include('./partials/header') %>

        <div class="parallax-window" data-parallax="scroll" data-image-src="img/2.jpg">
            <div class="parallax-content container">
              <h1 style="color:whitesmoke;">6 корпус 1 поверх</h1>
            </div>
        </div>

        <div class="container">
<div class="plan">
      
    <?xml version="1.0" encoding="utf-8"?>
    <svg version="1.1" id="6_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 776.4 960" style="enable-background:new 0 0 776.4 949.7;" xml:space="preserve" width="1000" height="800">
    <style type="text/css">
        .st1{fill:rgb(235, 233, 233);stroke:rgb(2, 2, 2);stroke-width:1.5;stroke-miterlimit:10;}
        .st2{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-miterlimit:10;}
        .st3{fill:white;stroke:rgb(68, 68, 68);stroke-width:1.5;stroke-miterlimit:10;}
        .st4{fill:#1D1D1B; font-size:12px;font-weight:700;}
        .st5{fill: black; font-size:13px; font-family:'Lemon/Milk(RUS BY LYAJKA) Regular';}
        .st7{fill: black; font-family:'FranklinGothic-Medium'; font-size:9.5px;}
        .st3:hover {
            fill:rgb(107, 142, 156);
        } 
    </style>
    <g id="Слой_1">
        <path class="st1" d="M31.9,949.7l2.6,3.1v-16.9h-9.7c0,0,0,16.1,0,16.9l2.9-2.9"></path>
        <polygon class="st1" points="23.4,926.3 736.7,926.3 736.7,576.3 613.5,576.3 616.5,92.4 400.2,92.4 400.2,20.4 177.5,20.4 
            177.5,569.6 23.4,569.6 	"></polygon>
            <g>
                <polyline class="st1" points="376.7,786.2 353.3,779.3 353.3,771.9 457.9,771.9 457.9,813.9 353.3,813.9 353.3,806.7 376.7,799.9 "></polyline>
                <line class="st1" x1="448.6" y1="780.4" x2="448.6" y2="805.7"></line>
                <line class="st1" x1="441.7" y1="780.4" x2="441.7" y2="805.7"></line>
                <line class="st1" x1="434.8" y1="780.4" x2="434.8" y2="805.7"></line>
                <line class="st1" x1="427.9" y1="780.4" x2="427.9" y2="805.7"></line>
                <line class="st1" x1="421" y1="780.4" x2="421" y2="805.7"></line>
                <line class="st1" x1="414.1" y1="780.4" x2="414.1" y2="805.7"></line>
                <line class="st1" x1="407.2" y1="780.4" x2="407.2" y2="805.7"></line>
                <line class="st1" x1="400.3" y1="780.4" x2="400.3" y2="805.7"></line>
                <line class="st1" x1="393.4" y1="780.4" x2="393.4" y2="805.7"></line>
                <line class="st1" x1="386.5" y1="780.4" x2="386.5" y2="805.7"></line>
            </g>
            <g>
                <polyline class="st1" points="283.3,44.9 313.6,33.1 313.6,20.4 178.1,20.4 178.1,92.4 313.6,92.4 313.6,80.2 283.3,68.4 		"></polyline>
                <line class="st1" x1="277.4" y1="38.2" x2="277.4" y2="74.6"></line>
                <line class="st1" x1="267.5" y1="38.2" x2="267.5" y2="74.6"></line>
                <line class="st1" x1="257.5" y1="38.2" x2="257.5" y2="74.6"></line>
                <line class="st1" x1="247.6" y1="38.2" x2="247.6" y2="74.6"></line>
                <line class="st1" x1="237.7" y1="38.2" x2="237.7" y2="74.6"></line>
                <line class="st1" x1="227.8" y1="38.2" x2="227.8" y2="74.6"></line>
                <line class="st1" x1="217.8" y1="38.2" x2="217.8" y2="74.6"></line>
                <line class="st1" x1="207.9" y1="38.2" x2="207.9" y2="74.6"></line>
                <line class="st1" x1="198" y1="38.2" x2="198" y2="74.6"></line>
                <line class="st1" x1="188.1" y1="38.2" x2="188.1" y2="74.6"></line>
            </g>
            <g>
                <polyline class="st1" points="391.8,207.7 387.3,193.4 382.6,193.4 382.6,257.4 409.6,257.4 409.6,193.4 405,193.4 400.6,207.7 	 "></polyline>
                <line class="st1" x1="389.2" y1="213.6" x2="403.9" y2="213.6"></line>
                <line class="st1" x1="389.2" y1="219.8" x2="403.9" y2="219.8"></line>
                <line class="st1" x1="389.2" y1="226" x2="403.9" y2="226"></line>
                <line class="st1" x1="389.2" y1="232.2" x2="403.9" y2="232.2"></line>
                <line class="st1" x1="389.2" y1="238.4" x2="403.9" y2="238.4"></line>
                <line class="st1" x1="389.2" y1="244.6" x2="403.9" y2="244.6"></line>
                <line class="st1" x1="389.2" y1="250.8" x2="403.9" y2="250.8"></line>
            </g>


        <polyline class="st2" points="293.4,844.8 457.9,844.8 457.9,870.3 442.5,880 	"></polyline>
        <polyline class="st2" points="457.9,888.7 457.9,926.3 233.3,926.3 233.3,844.8 275.5,844.8 	"></polyline>
        <polyline class="st2" points="177.2,661.2 177.2,719.2 177.2,844.8 264.1,844.8 264.1,752.1 	"></polyline>
        <polyline class="st2" points="264.1,736.2 264.1,719.2 264.1,612.1 177.2,612.1 177.2,647 	"></polyline>
        <polyline class="st2" points="357.9,499.9 339.9,499.9 339.9,569.6 398.5,569.6 398.5,499.9 373.3,499.9 	"></polyline>
        <polygon class="st2" points="177.5,137.6 177.5,92.4 313.6,92.4 313.6,145.7 276.8,145.7 276.8,137.6 	"></polygon>
        <polyline class="st2" points="393.2,163.3 409.6,163.3 409.6,92.4 462.1,92.4 462.1,136.2 454.5,143.9 	"></polyline>
        <polyline class="st2" points="345.8,163.3 379.4,163.3 385.5,172 	"></polyline>
        <polyline class="st2" points="341,193.4 313.6,193.4 313.6,163.3 335.7,163.3 	"></polyline>
        <line class="st2" x1="385.5" y1="193.4" x2="354.5" y2="193.4"></line>
        <polyline class="st2" points="409.6,381.6 409.6,343.5 422.6,333.7 	"></polyline>
        <polyline class="st2" points="409.6,464.9 409.6,400.3 421.3,391.6 	"></polyline>
        <polyline class="st2" points="413.1,612.1 264.1,612.1 177.2,612.1 177.2,569.6 264.1,569.6 398.5,569.6 398.5,499.9 409.6,499.9 
            409.6,485.1 	"></polyline>
        <polyline class="st2" points="601.2,205.7 614.4,205.7 614.4,311.2 528,311.2 528,437.9 458.4,437.9 458.4,612.1 431.1,612.1 	"></polyline>
        <polyline class="st2" points="462.1,151.2 462.1,204.7 583.7,205.7 	"></polyline>
        <line class="st2" x1="409.6" y1="284.8" x2="409.6" y2="321.4"></line>
        <polyline class="st2" points="406.6,193.4 409.6,193.4 409.6,269.5 	"></polyline>
        <polyline class="st2" points="313.6,82.7 313.6,92.4 400.2,92.4 400.2,20.4 313.6,20.4 313.6,28.3 	"></polyline>
        <polyline class="st2" points="431.1,612.1 457.9,612.1 457.9,719.2 383.4,719.2 383.4,612.1 411.4,612.1 	"></polyline>
        <line class="st2" x1="383.4" y1="720" x2="383.4" y2="612.1"></line>
        <g>
            <polygon class="st3" points="23.4,926.3 23.4,667.9 177.2,667.9 176.2,926.3 " id="d14"></polygon>
            <text transform="matrix(1 0 0 1 150.4576 689.3228)" class="st5 ">114</text>
        </g>
        <g>
            <rect x="264.6" y="612.1" class="st3" width="58.9" height="107.2" id="dwc"></rect>
            <text transform="matrix(1 0 0 1 283.3724 708.5537)" class="st5 ">WC</text>
        </g>
        <g>
            <rect x="324" y="612.1" class="st3" width="58.9" height="107.2" id="dwc"></rect>
            <text transform="matrix(1 0 0 1 345.4944 708.5537)" class="st5 ">WC</text>
        </g>
        <g>
            <polygon class="st3" points="177.2,569.6 177.2,368.7 313.6,368.7 313.6,501.6 339.9,501.6 339.9,569.6 		" id="d9"></polygon>
            <text transform="matrix(1 0 0 1 288.3181 481.949)" class="st5 ">109</text>
        </g>
        <g>
            <polygon class="st3" points="313.6,368.7 313.6,432.9 345.5,434 346.6,449.7 409.6,449.7 409.6,368.7 		" id="d8"></polygon>
            <text transform="matrix(1 0 0 1 385.9925 397.949)" class="st5 ">108</text>
        </g>
        <g>
            <rect x="177.2" y="293.4" class="st3" width="232.4" height="75.3" id="d7"></rect>
            <text transform="matrix(1 0 0 1 385.9925 336.4142)" class="st5 ">107</text>
        </g>
        <g>
            <rect x="313.6" y="193.4" class="st3" width="68.9" height="99.9" id="d6"></rect>
            <text transform="matrix(1 0 0 1 339.8983 207.6998)" class="st5 ">106</text>
        </g>
        <g>
            <rect x="360.3" y="92.4" class="st3" width="49.3" height="70.9" id="d5"></rect>
            <text transform="matrix(1 0 0 1 376.4565 157.3909)" class="st5 ">105</text>
        </g>
        <g>
            <polygon class="st3" points="462.1,203.7 462.1,92.4 528,92.4 528,205.7 		" id="d4"></polygon>
            <text transform="matrix(1 0 0 1 465.3402 147.859)" class="st5 ">104</text>
        </g>
        <g>
            <polygon class="st3" points="614.4,205.7 528,205.7 528,92.4 616.5,92.4 		" id="d2"></polygon>
            <text transform="matrix(1 0 0 1 579.3828 196.5924)" class="st5 ">102</text>
        </g>
        <g>
            <polygon class="st3" points="615.2,311.2 528,311.2 528,369.8 614.4,369.8 		" id="d3"></polygon>
            <text transform="matrix(1 0 0 1 548.4041 325.1118)" class="st5 ">103</text>
        </g>
        <g>
            <rect x="528" y="369.8" class="st3" width="86.4" height="68.1" id="d3a"></rect>
            <text transform="matrix(1 0 0 1 547.4246 383.4374)" class="st5 ">103a</text>
        </g>
        <g>
            <rect x="458.4" y="437.9" class="st3" width="69.6" height="74" id="d10a"></rect>
            <text transform="matrix(1 0 0 1 482.2433 505.9906)" class="st5 ">110a</text>
        </g>
        <g>
            <polygon class="st3" points="613.5,575.5 613.5,511.9 458.4,511.9 457.9,684.3 609.5,684.3 		" id="d10"></polygon>
            <text transform="matrix(1 0 0 1 467.9584 562.2332)" class="st5 ">110</text>
        </g>
        <g>
            <polygon class="st3" points="613.5,576.3 609.5,684.3 699.9,684.3 699.9,650.8 736.7,650.8 736.7,576.3 		" id="d12"></polygon>
            <text transform="matrix(1 0 0 1 614.4459 657.871)" class="st5 ">112</text>
        </g>
        <g>
            <polygon class="st3" points="457.9,926.3 457.9,820 609.5,820 609.5,684.3 699.9,684.3 699.9,650.8 736.7,650.8 736.7,926.3 		" id="d13"></polygon>
            <text transform="matrix(1 0 0 1 465.3395 883.9936)" class="st5 ">113</text>
        </g>
        <g>
            <rect x="457.9" y="684.3" class="st3" width="151.5" height="135.6" id="d13a"></rect>
            <text transform="matrix(1 0 0 1 568.1107 701.1268)" class="st5 ">113a</text>
        </g>
        <g>
            <polygon class="st3" points="613.5,513.3 528,513.3 528,437.9 614.4,437.9 		" id="d11"></polygon>
            <text transform="matrix(1 0 0 1 565.3201 505.9906)" class="st5 ">111</text>
        </g>
        <g>
            <rect x="177.5" y="137.6" class="st3" width="99.3" height="155.7" id="d1"></rect>
            <text transform="matrix(1 0 0 1 238.5301 151.3594)" class="st5 ">101</text>
        </g>
        <g>
            <rect x="23.4" y="569.6" class="st3" width="153.8" height="98.2" id="d14a"></rect>
            <text transform="matrix(1 0 0 1 117.7456 659.7165)" class="st5 ">114a</text>
        </g>
        <g>
            <rect x="176.4" y="844.8" class="st3" width="56.9" height="81.5" id="d14b"></rect>
            <text transform="matrix(1 0 0 1 178.9772 872.3925)" class="st5 ">114б</text>
        </g>
        <g>
            <rect x="276.8" y="145.7" class="st3" width="36.8" height="76.6" id="d1a"></rect>
            <text transform="matrix(1 0 0 1 279.7704 203.7849)" class="st5 ">101а</text>
        </g>
        <g>
            <rect x="276.8" y="222" class="st3" width="36.8" height="71.4" id="d1b"></rect>
            <text transform="matrix(1 0 0 1 279.4657 266.2712)" class="st5 ">101б</text>
        </g>
        <polyline class="st2" points="313.6,471.9 313.6,432.9 345.5,432.9 345.5,449.7 409.6,449.7 409.6,464.9 	"></polyline>
        <polyline class="st2" points="357.9,499.9 313.6,499.9 313.6,487.9 323.5,479.5 	"></polyline>
        <polyline class="st2" points="409.6,485.1 409.6,499.9 373.3,499.9 	"></polyline>
        <line class="st2" x1="176.4" y1="926.3" x2="176.4" y2="876.6"></line>
        <polyline class="st2" points="177.4,844.8 177.4,861.2 163.1,869 	"></polyline>
        <polyline class="st2" points="23.4,667.9 116.2,667.9 127.3,681.6 	"></polyline>
        <line class="st2" x1="177.5" y1="137.6" x2="237.6" y2="137.6"></line>
        <polyline class="st2" points="248.1,126.3 256.3,137.6 276.8,137.6 276.8,128.7 286.6,119.5 	"></polyline>
        <line class="st2" x1="277.7" y1="92.4" x2="277.7" y2="113.7"></line>
        <line class="st2" x1="276.8" y1="196.8" x2="276.8" y2="145.7"></line>
        <polyline class="st2" points="276.8,264 276.8,215.5 285.3,206.4 	"></polyline>
        <polyline class="st2" points="276.8,293.4 276.8,276.6 285.3,269.5 	"></polyline>
        <polyline class="st2" points="483.8,511.9 458.4,511.9 458.4,548.8 441.5,559 	"></polyline>
        <polyline class="st2" points="494.8,523.1 505.8,513.3 560.3,513.3 	"></polyline>
        <polyline class="st2" points="613.5,513.3 582.4,513.3 573.5,524.1 	"></polyline>
        <polyline class="st2" points="570.6,684.3 457.9,684.3 458.4,612.1 458.4,568.2 	"></polyline>
        <polyline class="st2" points="579.1,668.1 587.7,684.3 609.5,684.3 609.5,663.8 	"></polyline>
        <polyline class="st2" points="613.5,576.3 611.5,643.4 597.7,654.9 	"></polyline>
        <line class="st2" x1="528" y1="369.8" x2="545.2" y2="369.8"></line>
        <polyline class="st2" points="556.8,360.2 565.8,369.3 614.4,369.3 	"></polyline>
        <polyline class="st2" points="560.3,300.8 571,311.5 614.4,311.5 	"></polyline>
        <line class="st2" x1="528" y1="311.2" x2="549.6" y2="311.2"></line>
        <line class="st2" x1="601.2" y1="205.7" x2="614.4" y2="205.7"></line>
        <line class="st2" x1="400.2" y1="92.4" x2="409.6" y2="92.4"></line>
        <polyline class="st2" points="334.9,116 313.6,116 313.6,92.4 360.3,92.4 360.3,116 345.8,116 	"></polyline>
        <g>
            <polyline class="st2" points="345.9,116.1 360.3,116.1 360.3,139.7 345.8,139.7 		"></polyline>
            <polyline class="st2" points="334.9,139.7 313.6,139.7 313.6,116.1 335.4,116.1 		"></polyline>
        </g>
        <g>
            <polyline class="st2" points="345.9,139.7 360.3,139.7 360.3,163.3 345.8,163.3 		"></polyline>
            <polyline class="st2" points="334.9,163.3 313.6,163.3 313.6,139.7 335.4,139.7 		"></polyline>
        </g>
        <line class="st2" x1="177.5" y1="368.7" x2="409.6" y2="368.7"></line>
        <line class="st2" x1="409.6" y1="293.4" x2="177.2" y2="293.4"></line>
        <line class="st2" x1="313.6" y1="368.7" x2="313.6" y2="432.9"></line>
        <polyline class="st2" points="264.1,719.2 275.2,719.2 283.1,725.8 	"></polyline>
        <polyline class="st2" points="291.6,719.2 345.2,719.2 353.4,725.8 	"></polyline>
        <line class="st2" x1="361.4" y1="719.2" x2="383.4" y2="719.2"></line>
        <line class="st2" x1="324.6" y1="612.1" x2="324.6" y2="719.2"></line>
        <line class="st2" x1="354.5" y1="193.4" x2="349" y2="183.1"></line>
        <line class="st2" x1="313.6" y1="193.4" x2="313.6" y2="293.4"></line>
        <polyline class="st2" points="528,92.4 528,205.7 583.7,205.7 591.8,215 	"></polyline>
        <polyline class="st2" points="614.4,437.9 528,437.9 528,513.3 	"></polyline>
        <polyline class="st2" points="736.6,650.8 699.9,650.8 699.9,684.3 609.5,684.3 609.5,820 457.9,820 457.9,870.3 	"></polyline>
        <line class="st2" x1="457.9" y1="684.3" x2="457.9" y2="820"></line>
        <line class="st2" x1="276.8" y1="222" x2="313.6" y2="222"></line>
        <polyline class="st2" points="264.1,718.6 177.2,718.6 177.2,692.2 188.9,683.3 	"></polyline>
        <polyline class="st2" points="177.2,675.5 177.2,667.9 138.2,667.9 	"></polyline>
        <line class="st2" x1="264.6" y1="612.1" x2="264.6" y2="597.8"></line>
        <line class="st2" x1="264.6" y1="583.9" x2="264.6" y2="569.6"></line>
        <line class="st2" x1="398.5" y1="612.1" x2="398.5" y2="597.8"></line>
        <line class="st2" x1="398.5" y1="583.9" x2="398.5" y2="569.6"></line>
        <polyline class="st2" points="207,597.8 207,612.1 207,667.9 177.2,667.9 	"></polyline>
        <line class="st2" x1="207" y1="583.9" x2="207" y2="569.6"></line>
        <line class="st2" x1="409.6" y1="499.9" x2="423.8" y2="499.9"></line>
        <line class="st2" x1="443.7" y1="499.9" x2="457.9" y2="499.9"></line>
        <line class="st2" x1="387.9" y1="532" x2="398.5" y2="532"></line>
        <line class="st2" x1="357.9" y1="532" x2="380.1" y2="532"></line>
        <line class="st2" x1="339.9" y1="532" x2="350.1" y2="532"></line>
        <line class="st2" x1="369.2" y1="532" x2="369.2" y2="569.6"></line>
        <line class="st2" x1="409.6" y1="185.3" x2="409.6" y2="193.4"></line>
        <line class="st2" x1="409.6" y1="163.3" x2="409.6" y2="172"></line>
        <line class="st2" x1="409.6" y1="204.4" x2="434.5" y2="204.4"></line>
        <line class="st2" x1="446" y1="204.4" x2="462.1" y2="204.4"></line>
        <line class="st2" x1="409.6" y1="123" x2="434.5" y2="123"></line>
        <line class="st2" x1="446" y1="123" x2="462.1" y2="123"></line>
    </g>
    <g id="Слой_4">
        <text transform="matrix(1 0 0 1 196.2476 919.1714)" class="st7 ">6.5</text>
        <text transform="matrix(1 0 0 1 324.588 919.1714)" class="st7 ">28.6</text>
        <text transform="matrix(1 0 0 1 324.588 834.0651)" class="st7 ">38.5</text>
        <text transform="matrix(1 0 0 1 211.2263 837.9799)" class="st7 ">21.0</text>
        <text transform="matrix(1 0 0 1 30.1199 777.3364)" class="st7 ">87.5</text>
        <text transform="matrix(1 0 0 1 97.6944 582.3213)" class="st7 ">23.64</text>
        <text transform="matrix(1 0 0 1 180.5667 207.8721)" class="st7 ">27.5</text>
        <text transform="matrix(1 0 0 1 290.7157 155.4465)" class="st7 ">6.1</text>
        <text transform="matrix(1 0 0 1 290.7157 100.7034)" class="st7 ">2.6</text>
        <text transform="matrix(1 0 0 1 331.9072 100.7034)" class="st7 ">1.5</text>
        <text transform="matrix(1 0 0 1 331.9072 124.5108)" class="st7 ">1.5</text>
        <text transform="matrix(1 0 0 1 331.9072 148.3182)" class="st7 ">1.5</text>
        <text transform="matrix(1 0 0 1 287.1788 230.827)" class="st7 ">5.4</text>
        <text transform="matrix(1 0 0 1 286.5482 621.3841)" class="st7 ">3.9</text>
        <text transform="matrix(1 0 0 1 225.0188 621.3841)" class="st7 ">10.9</text>
        <text transform="matrix(1 0 0 1 185.4418 621.3841)" class="st7 ">2.7</text>
        <text transform="matrix(1 0 0 1 229.5269 577.299)" class="st7 ">3.1</text>
        <text transform="matrix(1 0 0 1 328.2504 577.299)" class="st7 ">7.9</text>
        <text transform="matrix(1 0 0 1 400.4768 547.3924)" class="st7 ">10.5</text>
        <text transform="matrix(1 0 0 1 348.4409 565.2071)" class="st7 ">1.2</text>
        <text transform="matrix(1 0 0 1 379.3723 565.2071)" class="st7 ">1.2</text>
        <text transform="matrix(1 0 0 1 363.4196 528.6964)" class="st7 ">3.1</text>
        <text transform="matrix(1 0 0 1 363.4196 459.2561)" class="st7 ">7.9</text>
        <text transform="matrix(1 0 0 1 479.8221 429.767)" class="st7 ">49.5</text>
        <text transform="matrix(1 0 0 1 186.8091 577.299)" class="st7 ">1.4</text>
        <text transform="matrix(1 0 0 1 346.1994 621.3841)" class="st7 ">3.9</text>
        <text transform="matrix(1 0 0 1 416.1625 712.6407)" class="st7 ">13.0</text>
        <text transform="matrix(1 0 0 1 183.737 329.3306)" class="st7 ">29.8</text>
        <text transform="matrix(1 0 0 1 563.6866 448.4891)" class="st7 ">10.6</text>
        <text transform="matrix(1 0 0 1 593.5276 407.4268)" class="st7 ">6.5</text>
        <text transform="matrix(1 0 0 1 593.5276 339.5119)" class="st7 ">7.4</text>
        <text transform="matrix(1 0 0 1 572.2469 100.7034)" class="st7 ">12.4</text>
        <text transform="matrix(1 0 0 1 492.5873 100.7034)" class="st7 ">12.2</text>
        <text transform="matrix(1 0 0 1 379.0554 100.7034)" class="st7 ">5.0</text>
        <text transform="matrix(1 0 0 1 432.6724 100.7034)" class="st7 ">1.64</text>
        <text transform="matrix(1 0 0 1 432.6724 133.2921)" class="st7 ">5.5</text>
        <text transform="matrix(1 0 0 1 487.3114 448.4891)" class="st7 ">7.3</text>
        <text transform="matrix(1 0 0 1 528.6093 811.4644)" class="st7 ">35.1</text>
        <text transform="matrix(1 0 0 1 713.0135 807.5494)" class="st7 ">95.1</text>
        <text transform="matrix(1 0 0 1 669.7369 587.1724)" class="st7 ">20.1</text>
        <text transform="matrix(1 0 0 1 593.5275 600.3066)" class="st7 ">44.8</text>
        <text transform="matrix(1 0 0 1 208.7504 479.7505)" class="st4">Навч. ауд</text>
    </g>
    </svg>    

</div>  
</div>       

        <%- include('./partials/footer') %>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>


        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>

        <script src="js/getDataFromJson.js"> </script>
        <script src="js/register_tippy.js">  </script> 
        <script> registerTippiesForBuildingAndFloor(6, 1); </script>
        
        </body>
        </html>