<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>

    <body>

        <%- include('./partials/header') %>


        <div class="parallax-window" data-parallax="scroll" data-image-src="img/2.jpg">
            <div class="parallax-content container">
              <h1 style="color:whitesmoke;">6 корпус 2 поверх</h1>
            </div>
        </div>
        <div class="container">
<div class="plan">
    <?xml version="1.0" encoding="utf-8"?>
    <svg version="1.1" id="6_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 995 949.7" style="enable-background:new 0 0 995 949.7;" xml:space="preserve" width="800" height="800">
    <style type="text/css">
        .st1{fill:rgb(235, 234, 234);stroke:#1D1D1B;stroke-width:1.5;stroke-miterlimit:10;}
        .st2{opacity: 0.9;fill:white;stroke:rgb(68, 68, 68);stroke-width:1.5;stroke-miterlimit:10;}
        .st4{fill: black; font-size:13px; font-family:'Lemon/Milk(RUS BY LYAJKA) Regular';}
        .st5{fill: black; font-family:'FranklinGothic-Medium'; font-size:10px;}
        .st2:hover {
            fill:rgb(233, 201, 20);
        } 
    </style>
    <g id="Слой_1">
        <g>
            <polyline class="st1" points="390.3,802.6 366.9,792.9 366.9,782.3 471.5,782.3 471.5,842.1 366.9,842.1 366.9,831.9 390.3,822.2 
                        "></polyline>
            <line class="st1" x1="471.5" y1="812.2" x2="388.1" y2="812.2"></line>
        </g>
        <g>
            <polyline class="st1" points="311.5,98.1 311.5,112.4 306.4,112.4 298.7,102.7 		"></polyline>
            <polyline class="st1" points="311.5,43.2 311.5,28.5 161.9,28.5 161.9,112.4 290.4,112.4 		"></polyline>
            <line class="st1" x1="161.9" y1="70.4" x2="281.2" y2="70.4"></line>
        </g>
        <polygon class="st1" points="745.4,853.7 745.4,926.3 341.1,926.3 339.6,850.6 	"></polygon>
        <polyline class="st1" points="339.8,861.3 339.6,850.6 745.5,853.7 745.5,635.1 982.5,635.2 982.5,551.4 957.4,551.4 956.9,573.7 
            613.5,573.7 616.5,28.6 161.9,28.4 161.9,573.6 45.4,573.6 45.4,926.3 341.1,926.3 340.3,885.8 351.3,874.6 	"></polyline>
        <polyline class="st1" points="270.4,128.8 256.8,137.4 256.8,162.3 228.5,162.3 219.1,150.8 	"></polyline>
        <polyline class="st1" points="256.8,120.4 256.8,112.4 162.9,112.4 162.9,162.3 208.6,162.3 	"></polyline>
        <polyline class="st1" points="229.3,162.3 256.8,162.3 256.8,247.6 162.9,247.6 162.9,162.3 208.6,162.3 	"></polyline>
        <polyline class="st1" points="402.2,112.4 410.5,112.4 410.5,28.5 311.5,28.5 311.5,112.4 389.3,112.4 394.5,121.4 	"></polyline>
        <polyline class="st1" points="441.5,112.4 468.8,112.4 468.8,28.5 410.5,28.5 410.5,112.4 425.9,112.4 433.4,121.4 	"></polyline>
        <polyline class="st1" points="485.6,103 468.8,103 468.8,120.3 458.3,126.9 	"></polyline>
        <polyline class="st1" points="502.3,103 615.7,103 615.7,180.2 502.8,180.2 492.9,180.2 468.8,180.2 468.8,135.9 	"></polyline>
        <polyline class="st1" points="486.2,103 468.8,103 468.8,28.5 615.7,28.5 615.7,103 502.3,103 493.8,93 	"></polyline>
        <polyline class="st1" points="482.8,180.2 468.8,180.2 468.8,197.3 455.4,207.3 	"></polyline>
        <polyline class="st1" points="468.8,215.9 468.8,247.6 615.7,247.6 615.7,180.2 502.8,180.2 	"></polyline>
        <polyline class="st1" points="416.9,188.6 416.9,151.7 318.9,151.7 318.9,210.6 336.9,210.6 336.9,229.7 416.9,229.7 416.9,208.1 
            428.2,198.9 	"></polyline>
        <polyline class="st1" points="318.2,266.7 318.2,271.3 359.5,271.3 359.5,291 412.1,291 412.1,251.4 423.6,239.9 	"></polyline>
        <polyline class="st1" points="412.1,231.7 412.1,229.7 337,229.7 337,247.8 318.2,247.8 318.2,251.4 304.8,257.9 	"></polyline>
        <polyline class="st1" points="317.8,346.1 161.9,346.1 161.9,247.6 318.8,247.6 318.8,210.6 	"></polyline>
        <polyline class="st1" points="412.1,293.4 412.1,291 359.5,291 359.5,271.3 318.2,271.3 318.4,293 304.8,301 	"></polyline>
        <polyline class="st1" points="318.7,309.9 318.2,332.3 412.1,332.3 412.1,305.8 421.3,298.8 	"></polyline>
        <polyline class="st1" points="317.8,415.2 317.8,425.1 412.1,425.1 412.1,508.5 161.9,508.5 161.9,346.1 317.8,346.1 317.8,396.8 	
            "></polyline>
        <polyline class="st1" points="318.2,415.8 318.2,424.2 412.1,424.2 412.1,360.4 421.3,351.7 	"></polyline>
        <polyline class="st1" points="412.1,342.5 412.1,332.3 318.2,332.3 318.2,398.2 304.8,406.6 	"></polyline>
        <polyline class="st1" points="531.1,347.6 531.1,442.5 614.2,442.5 614.2,247.6 531.1,247.6 531.1,330.8 519.3,338.5 	"></polyline>
        <polyline class="st1" points="221.9,573.9 412.1,573.9 412.1,508.5 161.9,508.5 161.9,573.9 202.7,573.9 212.4,590.5 	"></polyline>
        <polyline class="st1" points="434.8,424.2 412.1,424.2 412.1,499.3 424.6,499.3 434.8,509.5 	"></polyline>
        <polyline class="st1" points="441.7,499.3 503.7,499.3 503.7,442.5 477.4,442.5 477.4,424.2 457.9,424.2 446.5,412.5 	"></polyline>
        <polyline class="st1" points="503.7,523.3 503.7,530.6 545.2,530.6 545.2,573.9 614.2,573.9 614.2,442.5 503.7,442.5 503.7,504.9 
            488.9,514.4 	"></polyline>
        <polyline class="st1" points="745.4,611.6 745.4,635.1 881.2,635.1 881.2,610.9 	"></polyline>
        <polyline class="st1" points="729.4,601.7 745.4,593.3 745.4,573.7 881.2,573.9 881.2,591.7 869.4,600.2 	"></polyline>
        <polyline class="st1" points="881.2,610.9 881.2,635.1 982.5,635.1 982.5,551.4 957.4,551.4 957.4,573.7 881.2,573.7 881.2,589.4 	
            "></polyline>
        <polyline class="st1" points="341.1,926.3 745.4,926.3 745.4,853.7 	"></polyline>
        <polyline class="st1" points="492.9,573.9 545.2,573.9 545.2,530.7 443.7,530.7 443.7,573.9 472.7,573.9 483.1,590.5 	"></polyline>
        <line class="st1" x1="499.4" y1="573.9" x2="499.4" y2="559.6"></line>
        <polyline class="st1" points="499.4,530.7 499.4,545.1 487.4,552.7 	"></polyline>
        <line class="st1" x1="412.1" y1="573.9" x2="443.7" y2="573.9"></line>
        <line class="st1" x1="417.2" y1="177.1" x2="469.1" y2="177.1"></line>
        <line class="st1" x1="412.1" y1="315.6" x2="432.2" y2="315.6"></line>
        <line class="st1" x1="453.2" y1="315.6" x2="531.1" y2="315.6"></line>
        <line class="st1" x1="257.9" y1="151.7" x2="294.1" y2="151.7"></line>
        <polyline class="st1" points="318.2,151.7 310.5,151.7 302.8,143.9 	"></polyline>
        <polyline class="st1" points="318.2,202.6 310.5,202.6 302.8,193.7 	"></polyline>
        <line class="st1" x1="297.2" y1="202.6" x2="256.8" y2="202.6"></line>
        <line class="st1" x1="287.5" y1="202.6" x2="287.5" y2="218.3"></line>
        <polyline class="st1" points="287.5,247.6 287.5,232.4 294.7,225.2 	"></polyline>
        <g>
            <rect x="162.9" y="112.4" class="st2" width="94" height="49.9" id="d1"></rect>
            <text transform="matrix(1 0 0 1 232.8752 135.946)" class="st4 ">201</text>
        </g>
        <g>
            <rect x="162.9" y="162.3" class="st2" width="94" height="85.3" id="d2"></rect>
            <text transform="matrix(1 0 0 1 211.5461 176.0438)" class="st4 ">202</text>
        </g>
        <g>
            <rect x="311.5" y="28.5" class="st2" width="99.1" height="84" id="d3"></rect>
            <text transform="matrix(1 0 0 1 383.1943 107.3417)" class="st4 ">203</text>
        </g>
        <g>
            <rect x="410.5" y="28.5" class="st2" width="58.2" height="83.9" id="d4"></rect>
            <text transform="matrix(1 0 0 1 421.1305 105.69)" class="st4 ">204</text>
        </g>
        <g>
            <rect x="468.8" y="103" class="st2" width="146.9" height="77.1" id="d5"></rect>
            <text transform="matrix(1 0 0 1 472.7901 131.4676)" class="st4 ">205</text>
        </g>
        <g>
            <rect x="468.8" y="28.5" class="st2" width="146.9" height="74.5" id="d6"></rect>
            <text transform="matrix(1 0 0 1 485.2582 86.8737)" class="st4 ">206</text>
        </g>
        <g>
            <rect x="468.8" y="180.2" class="st2" width="146.9" height="67.4" id="d7"></rect>
            <text transform="matrix(1 0 0 1 472.7901 211.2141)" class="st4 ">207</text>
        </g>
        <g>
            <polygon class="st2" points="318.2,151.7 417.2,151.7 417.2,229.7 337.2,229.7 337.2,210.6 318.2,210.6 		" id="d8"></polygon>
            <text transform="matrix(1 0 0 1 392.1526 203.0439)" class="st4 ">208</text>
        </g>
        <g>
            <polygon class="st2" points="412.1,229.7 412.1,291 359.5,291 359.5,271.3 318.2,271.3 318.2,248.8 337,248.8 337,229.7 		" id="d9"></polygon>
            <text transform="matrix(1 0 0 1 388.5774 244.9588)" class="st4 ">209</text>
        </g>
        <g>
            <rect x="161.9" y="247.6" class="st2" width="155.9" height="98.6" id="d10"></rect>
            <text transform="matrix(1 0 0 1 284.705 312.0652)" class="st4 ">210</text>
        </g>
        <g>
            <path class="st2" d="M412.1,291v41.4h-93.9c0,0-1.7-61,0-61c1.7,0,41.3,0,41.3,0V291H412.1z" id="d11"></path>
            <text transform="matrix(1 0 0 1 385.5135 312.0652)" class="st4 ">211</text>
        </g>
        <g>
            <polygon class="st2" points="317.8,346.1 317.8,425.1 412.1,425.1 412.1,508.5 161.9,508.5 161.9,346.1 		" id="d12"></polygon>
            <text transform="matrix(1 0 0 1 284.705 419.2567)" class="st4 ">212</text>
        </g>
        <g>
            <rect x="318.2" y="332.3" class="st2" width="93.9" height="91.9" id="d13"></rect>
            <text transform="matrix(1 0 0 1 388.5774 358.0226)" class="st4 ">213</text>
        </g>
        <g>
            <rect x="531.1" y="247.6" class="st2" width="83.1" height="194.9" id="d14"></rect>
            <text transform="matrix(1 0 0 1 535.1731 343.5971)" class="st4 ">214</text>
        </g>
        <g>
            <rect x="161.9" y="508.5" class="st2" width="250.2" height="65.4" id="d15"></rect>
            <text transform="matrix(1 0 0 1 202.7051 569.1716)" class="st4 ">215</text>
        </g>
        <g>
            <polygon class="st2" points="412.1,424.2 477.4,424.2 477.4,442.5 503.7,442.5 503.7,499.3 412.1,499.3 		" id="d16"></polygon>
            <text transform="matrix(1 0 0 1 436.8965 435.895)" class="st4 ">216</text>
        </g>
        <g>
            <polygon class="st2" points="503.7,442.5 614.2,442.5 614.2,573.9 545.2,573.9 545.2,530.6 503.7,530.6 		" id="d17"></polygon>
            <text transform="matrix(1 0 0 1 507.5986 519.0439)" class="st4 ">217</text>
        </g>
        <g>
            <polygon class="st2" points="745.4,573.7 745.4,635.1 881.2,635.1 881.2,573.9 		" id="d18"></polygon>
            <text transform="matrix(1 0 0 1 749.3007 606.9588)" class="st4 ">218</text>
        </g>
        <g>
            <polygon class="st2" points="881.2,635.1 982.5,635.1 982.5,551.4 957.4,551.4 957.4,573.7 881.2,573.7 		" id="d18a"></polygon>
            <text transform="matrix(1 0 0 1 884.2074 604.8427)" class="st4 ">218A</text>
        </g>
        <g>
            <rect x="443.7" y="530.7" class="st2" width="101.4" height="43.1" id="dwc"></rect>
            <text transform="matrix(1 0 0 1 463.1028 571.5552)" class="st4 ">WC</text>
        </g>
        <g>
            <rect x="256.8" y="202.6" class="st2" width="60.9" height="44.9" id="dwc"></rect>
            <text transform="matrix(1 0 0 1 292.0388 214.4482)" class="st4 ">WC</text>
        </g>
    </g>
    <g id="Слой_4">
        <text transform="matrix(1 0 0 1 382.0556 722.2053)" class="st5">389.0</text>
        <text transform="matrix(1 0 0 1 802.7985 630.9713)" class="st5">10.9</text>
        <text transform="matrix(1 0 0 1 586.2189 505.3543)" class="st5">20.5</text>
        <text transform="matrix(1 0 0 1 274.3677 520.8011)" class="st5">28.3</text>
        <text transform="matrix(1 0 0 1 465.2751 541.2266)" class="st5">3.8</text>
        <text transform="matrix(1 0 0 1 513.7432 541.2266)" class="st5">3.3</text>
        <text transform="matrix(1 0 0 1 167.1124 421.0139)" class="st5">54.3</text>
        <text transform="matrix(1 0 0 1 167.1124 297.1415)" class="st5">24.6</text>
        <text transform="matrix(1 0 0 1 354.3603 328.6947)" class="st5">6.7</text>
        <text transform="matrix(1 0 0 1 354.3603 239.6522)" class="st5">7.2</text>
        <text transform="matrix(1 0 0 1 351.2826 163.2905)" class="st5">12.5</text>
        <text transform="matrix(1 0 0 1 333.7933 123.6096)" class="st5">17.0</text>
        <text transform="matrix(1 0 0 1 260.6156 182.3294)" class="st5">6.2</text>
        <text transform="matrix(1 0 0 1 264.7007 245.9926)" class="st5">2.1</text>
        <text transform="matrix(1 0 0 1 297.7007 245.9926)" class="st5">2.5</text>
        <text transform="matrix(1 0 0 1 351.2826 39.8649)" class="st5">10.7</text>
        <text transform="matrix(1 0 0 1 432.254 39.8649)" class="st5">6.4</text>

        <text transform="matrix(1 0 0 1 586.2189 67.9744)" class="st5">16.4</text>/>
	    <text transform="matrix(1 0 0 1 586.2189 146.0777)" class="st5">20.2</text>
	    <text transform="matrix(1 0 0 1 586.2189 216.0333)" class="st5">16.7</text>
	    <text transform="matrix(1 0 0 1 586.2189 347.1841)" class="st5">28.7</text>
        <text transform="matrix(1 0 0 1 351.2826 421.0139)" class="st5">14.2</text>
        <text transform="matrix(1 0 0 1 170.1901 200.364)" class="st5">9.9</text>
        <text transform="matrix(1 0 0 1 170.1901 139.533)" class="st5">5.5</text>
        <text transform="matrix(1 0 0 1 458.5305 510.6734)" class="st5">8.1</text>
        <text transform="matrix(1 0 0 1 921.3517 630.9713)" class="st5">10.3</text>
        <text transform="matrix(1 0 0 1 532.7507 918.6735)" class="st5">16.9</text>
        <text transform="matrix(1 0 0 1 439.9635 492.6734)" class="st5">11.9</text>
    </g></svg>
    
</div>    
</div>     

<%- include('./partials/footer') %>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/js/page.js"></script>
    
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>

        <script src="js/getDataFromJson.js"> </script>
        <script src="js/register_tippy.js">  </script> 
        <script> registerTippiesForBuildingAndFloor(6, 2); </script>
        
        </body>
        </html>