<!DOCTYPE html>
<html id="dashboard" lang="en">
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="/tippy.js@6.3.7/animations/scale.css">
    <script src="/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>
<body id="dash-body">
    <%- include('./partials/header') %>

    <div class="dash-container">
        <div class="dash-body">
            <%- include('./partials/dash-sidebar') %>
            <div class="dash-board">
                <div class="dash-board__container">
                    <ul class="dash-board__list">
                        <li class="dash-board__item">
                            <label for="number" class="dash-board__label">Номер</label>
                            <input v-model="number" id="number" type="number" class="dash-board__input" type="text">
                        </li>
                        <li class="dash-board__item">
                            <label for="capacity" class="dash-board__label">Кількість місць</label>
                            <input v-model="capacity" id="capacity" type="number" class="dash-board__input" type="text">
                        </li>
                        <li class="dash-board__item">
                            <label for="type" class="dash-board__label">Тип</label>
                            <select v-model="selectedRoomType" class="dash-select" name="type" id="type">
                                <option value="room">Лекційна</option>
                                <option value="pulpit">Лабораторія</option>
                                <option value="faculty">Комп'ютерна</option>
                            </select>
                        </li>
                        <li class="dash-board__item">
                            <label for="assistant" class="dash-board__label">Асистент</label>
                            <input v-model="assistant" id="assistant" type="text" class="dash-board__input" type="text">
                        </li>
                        <!-- <li class="dash-board__item">
                            <label for="capacity" class="dash-board__label">Кафедри</label>
                            <span class="dash-board__item-description">Перлічте через кому</span>
                            <input v-model="pulpits" id="capacity" type="text" class="dash-board__input" type="text">
                        </li> -->
                        <li class="dash-board__item">
                            <label for="description" class="dash-board__label">Опис Приміщення</label>
                            <textarea v-model="description" name="description" class="dash-board__textarea" id="description" cols="30" rows="10" placeholder="Введіть опис"></textarea>
                        </li>
                        <li v-cloak id="images-item" class="dash-board__item">
                            <label for="" class="dash-board__label">Зображення</label>
                            <input id="images" class="dash-board__input" enctype="multipart/form-data" multiple v-on:change="handleFileUpload" type="file" accept="image/*">
                        </li>
                        <!-- <li class="dash-board__item">
                            <label for="sensor" class="dash-board__label">Посилання на датчики</label>
                            <input id="sensor" type="text" class="dash-board__input">
                        </li> -->
                    </ul>
                    <button v-on:click="updateItem()" id="save" class="dash-button">
                        Зберегти
                    </button>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const item = JSON.parse(`<%- JSON.stringify(item) %>`);
    </script>
    <script src="/js/auth.js"></script>
    <script src="/js/edit.js"></script>
</body>
</html>