<!DOCTYPE html>
<html id="dashboard" lang="en">
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>


<body id="dash-body">
    <%- include('./partials/header') %>

    <div class="dash-container">
        <div class="dash-body">
            <%- include('./partials/dash-sidebar') %>
            <div class="dash-board">
                <div class="dash-board__container">
                    <div class="dash-board__filter-container">
                        <div class="dash-board__filter-text">
                            Фільтри
                        </div>
                        <div class="dash-board__filter-item">
                            <span class="dash-board__filter-heading">
                                Поверх:
                            </span>
                            <select class="dash-select" name="floor" id="floor">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                        <div class="dash-board__filter-item">
                            <span class="dash-board__filter-heading">
                                Факультет:
                            </span>
                            <select class="dash-select" name="faculty" id="faculty">
                                <option value="fcspm">ФКНФМ</option>
                                <option value="fif">ФІФ</option>
                                <option value="ffvs">ФФВС</option>
                            </select>
                        </div>
                        <div class="dash-board__filter-item">
                            <span class="dash-board__filter-heading">
                                Кафедра:
                            </span>
                            <select class="dash-select" name="pulpit" id="pulpit">
                                <option value="room">КІПІЕК</option>
                                <option value="room">Математики</option>
                            </select>
                        </div>
                    </div>
                    <div class="dash-list__container">
                        <ul class="dash-list">
                            <li class="dash-list__item" v-for="item in items">
                                <a v-bind:href="'/faculty/'+ item.name" class="dash-list__link">
                                    <span v-cloak class="dash-list__property dash-list__property_name">
                                        {{
                                            item.name
                                        }}
                                    </span>
                                    <span v-if="item.pulpits" v-cloak class="dash-list__property dash-list__property_pulpit">
                                        {{item.pulpits.length}}
                                    </span>
                                    <span v-else v-cloak class="dash-list__property dash-list__property_pulpit">
                                        0
                                    </span>
                                    <span v-if="item.floors" v-cloak class="dash-list__property dash-list__property_floor">
                                        {{item.floors.length}}
                                    </span>
                                    <span v-else v-cloak class="dash-list__property dash-list__property_floor">
                                        0
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    

    <script src="js/create-type-selector.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/faculty-list.js"></script>
</body>
</html>