<!DOCTYPE html>
<html id="dashboard" lang="en">
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="tippy.js@6.3.7/animations/scale.css">
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>


<body id="dash-body">
    <header class="header navbar-fixed-top">
    <nav class="navbar" role="navigation">
        <div class="container">
            
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>
              
                <div class="logo">
                    <a class="logo-wrap" href="index.html">
                        <img class="logo-img logo-img-main" src="img/logo.png" alt=" Logo">
                        <img class="logo-img logo-img-active" src="img/logo-dark.png" alt=" Logo">
                    </a>
                </div>                       
            </div>
   
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="index.html">Головна</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="manage.html">Керування</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="faculties.html">Факультети</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="1building.html">1 корпус</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="2building.html">2 корпус</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="5building.html">5 корпус</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="6building.html">6 корпус</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>
</header>

    <div class="dash-container">
        <div class="dash-body">
            <div class="dash-sidebar">
                <ul class="dash-sidebar__list">
                    <li class="dash-sidebar__item">
                        <a href="/manage" class="dash-sidebar__link">
                            Створити
                        </a>
                    </li>
                    <li class="dash-sidebar__item">
                        <a href="/room-list" class="dash-sidebar__link">
                            Список приміщень
                        </a>
                    </li>
                    <li class="dash-sidebar__item">
                        <a href="/floor-list" class="dash-sidebar__link">
                            Список поверхів
                        </a>
                    </li>
                    <li class="dash-sidebar__item">
                        <a href="/faculty-list" class="dash-sidebar__link">
                            Список факультетів
                        </a>
                    </li>
                    <li class="dash-sidebar__item">
                        <a href="/pulpit-list" class="dash-sidebar__link">
                            Список кафедр
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dash-board">
                <div class="dash-board__container">
                    <div class="dash-board__filter-container">
                        <div class="dash-board__filter-text">
                            Фільтри
                        </div>
                        <div class="dash-board__filter-item">
                            <span class="dash-board__filter-heading">
                                Поверх:
                            </span>
                            <select class="dash-select" name="floor" id="floor">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                        <div class="dash-board__filter-item">
                            <span class="dash-board__filter-heading">
                                Факультет:
                            </span>
                            <select class="dash-select" name="faculty" id="faculty">
                                <option value="fcspm">ФКНФМ</option>
                                <option value="fif">ФІФ</option>
                                <option value="ffvs">ФФВС</option>
                            </select>
                        </div>
                        <div class="dash-board__filter-item">
                            <span class="dash-board__filter-heading">
                                Кафедра:
                            </span>
                            <select class="dash-select" name="pulpit" id="pulpit">
                                <option value="room">КІПІЕК</option>
                                <option value="room">Математики</option>
                            </select>
                        </div>
                    </div>
                    <div class="dash-list__container">
                        <ul class="dash-list">
                            <li class="dash-list__item" v-for="item in items">
                                <a v-bind:href="'/floor/'+ item.number" class="dash-list__link">
                                    <span v-cloak class="dash-list__property dash-list__property_name">
                                        {{
                                            item.number
                                        }}
                                    </span>
                                    <span v-cloak class="dash-list__property dash-list__property_faculty">
                                        {{item.faculty}}
                                    </span>
                                    <span v-if="item.rooms" v-cloak class="dash-list__property dash-list__property_room">
                                        {{item.rooms.length}}
                                    </span>
                                    <span v-else v-cloak class="dash-list__property dash-list__property_room">
                                        0
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
    <div class="content container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="margin-b-0"><a class="color-base fweight-700" href="index.htm"> Херсоньский Державний Університет</a>
                    <br>© 2021<br> 
                     Koziura A., <a href="About/Faculty/FPhysMathemInformatics/ChairInformatics/Staff/Vinnik.aspx.html">Vinnik M.</a>, <a href="http://www.kspu.edu/About/DepartmentAndServices/DSAICI/Employee/Poltorackiy.aspx">Poltorackiy M.</a>, <a href="About/UniversityAdministration/ABC.aspx.html">Spivakovskiy O.
                </a></p>
            </div>
        </div>
    </div>
</footer>
    

    <script src="js/create-type-selector.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/floor-list.js"></script>
</body>
</html>